body {
    background-color: #f4f4f4 !important;
    /* background-image:url(../img/login/loginfoot2.png); */
    /* background-image:url(../assets/img/login/loginfoot2.png); */

    background-repeat:no-repeat;
    background-size:100% 50px;
    background-position:bottom center;
    /*background:url(../img/login/1.jpg) no-repeat center center;
    background-size:cover;*/
}
.logSctn{
    /* background-image:url(/assets/img/login/loginfoot2.png);
    background-repeat:no-repeat;
    background-size:100% 50px;
    background-position:bottom center; */
    background-color: #f1f1f1;
}
.log2row{
    height:100vh;
    padding-bottom:60px;
    /* background-color: #f4f4f4; */
}
.leftBox {
    position: relative;
    /*background: #000f57;*/
    background: #e8f1ff;
}
.hero-shape {
    bottom: 0;
    width: 70%;
}
.loginfoot{
    color:#555;
}
.hero-shape2 {
    width: 45%;
}