.vdesktopsctn{
    /* background: url(../../../../../../assets/img/graphBg.jpg) cover no-repeat bottom right; */
    /* background-image: url(/assets/img/graphBg.jpg); */
    background-size: cover;
    background-position: right bottom;
    background-color: #161342;
}