<section class="py-10 vdesktopsctn">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h4 class="text-info mb-0">Welcome to the world of</h4>
                <h2 class="h1 fw-bold text-white">Azure Virtual Desktop,
                </h2>
                <h3 class="text-white h5">the ultimate solution to your ever-evolving digital workspace needs!</h3>
                
            </div>
            <div class="col-md-5 text-md-end text-center text-lg-end">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="pb-5" style="margin-top: -50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-white rounded p-4 border-bottom border-5">
                    <p>As businesses rapidly transform in today's fast-paced, tech-driven environment, it's crucial to have a reliable, 
                        secure, and efficient virtual desktop infrastructure that enables you to stay ahead of the curve. Fortunately, 
                        UnifyCloud seamlessly integrates with Microsoft Azure to deliver a top-of-the-line virtual desktop experience 
                        tailored to your needs. In this exciting journey, we'll explore the powerful features and benefits of Azure Virtual 
                        Desktop, which not only empowers your team with unparalleled flexibility and accessibility but also helps you 
                        save on operational costs and enhance productivity. Discover how Azure Virtual Desktop can revolutionize your 
                        digital workspace, streamline operations, and propel your business to new heights! </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-5 py-2">
    <div class="container">
        <div class="row justify-content-between d-flex align-items-center">
            <div class="col-md-7">
                <h4 class="mb-4">Accelerate Your Migration and Deployment with Data-Driven Insights</h4>
                <p>At UnifyCloud Pvt Ltd, we offer a comprehensive Azure Virtual Desktop Assessment designed to streamline 
                    your migration and deployment process through a focused, data-driven approach. Our expert team analyzes 
                    your end-user desktop environment in-depth to determine the optimal strategy for transitioning to Azure 
                    Virtual Desktop, ensuring a seamless and efficient implementation.</p>

                    <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/deployment.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-5 light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <div class="mb-5">
                    <h3>Benefits of Azure Virtual Desktop for Businesses</h3>
                <p><strong>There are several benefits of leveraging Azure Virtual Desktop for your business, some of which include the 
                    following:</strong></p>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto"><img src="assets/img/icons/user-friendly.png" alt=""></div>
                        <div class="col text-start">
                            <h6>Increased productivity:</h6>
                            <p class="mb-0">With Azure Virtual Desktop, employees can work efficiently and 
                                effectively regardless of physical location by accessing a virtualized environment from 
                                anywhere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto"><img src="assets/img/icons/incredibly-scalable.png" alt=""></div>
                        <div class="col text-start">
                            <h6>Enhanced security: </h6>
                            <p class="mb-0">Azure Virtual Desktop offers built-in security features, such as Azure Active 
                                Directory integration and Multi-Factor Authentication, which help safeguard your 
                                organization's data and resources from unauthorized access.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto"><img src="assets/img/icons/cost-effective.png" alt=""></div>
                        <div class="col text-start">
                            <h6>Cost savings: </h6>
                            <p class="mb-0">Azure Virtual Desktop can significantly reduce your organization's IT 
                                infrastructure and maintenance costs by centralizing resources and eliminating the need for 
                                physical devices.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto"><img src="assets/img/icons/security.png" alt=""></div>
                        <div class="col text-start">
                            <h6>Simplified IT management:</h6>
                            <p class="mb-0">Azure Virtual Desktop simplifies IT management by providing a 
                                single platform for managing users, resources, and applications, reducing the time and effort 
                                required to maintain your organization's IT environment.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto"><img src="assets/img/icons/support.png" alt=""></div>
                        <div class="col text-start">
                            <h6>Scalability: </h6>
                            <p class="mb-0">Azure Virtual Desktop allows businesses to quickly scale their IT infrastructure 
                                according to their needs, ensuring they can quickly adapt to changing business requirements.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-6">
                <div>
                    <h2 class="fw-bold">Azure Virtual Desktop</h2>
                    <h5>features and capabilities</h5>
                    <p class="text-dark mt-3 lead">Azure Virtual Desktop boasts various features and capabilities, making it an ideal solution for businesses 
                        looking to virtualize their desktop and app environments. Some of these features include:</p>
                        
                </div>
            </div>
            <div class="col-md-6">
                <div class="shadow-sm bg-light p-3 border-info border">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/new-window.png" alt="">
                        </div>
                        <div class="col">
                            <h5 class="h6">Multi-session Windows 10</h5>
                            <p>Azure Virtual Desktop is the only virtual desktop solution that supports multi-session Windows 10, 
                                allowing multiple users to access the same virtual machine simultaneously. This feature improves 
                                resource utilization and reduces the overall cost of deployment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shadow-sm bg-light p-3 border-info border">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/database.png" alt="">
                        </div>
                        <div class="col">
                            <h5 class="h6">Flexible deployment</h5>
                            <p>With Azure Virtual Desktop, businesses can choose from various deployment options, such as pooled 
                                or personal virtual machines, to meet their unique requirements best.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shadow-sm bg-light p-3 mb-4 border-info border">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/microsoft.png" alt="">
                        </div>
                        <div class="col">
                            <h5 class="h6">Integration with Microsoft 365</h5>
                            <p>Azure Virtual Desktop seamlessly integrates with Microsoft 365, enabling users to access their familiar 
                                applications and files from the virtual environment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shadow-sm bg-light p-3 mb-4 border-info border">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/layer.png" alt="">
                        </div>
                        <div class="col">
                            <h5 class="h6">Application layering</h5>
                            <p>This feature allows businesses to deliver specific applications to users without needing an entire 
                                virtual desktop, reducing resource consumption and improving performance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shadow-sm bg-light p-3 mb-4 border-info border">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/remote-desktop.png" alt="">
                        </div>
                        <div class="col">
                            <h5 class="h6">Remote Desktop Services (RDS) support:</h5>
                            <p>Azure Virtual Desktop supports RDS, making it easy for businesses to migrate their existing RDS 
                                environments to the service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
        </div>
    </div>
</section>

<section class="py-10 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mb-5 text-center">
                <h3 class="h2 fw-bold">UnifyCloud's expert assessment methodology</h3>
                <p>To help businesses successfully deploy and manage Azure Virtual Desktop, UnifyCloud offers a comprehensive 
                    expert assessment methodology that includes the following:</p>
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-4 text-center border-bottom border-end">
                <div class="p-3">
                    <h4 class="h5 fw-bold mb-3">Requirement analysis</h4>
                    <p>In line with our 
                        dedication to your contentment, the 
                        UnifyCloud team thoroughly assesses your 
                        organization's requirements and goals. This 
                        analysis guarantees that the Azure Virtual 
                        Desktop solution is customized to address 
                        your particular demands effectively.</p>
                </div>
            </div>
            <div class="col-md-4 text-center border-bottom border-end">
                <div class="p-3">
                    <h4 class="h5 fw-bold mb-3">Infrastructure assessment</h4>
                    <p>As part of 
                        the evaluation process, UnifyCloud identifies 
                        potential bottlenecks and improvement 
                        areas in your organization's current IT 
                        infrastructure, which allows them to design 
                        an optimal Azure Virtual Desktop 
                        environment for you.</p>
                </div>
            </div>
            <div class="col-md-4 text-center border-bottom">
                <div class="p-3">
                    <h4 class="h5 fw-bold mb-3">Security and compliance review</h4>
                    <p>UnifyCloud conducts a comprehensive 
                        security and compliance review, ensuring 
                        that your Azure Virtual Desktop environment 
                        adheres to industry best practices and 
                        regulatory requirements.</p>
                </div>
            </div>
            <div class="col-md-4 text-center border-end">
                <div class="p-3">
                    <h4 class="h5 fw-bold mb-3">Performance optimization</h4>
                    <p>UnifyCloud team of specialists will diligently 
                        oversee the Azure Virtual Desktop setting to 
                        pinpoint and rectify performance-related 
                        concerns, guaranteeing users a smooth and 
                        efficient experience.
                        </p>
                </div>
            </div>
            <div class="col-md-4 text-center border-end">
                <div class="p-3">
                    <h4 class="h5 fw-bold mb-3">Cost optimization</h4>
                    <p>UnifyCloud assists 
                        businesses in optimizing their Azure Virtual 
                        Desktop costs by recommending the most 
                        effective resource allocation, licensing 
                        options, and storage configurations, 
                        resulting in significant cost savings.
                        </p>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h6 class="h2 fw-bold">Get Started with UnifyCloud Pvt Ltd</h6>
                <p>Take the initial step towards a more efficient, secure, and scalable desktop environment by partnering with 
                    UnifyCloud Pvt Ltd. Reach out to us at <a href="mailto:isr@unifycloud.in">isr@unifycloud.in</a> or <a href="tel:9625603581">96256 03581</a> to learn more about our Azure Virtual 
                    Desktop Assessment and discover how we can help you unlock the full potential of cloud-based desktop 
                    solutions.</p>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>