<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h3">Privacy, Copyright, Disclaimer</h1>
                <p>The Unified Cloud Private Limited (Unify Cloud India) privacy, copyright and disclaimer statements are designed to protect your rights and govern the use of information on this website.</p>
                <h4>Collecting your information</h4>
                <h6>Unify Cloud India holds your personal information in accordance with this privacy statement and we will:</h6>
                <ul>
                    <li>Tell you when and for what purpose we will be collecting the information</li>
                    <li>Tell you what information is necessary to access Unify Cloud India’s products, solutions, and services, including payments and transactions</li>
                    <li>Not ask for or collect any personal or sensitive information about you unless it is necessary to meet legal, public interest or statistical requirements to complete the requested transaction</li>
                    <li>Take all reasonable steps to permanently remove personal identification from the information collected about you if it is no longer needed</li>
                </ul>
                <h4>Using your information</h4>
                <h6>When you provide Unify Cloud India with your personal information we will:</h6>
                <ul>
                    <li>Use the information (your name, email, contact number, social profiles) to help you inform about Unify Cloud India’s solutions, products, and services</li>
                    <li>Aggregate the data for analysis</li>
                    <li>Store your data on secure servers, in email databases, survey tools, event management databases and CRM</li>
                </ul>
                <h4>Disclosing your personal information</h4>
                <h6>We will not disclose your personal information to any other person or organisation unless one of the following reasons apply:</h6>
                <ul>
                    <li>You have given us your consent to do so</li>
                    <li>The information is needed to conduct a transaction between you and that person or organisation</li>
                    <li>We are required by law to do so</li>
                    <li>That person or organisation is providing a service to Unify Cloud India and is required to maintain the same or similar privacy legislation principles</li>
                </ul>
                <h4>Security of your information</h4>
                <h6>When handling your information, Unify Cloud India will:</h6>
                <ul>
                    <li>Take reasonable steps to ensure that all information we collect, use or disclose is accurate, complete, up to date and securely stored</li>
                    <li>Monitor transmissions sent to or from Unify Cloud India for quality control and systems administration</li>
                    <li>Strive to protect your personal information from misuse, loss and unauthorised access; however we cannot guarantee security</li>
                    <li>Operate secure servers to minimise the risk of unauthorised use of your credit card information</li>
                    <li>Provide a means of contacting us for accessing, correcting or updating your information</li>
                </ul>
                <p>Accessing, correcting or updating your personal information
                    For more information on Unify Cloud India’s privacy policy or to request access to identifiable personal information, seek correction of such information, or complain about a breach contact Unify Cloud India - Marketing at <a href="mailto:vivek@unifycloud.in">vivek@unifycloud.in</a> with the subject line “privacy”.
                    </p>
                    <h4>Remarketing</h4>
                    <p>At times, Unify Cloud India uses third-party vendor re-marketing tracking cookies, including the Google Adwords tracking cookie and various social media remarketing cookies. This means we will continue to show ads to you across the internet such as social media platforms or the Google Content Network. As always we respect your privacy and are not collecting any identifiable information through the use of Google’s, or any other third party, remarketing system.</p>
                    <p>These third-party vendors will place cookies on web browsers in order to serve ads based on past visits to our website. This allows us to make special offers and continue to promote Unify Cloud India to those who have shown interest. If you have concerns, visitors can opt out of Google’s use of cookies by visiting <a href="https://www.google.com/settings/ads">Google’s Ads Settings</a> .</p>
                    <h4>Copyright</h4>
                    <p>Unify Cloud India owns or licenses all content on this website and we assert our right to be recognised as the author of original material on this website.</p>
                    <p>Unify Cloud India supports the sharing of information and the use of the website content for the purposes of private study, research, awareness & education, interest. However, you are not permitted to reproduce or reuse content on this website for commercial purposes.</p>
                    <h4>Disclaimer</h4>
                    <p>Unify Cloud India distributes the information on this website as a general reference source.</p>
                    <p>This website contains links to other websites operated by organisations other than Unify Cloud India. The other websites are outside of Unify Cloud India’s control and links are provided for your convenience.</p>
                    <p>Despite our best efforts, Unify Cloud India makes no warranties that the information in this publication is free of infection by computer viruses or other contamination.</p>
                    <p>Unify Cloud India disclaims all responsibility and all liability (including through negligence) for all expenses, losses, damages and costs you might incur as a result of the information on this website or any linked website being inaccurate or incomplete.</p>
            </div>
        </div>
    </div>
</section>