<section class="py-5" style="background-color:#f0e8e8;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h6>Welcome to our Career Page! </h6>
                <h4 class="display-6">We are excited that you are considering joining our team. Below you will find information about our company and our available opportunities.</h4>
            </div>
            <div class="col-md-5 text-center">
                <img src="assets/img/career.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 mb-4">
                <h6>We are looking for talented individuals to join our team in various roles. No matter what stage of your career you are in or what your level of experience is, we have opportunities for you. Currently, we are hiring in the following areas:</h6>
            </div>
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading4">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Channel Partner (North India)  <span class="badge bg-success ms-3">Open</span>
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h5>Channel Partner for The Unified Cloud</h5>
                                <h6>Job Title: - Channel Partner (North India)  </h6>
                                <P><strong>Experience :</strong> (2 - 5 years) Years</P>
                                <P><strong>Job Location:</strong> Delhi/ NCR</P>
                                <p>Company URL: - <a href="https://www.unifycloud.com/">https://www.unifycloud.com/</a></p>
                                <h5 class="h6 mt-4 fw-bold">Job Description</h5>
                                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company helping organizations achieve digital transformation by using the power of Cloud. We are a strong team of 200+ employees, helped 1000+ customers in their cloud journey in last 12+ years and having one of the largest team of certified and experienced Azure engineers in India. We are Microsoft Gold Partner and Microsoft Certified Migration, Managed Services, Devops, providing solutions around Cloud Consulting, Migration, Devops, Open AI and Analytics with presence in Noida and Gurgaon. Unified Cloud Pvt Ltd (Unify Cloud) is also the winner of Microsoft Partner of the Year -2019, 2020 and 2022 Award.</p>
                                <p>The individual will be expected to have good software sales knowledge and market segments and sales processes. </p>
                                <p>The individual should have experience in managing Distributors, Resellers, and Large System Integrators in a high-volume and high-speed sales motion. </p>
                                
                                <ul>
                                    <li>Aid the territory of North, West and East India </li>
                                    <li>Achieving its overall goals with specific measurements around revenue, coverage, channel breadth, and product mix with the highest levels of integrity. </li>
                                    <li>Demonstrate sound business acumen in channel business development, which resonates with UnifyCloud policy in working with partners. </li>
                                    <li>Builds financially sound, executable, revenue-driven partner business plans that are documented and agree on conditions of satisfaction with managed partners in assigned territory. </li>
                                    <li>Drive Channel recruitment and enablement with new channels through VADs and develop a specialized channel ecosystem </li>
                                    <li>Conduct sales forecasts, planning, demand generation, deal strategy development and trend analysis. </li>
                                    <li>Identifies and drives execution of breakthrough growth initiatives </li>
                                    <li>Marketing fund planning and execution </li>
                                    <li>QBR (Quarterly Business Review) meeting with key channels </li>
                                </ul>
                                <h6>Required skills and experience: </h6>
                                <ul>
                                    <li>Bachelor’s degree, preferably in a technology field </li>
                                    <li>Experience in software or technology sales from the specified market </li>
                                    <li>Fluency in English </li>
                                    <li>An understanding of Azure and Microsoft Products </li>
                                    <li>A self starter with a proven track record of achieving sales targets </li>
                                    <li>Detail oriented with strong follow-up skills </li>
                                    <li>Effective negotiating skills with ability to close sales </li>
                                    <li>Excellent interpersonal and presentation skills (written and verbal) </li>
                                    <li>Productive in a globally distributed team through self-discipline and self-motivation </li>
                                    <li>Mature approach to long-term relationship development with customers </li>
                                    <li>The ability to represent the company at external events </li>
                                    <li>Start-up experience would be an advantage </li>
                                </ul>
                                <h5 class="h6 mt-4 fw-bold">Please share your updated cv along with details.</h5>
                                <p>Please share your updated cv along with details; send the cv to (<a href="mailto:stutis@unifycloud.com">stutis@unifycloud.com</a>)</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading3">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Telecaller / Followup Coordinator <span class="badge bg-success ms-3">Open</span>
                            </button>
                        </h2>
                        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h6>Job Title: - Telecaller / Followup Coordinator </h6>
                                <P><strong>Education :</strong> Graduate/Under-Graduate</P>
                                <P><strong>Experience :</strong> 0-3years</P>
                                <P><strong>Job Location:</strong> Sector 58 Noida (Nearest Metro Station: Sector 59)</P>
                                <P><strong>Industry Type:</strong> IT Cloud</P>
                                <P><strong>Functional Area:</strong> Telecalling/Coordination</P>
                                <P><strong>Career Level :</strong> Executive/Non-managerial</P>
                                <h5 class="h6 mt-4 fw-bold">Desired Candidate Skills</h5>
                                <ul>
                                    <li>Good Communication Skills</li>
                                    <li>Good in Telephone Etiquette</li>
                                    <li>Good in Follow-ups</li>
                                    <li>Should have basic Computer Skills</li>
                                </ul>
                                <h5 class="h6 mt-4 fw-bold">Job Description</h5>
                                <ul>
                                    <li>Pitching New Programs to New/Existing Clients</li>
                                    <li>Routine Follow up with the New/Existing Clients</li>
                                    <li>Day to day reporting on leads etc.</li>
                                </ul>
                                <h5 class="h6 mt-4 fw-bold">Shift Timings: 10 AM to 6:00 PM</h5>
                                <h5 class="h6 mt-4 fw-bold"><strong>Gender :</strong> Female</h5>
                                <h5 class="h6 mt-4 fw-bold">Company Profile</h5>
                                <p>UnifyCloud, Pvt Ltd is a renowned information technology and cloud solutions provider in Noida, India. We focus on Cybersecurity, Compliance, and Cost management. Developed by a dedicated team of former Microsoft architects, developers, and Cybersecurity professionals, our in-depth experience in global and complex enterprises has allowed us to continually provide innovative and secure solutions, earning us recognition and awards from the industry. As such, we ranked #353 in the U.S. 2015 Inc. 500 and are Microsoft Gold Partners and Cloud Solution Providers.</p>

                                <h5 class="h6 mt-4 fw-bold">[Note: 5 Days Weekend off ]</h5>
                                <p>Please share your updated cv along with details; send the cv to (<a href="mailto:stutis@unifycloud.com">stutis@unifycloud.com</a>)</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                BDM- Cloud Sales for The Unified Cloud<span class="badge bg-success ms-3">Open</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h6>Job Title: - BDM/Sr. Manager - Cloud sales (SMB Market) </h6>
                                <p><strong>Experience:</strong> - (6 -12 years) Years (minimum 4-6 yrs. in Cloud Sales /Software services/managed service) </p>
                                <p>Location: - Delhi/ NCR </p>
                                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company helping organizations achieve digital transformation by using the power of the Cloud. We are a strong team of 200+ employees, helped 1000+ customers in their cloud journey in the last 12+ years, and have one of the largest teams of certified and experienced Azure engineers in India. We are Microsoft Gold Partner and Microsoft Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards. </p>

                                <h6>Tech Partnerships</h6>
                                <ul>
                                    <li>Premier Consulting Partner - Azure </li>
                                    <li>Azure Certified Migration, Managed Services & DevOps Partner </li>
                                </ul>

                                <h6>Job Description</h6>
                                <ul>
                                    <li>Develop a strong presence within the territory with both customers and partners.</li>
                                    <li>Drive revenue and deliver quarterly target numbers. </li>
                                    <li>Build and manage relationships with SMB and mid-market customers.</li>
                                    <li>Qualify opportunities and build a business pipeline. </li>
                                    <li>Understand customer problems and work with the technical team to create solutions. </li>
                                    <li>Presentation of solutions to Senior Management in customer organizations. </li>
                                    <li>Commercial negotiations and close orders for products and services </li>
                                    <li>Work closely with partner organizations, build joint go-to-market strategies, and execute the strategy. </li>
                                    <li>To collaborate with other cross-functional teams to propose cloud solutions. </li>
                                    <li>5 days Working </li>
                                    <li>Flexible Work Timings </li>
                                </ul>

                                <h6>Desired Candidate</h6>
                                <ul>
                                    <li>4+ years in sales, majorly in sales in Cloud Solutions/ SMB / IT Solutions/ Software (SaaS)/ </li>
                                    <li>Experience in selling services like Managed Services or Software services </li>
                                    <li>Track record of meeting the quota numbers from year-on-year </li>
                                    <li>Strong knowledge of cloud solutions - preferably AWS, Azure, Google, or Managed Hosting vendors. </li>
                                    <li>A fundamental understanding of IT architecture is preferred. </li>
                                    <li>Consultative or solution-selling experience of 4-6 years. </li>
                                    <li>Experience selling Cloud (SMB), IT solutions, Software ( SaaS ), Azure, etc. </li>
                                    <li>Engage with strategic partners to drive mutually beneficial revenue opportunities. </li>
                                    <li>Significant experience with face-to-face presentations to executive level decision-makers </li>
                                    <li>Show consistent success with maintaining and building client relationships within an enterprise account base </li>
                                    <li>Experience creating and developing long-term client relationships. </li>
                                    <li>Evidence of high performance, entrepreneurial spirit, and team player </li>
                                </ul>

                                <h6>Please share your updated cv along with details. </h6>
                                <p>Send the cv (<a href="mailto:stutis@unifycloud.com">stutis@unifycloud.com</a>) </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Inside Sales Representative - Cloud Sales for The Unified Cloud <span class="badge bg-success ms-3">Open</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h6>Job Title: - Inside Sales Representative - Cloud sales (SMB Market) </h6>
                                <p><strong>Experience:</strong> - (2-5 years) Years (minimum 1 yrs. in Cloud Sales /Software services/managed service) </p>
                                <p>Location: - Delhi/ NCR </p>

                                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company helping organizations achieve digital transformation using the power of the Cloud. We are a strong team of 200+ employees, helped 1000+ customers in their cloud journey in the last 12+ years, and have one of the largest teams of certified and experienced Azure engineers in India. We are Microsoft Gold Partner and Microsoft Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd (Unify Cloud) also won the Microsoft Partner of the Year -2019, 2020, and 2022 Awards. </p>
                                <h6>Tech Partnerships </h6>
                                <ul>
                                    <li>Premier Consulting Partner - Azure </li>
                                    <li>Azure Certified Migration, Managed Services & DevOps Partner </li>
                                </ul>
                                <h6>Job Description</h6>
                                <p>The ideal candidate should have the motivation to make persistent outbound sales efforts and set new business appointments using a variety of channels, methodologies and sales strategies. He/she will be responsible for generating monthly sales through outbound cold calling or lead generation which plays a key role in the growth and expansion of Unify Cloud Services and its product offerings.</p>

                                <h6>Key Functional Responsibilities </h6>
                                <ul>
                                    <li>Develop understanding of Azure Cloud Hosting services and overall value proposition.</li>
                                    <li>Make daily outreach to prospects and leads through phone, email, LinkedIn and other channels.</li>
                                    <li>Contribute to the business revenue goals.</li>
                                    <li>Meet established activity targets and key performance indicators, including outbound calls per day, follow up calls, and sales.</li>
                                    <li>Handle all prospects with courtesy and professionalism; Establish and maintain a high level of prospect satisfaction in all interactions.</li>
                                    <li>Act as a product consultant when promoting, recommending, and selling the value of Ace Cloud Hosting products and services.</li>
                                    <li>Effectively balance new lead generation versus follow up efforts. Create a strong follow up plan that will allow for greater efficiency and increased sales conversion rates.</li>
                                    <li>Ensure database information is accurate and complete.</li>
                                    <li>Perform other duties as requested.</li>
                                </ul>

                                <h6>Skill Requirement </h6>
                                <ul>
                                    <li>Sales experience in AWS, GCP or Azure or similar products will be an added advantage.</li>
                                    <li><strong>Team handling experience is required.</strong></li>
                                    <li>A positive attitude and an ability to demonstrate persistence in the face of adversity.</li>
                                    <li>History of Constantly achieving sales Quota.</li>
                                    <li>Great interpersonal skills / organizational skills.</li>
                                    <li>Exceptional oral and written communication skills.</li>
                                    <li>Cloud Sales Background Preferred.</li>
                                    <li>Confident, Self-Motivated and Commission Driven.</li>
                                </ul>
                                <h6>Additional Requirement</h6>
                                <ul>
                                    <li>Experience using LinkedIn, Outlook, Excel and CRM tools.</li>
                                    <li>Experience selling services for a B2B business.</li>
                                    <li>Exceptional communications skills with American accent Preferred.</li>
                                    <li>Should be comfortable working from office.</li>
                                </ul>
                                <p>Please share your updated cv along with details; send the cv to (<a href="mailto:stutis@unifycloud.com">stutis@unifycloud.com</a>)</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4 d-none">
                <div class="jobBox bg-light shadow-sm p-4 position-relative border rounded h-100">
                    <div>
                        <h5>BDM- Cloud Sales for The Unified Cloud</h5>
                    </div>
                    <h5 class="fw-lighter">Noida | Fulltime</h5>
                    
                    <a routerLink="/career-details/bdm" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-md-4 d-none">
                <div class="jobBox bg-light shadow-sm p-4 position-relative border rounded h-100">
                    <div>
                        <h5>Inside Sales Representative - Cloud Sales for The Unified Cloud  </h5>
                    </div>
                    <h5 class="fw-lighter">Noida | Fulltime</h5>
                    
                    <a routerLink="/career-details" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</section>