<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Are you tired of dealing with IT issues that slow down your business operations?</h1>
                <h5 class="mt-3">Don't let IT issues hold your business back. Contact us today to schedule your Buy Managed Services assessment and start focusing on what you do best - growing your business.</h5>
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10" style="background-color: #f3f3f3;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>Unlock the power of the cloud with Azure PaaS</h4>
                <p>Azure Platform as a Service (PaaS) is a cloud computing platform that enables you to create, deploy, and manage 
                    applications in the cloud quickly and easily. The Azure PaaS solution makes developing and deploying web, mobile, and API applications easy without worrying about infrastructure management. With Azure PaaS, 
                    applications and services can be hosted on a reliable, secure, scalable platform.</p>
                    <p>The platform is designed to reduce costs, improve agility, and accelerate innovation. Azure PaaS offers you quick 
                        and easy access to develop, deploy, and manage cloud-based applications without the need to manage 
                        infrastructure. </p>
                        <p>Every business has different needs, so we offer a wide range of services to maximize cloud applications. From 
                            deploying and managing applications to providing real-time analytics and insights, we have the tools and 
                            resources to help you succeed.</p>
                            <p>No matter what size your business is, Azure PaaS will help you achieve success in the cloud. You can develop, 
                                deploy, and manage cloud-based applications swiftly and efficiently using our advanced tools and resources.</p>

                                <h4 class="mt-4">The Importance of Azure Platform as a Service in Business </h4>
                                <p>The Azure PaaS platform allows businesses to build, deploy, and manage cloud-based applications quickly; This 
                                    makes it a vital tool for organizations seeking to leverage the power of cloud computing to drive innovation and 
                                    remain competitive. Azure PaaS enables businesses to reduce costs, increase agility, and speed up time-to-market. 
                                    Additionally, it provides an integrated suite of cloud-based services which facilitate the rapid development, 
                                    deployment, and management of cloud-based applications. Azure PaaS, therefore, provides businesses with an 
                                    extremely scalable, high-performance, and cost-effective solution for leveraging the benefits of cloud computing. </p>
            </div>
            <div class="col-md-5">
                <img src="/assets/img/managedSrc.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <h3 class="mb-5">Explore our Key Benefits</h3>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/m1.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Cost Savings</h6>
                            <p class="mb-0">Azure PaaS eliminates the need for businesses to invest in expensive hardware and 
                                software licenses, resulting in significant cost savings.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/m2.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Scalability</h6>
                            <p class="mb-0">Azure PaaS solution enables businesses to scale up and down their computing infrastructure without purchasing additional hardware. It is beneficial for organizations that experience sudden and unpredictable fluctuations in demand.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/m3.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Security</h6>
                            <p class="mb-0">This PaaS solution offers built-in security features such as encryption and authentication, 
                                ensuring the business’s data and applications are safe and secure. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/m4.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Reliability</h6>
                            <p class="mb-0">Azure PaaS provides businesses with a reliable platform with a 99.95% uptime 
                                guarantee and ensures that organizations can rely on their applications and services to perform as 
                                they should. 
                                </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/m5.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Automation</h6>
                            <p class="mb-0">Using Azure PaaS, businesses can automate specific processes such as deployment 
                                and configuration, saving time and effort.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/m6.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Cloud Application Management</h6>
                            <p class="mb-0">A significant part of this process involves managing and optimizing cloud-based applications and ensuring integration with other systems.</p>
                        </div>
                    </div>
                </div>
                <h4 class="mt-5">Solve complex business challenges with Azure PaaS.</h4>
                <p>Our team works with you to leverage Azure cloud solutions to build new revenue streams and enhance efficiency. In addition, we address your application and infrastructure challenges by providing a range of ongoing support and maintenance activities. As a result, Azure PaaS will help you maximize cloud benefits while minimizing risks and costs.</p>
                
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>