<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Make sharing anything a beautiful experience</h6>
                <h1 class="fw-bold">SharePoint Solutions at Your Fingertips!</h1>
                <p>Do you need SharePoint help? Are you seeking a SharePoint consultancy with advanced-level expertise in Microsoft SharePoint Online?</p>
                <div class="d-flex align-items-center flex-wrap">
                    <a href="/product-services/share-point#Getstarted" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</a>
                    <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/share-point#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital 
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+ 
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent 
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft 
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, 
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd 
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 text-md-end">
                <div>
                    <h4 class="display-6">Buy SharePoint Online</h4>
                    <p>Share and manage content, knowledge, and applications to empower teamwork, quickly find information, and easily collaborate across the organization.??SharePoint?is a web-based collaborative platform that integrates with?Microsoft Office 365.</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ofcPkg ps-md-5">
                    <!-- <div class="border p-3 shadow-sm bg-light">
                        <div class="row g-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/cloud-computing.png" alt="">
                            </div>
                            <div class="col">
                                <h4 class="h5 mb-0">Hybrid and multi-cloud application platform</h4>
                                <p class="mb-0">Modernise your legacy applications with consistent platform across all your deployments</p>
                            </div>
                        </div>
                    </div> -->
                    <ul class="ofcPkgList">
                        <li>
                            <h5>Simple sharing and seamless collaboration</h5>
                            <p>Empower sharing & collaboration on your intranet. Give your team places to collaborate on content, essential data, and news to stay on the same page.
                            </p>
                        </li>
                        <li>
                            <h5>Inform and integrate your business</h5>
                            <p>Inform and connect your team members with intranets and company portals. Share resources and applications and broadcast your important message with rich, dynamic pages.</p>
                        </li>
                        <li>
                            <h5>Intelligence and insights</h5>
                            <p>Rely on powerful enterprise search to find files, sites, and people. Built-in intelligence search delivers the most relevant results and helps you discover information and expertise around you.</p>
                        </li>
                        <!-- <li>
                            <h5>Backoffice</h5>
                            <p>PowerBI Portal is made of two dimensions: - A backoffice: where users can set the reports
                                and dashboards they wish to share and the users who have access to them. - A
                                frontoffice: the portal itself, where users access the reports and dashboards made
                                available.</p>
                        </li>
                        <li>
                            <h5>Continuous Delivery</h5>
                            <p>Setup end-to-end continuous delivery pipelines to release software at high velocity
                                without sacrificing security or quality.</p>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10" style="background-color: #f2f2f2;" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore SharePoint plans</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of December 2023</small>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>SharePoint Syntex</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price" style="display: block;">
                                4,740
                                <span>/user/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                434.5
                                <span>/user/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>This per-user offer enables customers to access Advanced AI and machine teaching to amplify human expertise, automate content processing, and transform content into knowledge; and Content centers, digital image processing, form processing, document understanding, advanced taxonomy services, and content connectors.
                            </li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#msplan3" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>SharePoint (Plan 1)</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                4,740
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                434.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Collaboration plan that enables users to share, manage and search for information and resources.</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#msplan1" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative overflow-hidden">
                    <div class="">
                        <span class="popular-badge position-absolute text-center fw-bold">Most Popular</span>
                        <div class="mb-4">
                            <h4>SharePoint (Plan 2)</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                9,420
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                863.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Best collaboration plan with advanced capabilities for rich forms, enhanced data visualization, publishing of Access databases, and hosted Visio diagrams.</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#msplan2" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>SharePoint advanced management plan 1</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                11,280
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                258.5 
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Premium SharePoint and OneDrive management capabilities help organizations better manage SharePoint + Teams sites</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#msplan4" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<div class="text-center py-5">
    <h4 class="h5 mb-0">For Discounts and bulk enquiry, please email your query to <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9625603581" class="d-inline-block h2 mb-0 fw-bolder text-dark">96256 03581</a>
                    <div class="clearfix"></div>
                    <a href="#" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="msplan1"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft SharePoint Plan1  </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
            <ul class="offCanvaslist">
                <li>The features that small and mid-sized businesses need to succeed.</li>
				<li> 1 TB of OneDrive storage per user.</li>
				<li>Share files securely inside or outside your organization.</li>
				<li>Sync local copies of files or folders for offline viewing and editing on Mac or PC.</li> 
				<li>Coauthor in real time in familiar Microsoft Office apps.</li> 
				<li>Inform and connect your people with intranets and portals.</li> 
				<li>Tell your story with beautiful communication sites.</li> 
				<li>Use team sites to connect teams to content, expertise, and processes.</li> 
				<li>Manage content in document libraries with versioning and access control.</li> 
				<li>Share, organize, and track information with Microsoft Lists.</li>
				<li>Move and manage files between OneDrive and SharePoint.</li>
				<li>Search and discover relevant people and important content when you need it most.</li> 
            </ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/security-system.png" alt="">
                        </div>
                        <div class="col">
                            <h6>Microsoft SharePoint </h6>
                            <p class="mb-0">Tech Community Harness collective knowledge</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/protection.png" alt="">
                        </div>
                        <div class="col">
                            <h6>Office Hybrid Cloud</h6>
                            <p class="mb-0">Get the best of both worlds with a hybrid cloud solution.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/web.png" alt="">
                        </div>
                        <div class="col">
                            <h6>FastTrack</h6>
                            <p class="mb-0">FastTrack Productivity Library. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/mobile-protection.png" alt="">
                        </div>
                        <div class="col">
                            <h6>SharePoint</h6>
                            <p class="mb-0">SharePoint Developer Resources.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/technical-support.png" alt="">
                        </div>
                        <div class="col">
                            <h6>Transform business</h6>
                            <p class="mb-0">Transform business processes Simple sharing and seamless collaboration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="msplan2"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft SharePoint Plan2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
            <ul class="offCanvaslist">
                <li>Full-featured SharePoint Online with capabilities for the enterprise. Includes all SharePoint Online (Plan 1) benefits and more.</li>
                <li>Unlimited access to cloud storage. Unlike the 1 TB limit per user on plan 1, every user will get access to unlimited cloud storage on Plan 2.</li>
                <li>A high degree of customized search options that offer you an exciting choice of enterprise search compatibility. </li>
                <li>You would be able to find your content in an electronic format. This can be an excellent option if you are looking to use some of this content for legal or litigation purposes. It can also be a good option for auditing purposes where you may need to have access to the data in an electronic format.</li>
                <li>The SharePoint Online Plan 2 also provides you access to advanced DLP capabilities. This is extremely useful for protecting, monitoring, and identifying sensitive data.</li>
                <li>The In-Place holds is yet another best option available on Plan 2 to help you safeguard the content from being deleted or editing.<br><img src="./assets/img/sharepoint.png" alt=""></li>
            </ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/cloud-storage.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Unlimited Cloud Storage</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/customize.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Customize your enterprise </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/business-intelligence.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Business Intelligence services- Excel Services, PowerPivot, Powerview </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/e-discovery.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">E-discovery, ACM, Compliance</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/content-management.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Record management Content management </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/compatibility.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Search Compatibility- Basic, standard and Enterprise search</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="msplan3"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft SharePoint Syntax</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
            <ul class="offCanvaslist">
                <li>Microsoft Syntax is a set of products that bring Content AI to Microsoft 365. Syntax extends M365 content repositories to provide premium capabilities for high-volume content processing, extracting metadata for process automation, and improving security and compliance.</li>
                <li>Content Assembly Syntax lets you generate documents like contracts, statements of work, vendor agreements, HR documents, sales proposals etc. at scale using Content Assembly. You convert an existing document into a modern template by adding fields to the documents for dynamic text, which changes from one document to the other. </li>
                <li>SharePoint Syntax in Microsoft 365 uses advanced artificial intelligence (AI) and machine teaching to amplify human expertise, automate content processing, and transform content into knowledge. </li>
                <li>Syntax uses Microsoft Graph connectors to integrate remote sources—such as file shares, Azure SQL, or third-party sources like Box and IBM FileNet—into the Microsoft Graph, making it searchable and usable throughout Microsoft 365.</li>
                <li>Syntax includes capabilities that let you watch and analyze term creation and usage throughout Microsoft 365. These reports are delivered to the SharePoint admin center.</li>
            </ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/security-system.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Unstructured document processing</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/taxonomy-services.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Advanced taxonomy services</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/ms-graph.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Microsoft Graph content connectors</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/document-processing.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Prebuilt document processing</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/structured-file.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Structured & freeform document processing</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/content-assembly.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Content assembly</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/activities.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Simplify day-to-day activities SharePoint Syntax</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="msplan4"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft SharePoint Advanced Management Plan1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
            <ul class="offCanvaslist">
                <li>Microsoft Syntax - SharePoint Advanced Management is a Microsoft 365 add-on that provides a suite of features that can help you:<ul>
					<li>Manage and govern SharePoint and OneDrive</li>
					<li>Enhance Microsoft 365 secure collaboration capabilities.</li>
				</ul></li>
                <li>SharePoint data access governance (DAG) insights V1 – General Availability As the sprawl of Teams and SharePoint sites contributes to the exponential growth of your organization’s digital estate, it’s important to know the top sites that require close attention.</li>
                <li>Restricted access control (RAC) policy for SharePoint sites – General availability Oversharing of content is another common concern in many organizations. Despite the right intent, users mistakenly share content with a broader audience that often results in unauthorized access to content.</li>
                <li>Conditional access policies for SharePoint sites and OneDrive – General availability Security posture of content varies based on its business criticality.</li>
                <li>Secure SharePoint Document Libraries – General Availability SharePoint Document Libraries are the primary source of storage for your documents.</li>
            </ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/sharePoint.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Restricted access control for SharePoint sites</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/onedrive.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Restricted access control policy for OneDrive</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/reports.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Data access governance reports for SharePoint sites</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/access-policy.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Conditional access policy for SharePoint sites and OneDrive</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/document-libraries.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Secure SharePoint document libraries</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/onedrive.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Block download policy for SharePoint sites and OneDrive</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>