<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Empower your enterprise with the ultimate operating system solution.</h6>
                <h1 class="fw-bold">Empower your business with the advanced security, productivity, and management features of Windows 10/11 Enterprise.!</h1>
                <!-- <p>Do you need SharePoint help? Are you looking for a SharePoint consultancy with advanced-level expertise in Microsoft SharePoint Online? Your search ends here! We are here to help you with SharePoint development services.</p> -->
                <div class="d-flex align-items-center flex-wrap">
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                    <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/windows#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital 
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+ 
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent 
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft 
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, 
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd 
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 text-md-end">
                <div>
                    <h4 class="h2 fw-bold">Benefits of buying Windows 10/11 Enterprise</h4>
                    <p>With Windows 10/11 Enterprise, you can access advanced security features, improved productivity tools, and enterprise-level management capabilities.</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ofcPkg ps-md-5">
                    <!-- <div class="border p-3 shadow-sm bg-light">
                        <div class="row g-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/cloud-computing.png" alt="">
                            </div>
                            <div class="col">
                                <h4 class="h5 mb-0">Hybrid and multi-cloud application platform</h4>
                                <p class="mb-0">Modernise your legacy applications with consistent platform across all your deployments</p>
                            </div>
                        </div>
                    </div> -->
                    <ul class="ofcPkgList">
                        <li>
                            <h5>Robust Security Features</h5>
                            <p>Windows 10/11 Enterprise offers advanced security features such as Windows Defender Advanced Threat Protection, BitLocker encryption, and Windows Information Protection, which help protect your company's data and devices from cyber threats.
                            </p>
                        </li>
                        <li>
                            <h5>Improved Productivity</h5>
                            <p>With features such as Microsoft Edge, Cortana, and Windows Ink, Windows 10/11 Enterprise provides a faster and more efficient work experience that can help increase productivity.</p>
                        </li>
                        <li>
                            <h5>Enhanced Management Capabilities</h5>
                            <p>Windows 10/11 Enterprise has powerful management tools such as Microsoft Endpoint Manager, which allow you to manage your devices and applications from a single console.</p>
                        </li>
                        <li>
                            <h5>Flexible Deployment Options</h5>
                            <p>You can choose the deployment option that best suits your needs, including traditional on-premises, cloud-based, or hybrid deployments.</p>
                        </li>
                        <li>
                            <h5>Long-term Support</h5>
                            <p>With Windows 10/11 Enterprise, you can access advanced security features, improved productivity tools, and enterprise-level management capabilities.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10" style="background-color: #f2f2f2;" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore Windows 10/11 Enterprise plans</h3>
                    <h6>Upgrade your business to Windows 10/11 Enterprise today and take advantage of its powerful features and tools.</h6>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of December 2023</small>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>Windows 10/11 Enterprise E3</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                6,600
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                605
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Windows 10/11 Enterprise E3 builds on Windows 10/11 Pro by delivering enterprise-grade security, management, and control features for large or mid-sized companies, or any size business that processes sensitive data, operates in regulated industries, or develops intellectual property that must remain secure. </li>
                            <li>The increased security helps protect your sensitive data, identities, and devices from cybersecurity threats, and provides enhanced deployment and software and device management options.</li>
                        </ul>
                        
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#weplan1"
                                aria-controls="staticBackdrop">
                                View details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>Windows 10/11 Enterprise E5
                            </h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                10,380
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                951.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Windows 10/11 Enterprise E5 includes Windows 10/11 Enterprise E3 plus Microsoft Defender Advanced Threat Protection (ATP).</li>
                            <li>Microsoft Defender ATP is a unified endpoint security platform that enables enterprise customers to protect, detect, investigate, and respond to advanced attacks and data breaches.</li>
                            <li>It is built-in, cloud-powered, applies Artificial Intelligence to automate security incidents, and leverages the Microsoft Intelligent Security Graph to integrate detection and exploration with other Microsoft Threat Protection services*.</li>
                        </ul>
                        <p class="text-danger">*some separate subscriptions may be required</p>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#eoplan2" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative overflow-hidden">
                    <div class="">
                        <!-- <span class="popular-badge position-absolute text-center fw-bold">Most Popular</span> -->
                        <div class="mb-4">
                            <h4>Windows 10/11 Enterprise E3 VDA</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                12,420
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,138.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Windows 10/11 Enterprise E3 VDA is an SKU for Non-Windows Devices that builds on Windows 10/11 Pro by delivering enterprise-grade security, management, and control features for large or mid-sized companies or any size business that processes sensitive data, operates in regulated industries, or develops intellectual property that must remain secure.</li>
                            <li>The increased security helps protect your sensitive data, identities, and devices from cybersecurity threats and provides enhanced deployment and software and device management options.</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>
<div class="text-center py-5">
    <h4 class="h5 mb-0">For Discounts and bulk enquiry, please email your query to <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>
<section class="light-bg py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mb-5">
                    <h5>Frequently Asked Questions (FAQs)</h5>
                    <h2 class="h2 fw-bold">Save time and find answers quickly with our FAQ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                
                <div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item" *ngFor="let faqs of faq; let i = index">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" aria-controls="collapseOne">
                                    {{ faqs.Ques }} 
                                </button>
                            </h2>
                            <div [id]="'collapse' + i" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ faqs.Ans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9717347546" class="d-inline-block h2 mb-0 fw-bolder text-dark">97173 47546</a>
                    <div class="clearfix"></div>
                    <a href="/contact" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="weplan1"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Windows 10/11 Enterprise E3 </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
			<p class="mb-0">For large and medium-size organizations with advanced security and comprehensive management needs.</p>
            <ul class="offCanvaslist">
                <li>A broad range of options for operating system deployment and update control.</li>
				<li>Comprehensive device and app management.</li>
				<li>Serverless print management with Universal Print.</li>
				<li>Advanced protection against modern security threats.</li>
            </ul>
			<p class="mb-0">Requirements:</p>
            <ul class="offCanvaslist">
                <li>Qualifying operating system: Windows 11 Pro.</li>
				<li>Licensed per user, including Azure Virtual Desktop and Windows 365 instances.</li>
            </ul>
			<p class="mb-0">Best productivity and collaboration experiences</p>
			<ul>
				<li>Simple, modern visuals</li>
				<ul>
					<li>Experience simple, modern visuals</li>
					<ul>
						<li>Focus on what matters with an improved yet familiar Windows user experience, and instantly get to work. </li>
					</ul>
				</ul>
				<li>Inclusive video conferencing</li>
				<ul>
					<li>Focus on what’s important, automate the rest</li>
					<ul>
						<li>Automate redundant and manual tasks from your desktop or web browser with Power Automate for desktop.</li>
					</ul>
				</ul>
				<li>Automation</li>
				<ul>
					<li>Focus on what’s important, automate the rest</li>
					<ul>
						<li>Automate redundant and manual tasks from your desktop or web browser with Power Automate for desktop.</li>
					</ul>
				</ul>
				<li>Works with Microsoft 365 Apps</li>
				<ul>
					<li>Work seamlessly with Microsoft 365 apps</li>
					<ul>
						<li>From the OS to the apps that run on it, everything works together.</li>
					</ul>
				</ul>
				<li>Improved Searches</li>
				<ul>
					<li>Get improved search experiences with File Explorer</li>
					<ul>
						<li>Find files easily with new contextual suggestions in Windows, powered by Context IQ. Enable multitasking with the tabs feature in File Explorer.</li>
					</ul>
				</ul>
				<li>Accessibility</li>
				<ul>
					<li>Built for accessibility </li>
					<ul>
						<li>Windows 11 provides a range of accessibility features designed for everyone, such as live captions.</li>
					</ul>
				</ul>
			</ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/security-lock.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Industry-leading security from chip to cloud Help secure your corporate data, content, and apps on any device. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/simplicity.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Simplicity and lowest total cost of ownership Streamline deployment and management for distributed workforces.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/productivity.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Best productivity and collaboration experiences Empower flexible work styles.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/most-secure.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Get the most secure Windows yet Elevate your protection with virtualization-based security and hypervisor-protected code integrity on by default.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/forget-passwords.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Forget about passwords Use convenient, secure, multifactor authentication with Windows Hello for business.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/remote-work.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Enable remote work Ship users a company-owned, automatically provisioned device that complies with corporate policy.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/cloud.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Manage from the cloud Reduce endpoint vulnerability and maintain security baseline and compliance needed for Zero Trust.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/universal-print.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Move to Universal Print Eliminate print servers and manage your printers from the cloud. Print securely from anywhere. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/compatibility.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">99% application compatibility Have peace of mind knowing Windows 10 apps will work on Windows 11. App Assure helps remediate any app issues.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/cloud-deliver.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Deploy devices with cloud configuration Transform Windows 11 PCs into streamlined, easy-to-manage cloud endpoints.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/checked.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Automate Windows and Microsoft 365 updates Ensure deployment of updates and patches is timely, safe, and efficient with Windows Autopatch.</p>
                        </div>
                    </div>
                </div>
            </div>
			
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
		<div class="row">
			<div class="col-md-12">
				<h5 class="h6 mb-2 mt-3">System Requirements</h5>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="table-responsive p-0">
					<table class="table table-bordered mb-0">
						<thead>
							<tr>
								<th>Required Processor</th>
								<td>
									<p class="mb-0">Windows: 1.6 gigahertz (GHz) or faster, 2-core</p>
									<p class="mb-0">macOS: Intel processor</p>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Required Operating System</th>
								<td>
									<p class="mb-0">Windows: Windows 11, Windows 10 SAC, Windows 8.1, Windows Server 2019, or Windows Server 2016. Please note Microsoft 365 Apps for enterprise is not supported on any Windows 10 LTSC client products. Microsoft 365 Apps for enterprise is supported on Windows Server 2019 and on Windows Server 2016 through October 2025.</p>
									<p class="mb-0">macOS: Office for Mac is supported on the three most recent versions of macOS. When a new version of macOS is released, the Office for Mac Operating System requirement becomes the then-current three most recent versions: the new version of macOS and the previous versions.</p>
									<p class="mb-0">Product functionality and feature availability may vary on older systems. For the best experience, use the latest version of any operating system specified above.</p>
								</td>
							</tr>
							<tr>
								<th>Required Memory</th>
								<td>
									<p class="mb-0">Windows: 4GB RAM; 2 GB RAM (32-bit)</p>
									<p class="mb-0">macOS: 4 GB RAM</p>
								</td>
							</tr>
							<tr>
								<th>Required Hard Disk Space</th>
								<td>
									<p class="mb-0">Windows: 4.0 GB of available disk space macOS: 10 GB of available disk space. HFS+ hard disk format (also known as macOS Extended or APFS)</p>
								</td>
							</tr>
							<tr>
								<th>Required Display</th>
								<td>
									<p class="mb-0">Windows: 1280 x 768 screen resolution</p>
									<p class="mb-0">macOS: 1280 x 800 screen resolution</p>
								</td>
							</tr>
							<tr>
								<th>Graphics</th>
								<td>
									<p class="mb-0">Windows: Graphics hardware acceleration requires DirectX 9 or later, with WDDM 2.0 or higher for Windows 10 (or WDDM 1.3 or higher for Windows 10 Fall Creators Update). Skype for Business requires DirectX 9 or later, 128 MB graphics memory, and 32 bits per pixel capable format.</p>
									<p class="mb-0">macOS: No graphics requirements</p>
								</td>
							</tr>
							<tr>
								<th>Multi-touch</th>
								<td>
									<p class="mb-0">A touch-enabled device is required to use any multi-touch functionality. But, all features and functionality are always available by using a keyboard, mouse, or other standard or accessible input device. Note that touch features are optimized for use with Windows 10 or Windows 8.1.</p>
								</td>
							</tr>
							<tr>
								<th>Additional system requirements</th>
								<td>
									<p class="mb-0">Product functionality and graphics may vary based on your system configuration. Some features may require additional or advanced hardware or server connectivity.</p>
									<p class="mb-0">Microsoft account and/or organizational account is required for licensing and to access services.</p>
									<p class="mb-0">Internet functionality requires an internet connection.</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="eoplan2"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Windows 10/11 Enterprise E5</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
			<p class="mb-0">For organizations that want to take advantage of a holistic, cloud-delivered endpoint security solution.</p>
            <ul class="offCanvaslist">
                <li>Microsoft Defender for Endpoint, a complete endpoint security solution.</li>
            </ul>
			<p class="mb-0">Requirements:</p>
			<ul class="offCanvaslist">
                <li>Qualifying operating system: Windows 11 Enterprise E3.</li>
                <li>Licensed per user. </li>
            </ul>
			<p class="mb-0">Best productivity and collaboration experiences</p>
            <ul>
				<li>Simple, modern visuals</li>
				<ul>
					<li>Experience simple, modern visuals</li>
					<ul>
						<li>Focus on what matters with an improved yet familiar Windows user experience, and instantly get to work. </li>
					</ul>
				</ul>
				<li>Inclusive video conferencing</li>
				<ul>
					<li>Focus on what’s important, automate the rest</li>
					<ul>
						<li>Automate redundant and manual tasks from your desktop or web browser with Power Automate for desktop.</li>
					</ul>
				</ul>
				<li>Automation</li>
				<ul>
					<li>Focus on what’s important, automate the rest</li>
					<ul>
						<li>Automate redundant and manual tasks from your desktop or web browser with Power Automate for desktop.</li>
					</ul>
				</ul>
				<li>Works with Microsoft 365 Apps</li>
				<ul>
					<li>Work seamlessly with Microsoft 365 apps</li>
					<ul>
						<li>From the OS to the apps that run on it, everything works together.</li>
					</ul>
				</ul>
				<li>Improved Searches</li>
				<ul>
					<li>Get improved search experiences with File Explorer</li>
					<ul>
						<li>Find files easily with new contextual suggestions in Windows, powered by Context IQ. Enable multitasking with the tabs feature in File Explorer.</li>
					</ul>
				</ul>
				<li>Accessibility</li>
				<ul>
					<li>Built for accessibility </li>
					<ul>
						<li>Windows 11 provides a range of accessibility features designed for everyone, such as live captions.</li>
					</ul>
				</ul>
			</ul>
			<div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/security-lock.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Industry-leading security from chip to cloud Help secure your corporate data, content, and apps on any device. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/simplicity.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Simplicity and lowest total cost of ownership Streamline deployment and management for distributed workforces.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/productivity.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Best productivity and collaboration experiences Empower flexible work styles.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/most-secure.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Get the most secure Windows yet Elevate your protection with virtualization-based security and hypervisor-protected code integrity on by default.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/forget-passwords.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Forget about passwords Use convenient, secure, multifactor authentication with Windows Hello for business.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/remote-work.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Enable remote work Ship users a company-owned, automatically provisioned device that complies with corporate policy.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/cloud.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Manage from the cloud Reduce endpoint vulnerability and maintain security baseline and compliance needed for Zero Trust.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/universal-print.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Move to Universal Print Eliminate print servers and manage your printers from the cloud. Print securely from anywhere. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/compatibility.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">99% application compatibility Have peace of mind knowing Windows 10 apps will work on Windows 11. App Assure helps remediate any app issues.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/cloud-deliver.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Deploy devices with cloud configuration Transform Windows 11 PCs into streamlined, easy-to-manage cloud endpoints.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/checked.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Automate Windows and Microsoft 365 updates Ensure deployment of updates and patches is timely, safe, and efficient with Windows Autopatch.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>