<section class="inPageTitle pt-4 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <h1 class="text-white h4 mb-0">Our Customers</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Customers</li>
                        </ol>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <app-customerlist></app-customerlist>
    </div>
</section>