<h6 class="mb-4 text-uppercase fw-bold">Cloud Products <i class="icofont-long-arrow-right"></i></h6>

<a routerLink="/product-services/azure" class="d-inline-block text-dark fw-bold mb-5 ms-1 mt-3">
    <img src="/assets/img/logos/azure.png" alt="" height="30">
    Buy Azure Subscription
</a>

<div class="row row-cols-md-4 row-cols-2 g-4 prosrclist">
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/microsoft-365">
            <div class="col-auto">
                <img src="assets/img/logos/365.png" alt="">
            </div>
            <div class="col">
                Microsoft 365
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/power-bi">
            <div class="col-auto">
                <img src="assets/img/logos/powerbi.png" alt="">
            </div>
            <div class="col">
                Power BI
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/windows">
            <div class="col-auto">
                <img src="assets/img/logos/window.png" alt="">
            </div>
            <div class="col">
                Windows 10/11
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/share-point">
            <div class="col-auto">
                <img src="assets/img/logos/sharepoint.png" alt="">
            </div>
            <div class="col">
                Share Point
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/window-365-business">
            <div class="col-auto">
                <img src="assets/img/logos/365business.png" alt="">
            </div>
            <div class="col">
                Windows 365 Business
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/window-365-business-ahb">
            <div class="col-auto">
                <img src="assets/img/logos/365business.png" alt="">
            </div>
            <div class="col">
                Windows 365 Business (AHB)
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/windows-365-enterprises">
            <div class="col-auto">
                <img src="assets/img/logos/365business.png" alt="">
            </div>
            <div class="col">
                Windows 365 Enterprise
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/power-apps">
            <div class="col-auto">
                <img src="assets/img/logos/powerapps.png" alt="">
            </div>
            <div class="col">
                Power Apps
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/one-drive">
            <div class="col-auto">
                <img src="assets/img/logos/onedrive.png" alt="">
            </div>
            <div class="col">
                One Drive
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/microsoft-teams">
            <div class="col-auto">
                <img src="assets/img/logos/teams.png" alt="">
            </div>
            <div class="col">
                Microsoft Teams
            </div>
        </a>
    </div>
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/ms-projects">
            <div class="col-auto">
                <img src="assets/img/logos/project.png" alt="">
            </div>
            <div class="col">
                MS Projects
            </div>
        </a>
    </div>
</div>
<br>
<h6 class="mb-4 text-uppercase fw-bold">On Prem Products <i class="icofont-long-arrow-right"></i></h6>
<div class="row row-cols-md-2 row-cols-2 g-4 prosrclist">
    <div class="col">
        <a class="row g-2 d-flex align-items-center" routerLink="/product-services/exchange">
            <div class="col-auto">
                <img src="assets/img/logos/exchange.png" alt="">
            </div>
            <div class="col">
                Exchange
            </div>
        </a>
    </div>
</div>