<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-5 h1">Cloud Services</h4>
            </div>
        </div>
        <app-product-list></app-product-list>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><strong>As technology advances, people demand a more efficient and easy way to work, where they can
                        access
                        their resources from a centralized location.
                    </strong></p>
                <p>These Microsoft tools empower individuals, teams, and organizations. Providing the productivity
                    applications
                    necessary to get work done in the modern enterprise.
                </p>
                <p>Employees have access to Office 365, which provides them with the tools they need to succeed,
                    including tools
                    that can maximize productivity. Microsoft constantly updates and improves Office 365. The
                    combination of
                    these features provides a safe, collaborative environment with an integrated security system.</p>
                <p>Regardless of whether your employees work online or offline, using a computer, tablet, or phone,
                    there is
                    better control over data and compliance. As a result of its regular updates to Teams, Power BI,
                    SharePoint, and
                    its latest release, Viva, it is taking productivity and efficiency to new heights.
                </p>
                <h3 class="mb-4">Key Benefits <i class="icofont-long-arrow-right"></i></h3>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b1.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Access your files Anytime, Anywhere </h6>
                            <p class="mb-0">As a cloud-based collaboration platform from Microsoft, our cloud service
                                solutions offer access to Microsoft
                                Office applications and other products and services tailored to meet your needs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b2.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Built-in-security
                            </h6>
                            <p class="mb-0">Security measures in Office 365 are robust, like two-factor authentication,
                                ensuring unauthorized people can't
                                access your files. In addition, threat detection and anti-malware capabilities
                                immediately detect and stop
                                security threats and assure confidentiality. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b3.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Optimize costs </h6>
                            <p class="mb-0">Significantly faster to implement than custom development. Depending on the
                                level of functionality you select
                                for your business, the cost of your license will vary as your business evolves and
                                offers you a predictable
                                budget for your needs. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b4.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Business resilience </h6>
                            <p class="mb-0">Performs consistent backups to ensure the security of all cloud files.
                                Offers a secure cloud storage platform and
                                recovery capabilities that enable information retrieval when needed. It ensures
                                consistency throughout the
                                business.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b5.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Automated updates </h6>
                            <p class="mb-0">This platform always brings you relevant, practical, and exciting features
                                updates and delivers the ultimate
                                employee experience platform. In addition, upgrades are performed automatically at
                                predetermined intervals,
                                eliminating the expense of buying updated software.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>