<section class="py-10 vdesktopsctn">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h4 class="text-info mb-0">Unlock the Potential of Your Business with</h4>
                <h1 class="py-2 fw-light text-white">UnifyCloud’s Azure Landing Zone 

                </h1>
                <h3 class="text-light h6">UnifyCloud’s Azure Landing Zone Assessment is a comprehensive assessment service designed to help
                    organizations streamline their cloud adoption journey by providing a detailed Azure Landing Zone
                    implementation roadmap. Our Azure Landing Zone Assessment ensures that your organization's cloud
                    adoption is secure, compliant, and optimized for long-term success. </h3>
                
            </div>
            <div class="col-md-5 text-md-end text-center text-lg-end">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="pb-5" style="margin-top: -50px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-white rounded p-4">
                    <h4 class="h2 fw-bold mb-4">Importance of UnifyCloud’s <br>Azure Landing Zone Assessments 

                    </h4>
                    <p>The Azure Landing Zone Assessment is an in-depth analysis of your Azure Infrastructure that identifies voids
                        and inefficiencies in your cloud architecture. Creating a secure and efficient cloud infrastructure ensures your
                        business's growth and scalability. 
                        
                    </p>

                    <h6>The Azure Landing Zone Assessment is an in-depth analysis of your Azure Infrastructure that identifies voids
                        and inefficiencies in your cloud architecture. Creating a secure and efficient cloud infrastructure ensures your
                        business's growth and scalability. 
                        </h6>
                        <p>Our Azure Landing Zone is a framework for creating a secure, scalable, and efficient cloud infrastructure in
                            Azure. It is a set of guidelines and best practices that help businesses deploy workloads in the cloud while
                            maintaining compliance, security, and efficiency. 
                            </p>
                            <p>Azure Landing Zone Architecture provides a standardized approach to building and deploying cloud
                                infrastructure, simplifying the process and reducing errors.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="opnaisctn pt-3 pb-5">
    <div class="container">
        <div class="row g-3 d-flex align-items-center">
            <div class="col-md-6">
                <div>
                    <h3 class="h4 fw-bold mb-3">Benefits of our Azure Landing Zone Architecture 
                    </h3>
                    <h6>UnifyCloud’s Azure Landing Zone Architecture offers several benefits, including: </h6>

                    <ul class="ofcPkgList mt-3 ms-4">
                        <li><strong>Standardization</strong> Our Azure Landing Zone Architecture provides a standardized approach to cloud infrastructure deployment,
                            reducing the risk of errors and ensuring consistency across your cloud environment. 
                        </li>
                        <li><strong>Security</strong> We provide a secure framework for deploying workloads in the cloud. Incorporating Microsoft's security best
                            practices ensures the security of your data and applications. 
                            
                        </li>
                        <li><strong>Scalability</strong> UnifyCloud’s Azure Landing Zone Architecture provides a scalable framework for deploying workloads in the
                            cloud.It allows you to scale your Infrastructure to meet your business's needs quickly. 
                        </li>
                        <li><strong>Compliance</strong> Azure Landing Zone Architecture incorporates compliance requirements, ensuring your cloud infrastructure
                            meets regulatory requirements.
                            </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="">
                    <img src="/assets/img/openai.jpg" class="img-fluid mb-auto" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center g-3">
            <div class="col-md-5">

                <img src="/assets/img/openai2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
                <div>
                    <h4 class="h5 mb-4">Our Azure Landing Zone Assessment involves the following steps:
                    </h4>
                    <ul class="ofcPkgList mt-3 ms-4">
                        <li><strong>Discovery:</strong> We analyze your cloud environment during
                            the discovery phase to identify gaps and
                            inefficiencies.
                            
                        </li>
                        <li><strong>Design:</strong> We create a customized Azure Landing Zone
                            Architecture during the design phase that
                            meets your business's needs.
                            </li>
                        <li><strong>Implementation:</strong> During the implementation phase, we deploy
                            your customized Azure Landing Zone
                            Architecture.
                        </li>
                        <li><strong>Validation:</strong> During the validation phase, we test your new
                            Azure Landing Zone Architecture to ensure it
                            meets your business's needs.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="light-bg py-10">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="h4 fw-bold">How Our Landing Zone Assessment maximizes your Azure Investment</h2>
            </div>
           
        </div>
        <div class="row g-3">
            <div class="col-12 text-center">
                <p>Unifycloud's Landing Zone Assessment is a comprehensive evaluation of your Azure Infrastructure that helps
                    you identify gaps and inefficiencies in your cloud architecture. Utilizing our Landing Zone Assessment will
                    ensure that your cloud infrastructure is secure, scalable, and efficient, maximizing your investment in Azure. 
                    </p>
                    <p>Our Assessment provides a comprehensive set of tools and resources to help organizations accelerate their
                        Azure journey quickly and confidently. </p>
            </div>
            <div class="col-12">
                <div class="bg-white shadow rounded p-3">
                    <h4 class="h5">Cloud Adoption Framework</h4>
                    <p>The Cloud Adoption Framework (CAF) is a methodology for adopting the cloud we use to develop our portal.
                        It facilitates cloud adoption by providing a structured approach, allowing organizations to make informed
                        decisions, prioritize workloads, and mitigate risks associated with cloud adoption. Our portal offers a step-bystep guide for implementing CAF, and our experts are always available to provide guidance and support. 
                        </p>
                        <hr>
                        <div class="mb-3">
                            <h6>Greenfield</h6>
                            <p>Our portal offers a Greenfield option, which is ideal for organizations that are starting from scratch. With
                                Greenfield, we help you build a solid foundation on Azure, including creating a landing zone, network, security,
                                and governance. In addition, our experts will work closely with you to optimize your environment for
                                performance, scalability, and cost-efficiency. 
                                </p>
                        </div>
                        <div class="mb-3">
                            <h6>Existing Assessment 
                            </h6>
                            <p>Our portal also provides an Existing Assessment option, ideal for organizations with workloads on Azure. With
                                Existing Assessment, we help you assess your existing environment, identify areas for improvement, and
                                develop a roadmap for optimization. 
                                </p>
                        </div>
                        <div class="mb-3">
                            <h6>Existing IaaS</h6>
                            <p>Our portal offers an Existing IaaS option, ideal for organizations with existing Infrastructure as a Service (IaaS)
                                workloads on Azure. With Existing IaaS, we help you assess your existing environment, identify areas for
                                improvement, and develop a roadmap for optimization. 
                                </p>
                                <p>Landing Zone Portal provides tools and resources to help organizations accelerate their Azure journey quickly
                                    and confidently. A customized Azure Landing Zone Architecture is created in collaboration with our experts to
                                    meet the needs of your business. We also provide recommendations to optimize your cloud infrastructure and
                                    improve its performance, ensuring you maximize your investment in Azure. 
                                    </p>
                        </div>
                </div>
            </div>
            
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-md-6">
                <h3 class="fw-bold h2">Our Promise to Customers</h3>
                <p class="fw-bold fst-italic">Azure Automated Landing Zone Assessments provide organizations with a fast and efficient way to assess their
                    environment. The automated assessment tool scans an organization's environment and provides a detailed
                    report of its findings. Additionally, the report provides recommendations for improving the environment to
                    meet the best practices for Azure Landing Zones. </p>
                    <h5>We offer a range of Azure Landing Zone Assessment services, including:</h5>
                    <ul class="offCanvaslist mt-4">
                        <li>Azure Automated Landing Zone Assessments </li>
                        <li>Custom Azure Landing Zone Assessments 
                        </li>
                        <li>Azure Landing Zone Implementation Services</li>
                        <li>Azure Landing Zone Optimization Services </li>
                    </ul>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="/assets/img/promise.jpg" class="img-fluid" alt="unifycloud promise">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blsctn py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="text-white mb-5">The benefits of Azure Automated Landing Zone Assessments from UnifyCloud include the following:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <div class="bg-white">
                    <div class="bg-info px-2 py-3">
                        <h6 class="mb-0">Fast and efficient assessments</h6>
                    </div>
                    <div class="p-2 border-bottom">
                        A quick assessment of the environment of an organization is
possible with the automated tool.
                    </div>
                    
                </div>
            </div>
            <div class="col-md text-center">
                <div class="bg-white">
                    <div class="bg-info px-2 py-3">
                        <h6 class="mb-0">Comprehensive reports</h6>
                    </div>
                    <div class="p-2 border-bottom">
                        The detailed information provides organizations a comprehensive
                        view of their environment and improvement recommendations. 
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-md text-center">
                <div class="bg-white">
                    <div class="bg-info px-2 py-3">
                        <h6 class="mb-0">Cost-effective</h6>
                    </div>
                    <div class="p-2 border-bottom">
                        Azure Automated Landing Zone Assessments from UnifyCloud are costeffective and provide organizations with a cost-efficient way to assess their environment.
                    </div>
                </div>
            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-12 position-relative text-center">
                <h5 class="fw-bold text-white mt-4 mb-2">Our Landing Zone Assessment Deliverables </h5>
                <h6 class="text-white mb-5">The deliverables of Azure Landing Zone Assessment include: </h6>
                <div class="bg-info bg-opacity-25 p-3 text-light shadow mb-4">
                    <h6 class="text-light">Architecture Diagram</h6>
                    A customized Azure Landing Zone Architecture diagram that meets your business's needs. 
                </div>
                <div class="bg-info bg-opacity-25 p-3 text-light shadow mb-4">
                    <h6 class="text-light">Recommendations</h6>
                    This portal can optimize your cloud infrastructure and improve its performance.
                </div>
                <div class="bg-info bg-opacity-25 p-3 text-light shadow">
                    <h6 class="text-light">Roadmap</h6>
                    Implementing the recommended changes to your cloud infrastructure should be outlined in a roadmap. 
<p>Whether you are implementing Azure for the first time or already have workloads running on it, our experts can
    provide guidance and support. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-info py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h4 class="h3 fw-bold">So why wait?</h4>
                <h5>Sign up today and start your Azure journey with UnifyCloud!</h5>
            </div>
            <div class="col-md-6 text-center text-md-end text-lg-end">
                <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                    Started</button>
            </div>
        </div>
    </div>
</section>
<section class="light-bg py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mb-5">
                    <h5>Frequently Asked Questions (FAQs)</h5>
                    <h2 class="h2 fw-bold">About Azure Landing Zone Assessments 
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                
                <div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item" *ngFor="let faqs of faq; let i = index">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" aria-controls="collapseOne">
                                    {{ faqs.Ques }} 
                                </button>
                            </h2>
                            <div [id]="'collapse' + i" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ faqs.Ans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="fw-light">Unify Cloud India - AI Readiness and Impact Assessment</h5>
                            <h6>AI Workshop Framework</h6>
                            <ul class="ofcPkgList mt-3 ms-4">
                                <li>Leverage UnifyCloud AI consultants</li>
                                <li>Assessment of current AI application</li>
                                <li>Confirm Use Cases for POC/Pilot</li>
                                <li>Workloads categorization and prioritization</li>
                                <li>Compile Pilot / POC plan</li>
                                <li>Design and Deployment of Pilot/POC</li>
                                <li>Create runbooks for Production</li>
                                <li>Execution of Azure OpenAI migrations</li>
                            </ul>
                            <!-- <div>
                                <img src="/assets/img/openaimodal.jpg" class="img-fluid" alt="">
                            </div> -->
                        </div>
                        <div class="col-md-6">
                            <div class="shadow p-3">
                                <app-enquiryform></app-enquiryform>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>