<section class="mainBanner">
    <header>
        <nav class="navbar navbar-expand-lg py-0">
            <div class="container">
                <a class="navbar-brand py-2 px-3" href="#"><img src="/assets/img/unifycloudlogo.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--<div>
                        <a href="#" class="h4 fw-bold">0020 1018390904</a><br />
                        <a href="#" class="">Ops.eg@bookingexpress.co</a>
                    </div>-->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Our Services</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Registration
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Agent Registration</a></li>
                                <li><a class="dropdown-item" href="#">Hotel/Supplier Registration</a></li>
                                <!--<li><a class="dropdown-item" href="#">Register as GSA</a></li>-->
                            </ul>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>-->
                    </ul>
                    <div>
                        <a href="#contact" class="btn btn-info btn-sm fw-bold">Contact Us</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="BEcarouselCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a data-bs-target="#BEcarouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                            <div>
                                <img src="assets/img/icons/hotel-service.png" />
                                <span>Accomodation</span>
                            </div>
                        </a>
                        <a data-bs-target="#BEcarouselCaptions" data-bs-slide-to="1" aria-label="Slide 2">
                            <div>
                                <img src="assets/img/icons/car.png" />
                                <span>Transfer</span>
                            </div>
                        </a>
                        <a data-bs-target="#BEcarouselCaptions" data-bs-slide-to="2" aria-label="Slide 3">
                            <div>
                                <img src="assets/img/icons/airplane.png" />
                                <span>Flights</span>
                            </div>
                        </a>
                        <a data-bs-target="#BEcarouselCaptions" data-bs-slide-to="3" aria-label="Slide 4">
                            <div>
                                <img src="assets/img/icons/wifi.png" />
                                <span>Offline Bookings</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-inner">
            <div class="carousel-item accomodationslide active">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <h5 class="animated fadeInLeft">Accomodation</h5>
                                    <h3 class="h1 fw-bold animated fadeInLeft">Making your stay unforgettable.</h3>
                                    <h6 class="animated fadeInLeft">Inventory of over 250,000 available hotels worldwide at the best prices</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <h5 class="animated fadeInLeft">Transfer</h5>
                                    <h3 class="h1 fw-bold animated fadeInLeft">Ride with us, your journey, our priority.</h3>
                                    <h6 class="animated fadeInLeft">Affordable Airport transfers across the world</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <h5 class="animated fadeInLeft">Flight Ticket Booking</h5>
                                    <h3 class="h1 fw-bold animated fadeInLeft">Making your stay unforgettable.</h3>
                                    <h6 class="animated fadeInLeft">Book lowest flight tickets with us, worldwide</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <h5>Offline Booking</h5>
                                    <h3 class="h1 fw-bold">Making your stay unforgettable.</h3>
                                    <h6>Enquire now for your any travel needs. We might have offline exclusive deals to offer !</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<button class="carousel-control-prev" type="button" data-bs-target="#BEcarouselCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#BEcarouselCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>-->
    </div>
    <div class="loginBox shadow bg-light rounded">
        <div id="loginshort" style="display:none">
            <div class="row d-flex align-items-center" onclick="showloginform()">
                <div class="col-auto">
                    <img src="assets/img/icons/login.png" style="height:45px;" />
                </div>
                <div class="col">
                    <h4 class="mb-0 h5">Login to your account <i class="icofont-rounded-right"></i></h4>
                </div>
            </div>
        </div>
        <div id="loginFormsctn">
            <h4 class="fw-bold h6 mb-4">Login to your account</h4>
            <div class="row g-3 mb-3 d-none">
                <div class="col">
                    <div class="chhoseUsrType">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Agent Login
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="chhoseUsrType">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Hotel/Supplier Login
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="text-center mb-2">
                <a href="#" class="btn btn-dark w-100 shadow-sm">Sign in</a>
            </div>
            <div class="text-end">
                <a href="#" class=""><u>Forgot password?</u></a>
                <div class="text-md-end text-center">
                    <div class="d-inline-flex paylogo">
                        <div>
                            <img src="assets/img/logos/mastercard.png" />
                        </div>
                        <div>
                            <img src="assets/img/logos/visacard.png" />
                        </div>
                        <div>
                            <img src="assets/img/logos/amex.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-10" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <div class="mb-5">
                    <h5 class="mb-1">Our Services</h5>
                    <h4 class="h2 fw-bold">We go the extra mile to exceed your expectations.</h4>
                    <p>BOOKING EXPRESS offers wide variety of services such as:</p>
                </div>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-4">
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/passport.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Visas and ground handling
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/desk-bell.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Ticketing & Hotel Reservations for worldwide destinations
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/ship.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Honeymoon Package & Cruises
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/tour-guide.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Inbound & Outbound Tour Operators
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/online-booking.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Wholesale Travel Business
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/buildings.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Apartments
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/online-shop.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Online Travel Services & e-commerce
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/tech-support.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Meet & Assist
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/suitcase.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        Tailor made packages
                    </h5>
                </div>
            </div>
            <div class="col text-center">
                <div class="shadow p-3 rounded">
                    <img src="assets/img/icons/staff.png" style="height: 50px;" />
                    <h5 class="mb-0 h6 mt-2">
                        MICE (meetings - incentives - conference - exhibitions)
                    </h5>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="py-5 light-bg" id="about">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <div>
                    <h5 class="mb-1">About</h5>
                    <h4 class="h2 fw-bold">Booking Express</h4>
                    <p>Booking express Travel & Tourism is a dynamic organization founded by professionals with hotelier and wholesales travel industry backgrounds, offering a varied range of products worldwide such as (accommodations, transfers, sightseeing tours, dinner cruises, river cruises, ski packages, cycle tours and much more.</p>
                </div>
            </div>
            <div class="col-md-5 border-start">
                <div>
                    <div class="border-bottom p-3">
                        <h5 class="h6 fw-bold">Our vision</h5>
                        <p>Leaders in innovation, quality, and cost effective travel & tourism solutions.</p>
                    </div>
                    <div class="border-bottom p-3">
                        <h5 class="h6 fw-bold">Our mission</h5>
                        <p>Is to support our customers to grow their business and dreams with best service, whilst giving all our clients honest comprehensive and independent advice.</p>
                    </div>
                    <div class="p-3">
                        <h5 class="h6 fw-bold">Our core values</h5>
                        <p>BOOKING EXPRESS was formed to provide a level of service far exceeding what is available today. Its vision, mission, goals and objectives are derived from the beliefs and values of its founders.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light" style="" id="contact">
    <div class="container">
        <div class="row g-3 d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="">
                    <div class="mb-4">
                        <h4 class="h2 fw-bold">Get in touch with us.</h4>
                    </div>
                    <div class="">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Email</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput">Subject</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Enter your comments</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row justify-content-center d-flex align-items-center g-2">
                                    <div class="col-auto">
                                        <div class="inline captchaCode" selectable="False">
                                            V1jYQq
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#" class="btn btn-outline-dark"><i class="icofont-refresh"></i></a>
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" name="name" value="" placeholder="Enter Captcha Code" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <a href="#" class="btn btn-danger">Send Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="addresdiv">
                    <div class="mb-3">
                        <div class="row d-flex align-items-center g-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/map.png" />
                            </div>
                            <div class="col">
                                <h6 class="mb-1">Office Address</h6>
                                <h5 class="mb-1">United Arab Emirates</h5>
                                <p class="mb-0">Ajman media free zone – United Arab Emirates</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row d-flex align-items-center g-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/phone.png" />
                            </div>
                            <div class="col">
                                <h6 class="mb-1">Phone</h6>
                                <!--<h5 class="mb-1">Phone</h5>-->
                                <p class="mb-0">00 971 50 537 7345</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row d-flex align-items-center g-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/mail.png" />
                            </div>
                            <div class="col">
                                <h6 class="mb-1">Email</h6>
                                <!--<h5 class="mb-1">Phone</h5>-->
                                <p class="mb-0">info@bookingexpress.co</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row d-flex align-items-center g-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/mail.png" />
                            </div>
                            <div class="col">
                                <h6 class="mb-1">Group bookings email</h6>
                                <!--<h5 class="mb-1">Phone</h5>-->
                                <p class="mb-0">S.hijazin@bookingexpress.co</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row d-flex align-items-center g-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/mail.png" />
                            </div>
                            <div class="col">
                                <h6 class="mb-1">Fit bookings email</h6>
                                <!--<h5 class="mb-1">Phone</h5>-->
                                <p class="mb-0">J.tadros@bookingexpress.co</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row d-flex align-items-center g-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/mail.png" />
                            </div>
                            <div class="col">
                                <h6 class="mb-1">Accounting email</h6>
                                <!--<h5 class="mb-1">Phone</h5>-->
                                <p class="mb-0">accounting@bookingexpress.co</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-10" style="background-color: #393a3c;">
    <div class="container">
        <div class="row g-3 justify-content-center d-flex align-items-center">
            <div class="col-md-3 text-center text-md-end text-lg-end">
                <h2 class="text-light">Dare to Express Your Booking</h2>
                <div class="d-flex socialmedia justify-content-center justify-content-md-end justify-content-lg-end">
                    <div>
                        <a href="#"><i class="icofont-linkedin"></i></a>
                    </div>
                    <div>
                        <a href="#"><i class="icofont-facebook"></i></a>
                    </div>
                    <div>
                        <a href="#"><i class="icofont-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-auto text-center text-md-start text-lg-start">
                <div>
                    <img src="assets/img/socialQR.jpg" height="210" />
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-2">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 text-center text-md-start text-lg-start">
                <div>
                    <p class="mb-0">Copyright © 2023 to Booking Express</p>
                </div>
            </div>
            <div class="col-md-6 text-md-end text-center">
                <div class="d-inline-flex paylogo">
                    <div>
                        <img src="assets/img/logos/mastercard.png" />
                    </div>
                    <div>
                        <img src="assets/img/logos/visacard.png" />
                    </div>
                    <div>
                        <img src="assets/img/logos/amex.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>