<section class="px-3 py-2 border-bottom bg-white">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 pb-0">
                  <li class="breadcrumb-item"><a routerLink="/admin/dashboard" class="text-dark">Home</a></li>
                  <li class="breadcrumb-item" aria-current="page">Users</li>
                  <li class="breadcrumb-item active" aria-current="page">Add New User</li>
                </ol>
              </nav>
        </div>
    </div>
</section>
<section class="px-3 py-2">
    <div class="row">
        <div class="col-12">
            <h3 class="fw-bold h5">Users  <span class="fw-light">| Add New User</span></h3>
        </div>
    </div>
</section>
<section class="px-3 py-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div>
                <!-- <h6>Add New User</h6> -->
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Middle Name Name</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Email ID</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Mobile</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Create Password</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>