<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Elevate your project management skills with Microsoft Project.</h6>
                <h1 class="fw-bold">Effortlessly manage projects of any size with Microsoft Project.</h1>
                <p>You can buy the world's leading project management software to help you plan, track, and collaborate on projects of all sizes.</p>
                <div class="d-flex align-items-center flex-wrap">
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                    <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/ms-projects#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital 
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+ 
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent 
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft 
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, 
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd 
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 text-md-end">
                <div>
                    <h4 class="display-6">Streamline your project management processes with Microsoft Project.</h4>
                    <p>Microsoft Project is designed to help you streamline your project management processes and deliver results more efficiently. Its powerful features allow you to easily create and manage project plans, schedules, budgets, and resources.</p>
                    <p><strong>By purchasing Microsoft Project, you can enjoy a host of benefits, including</strong></p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ofcPkg ps-md-5">
                    <ul class="ofcPkgList">
                        <li>
                            <h5>Improved productivity</h5>
                            <p>Microsoft Project provides tools that help you save time and simplify complex tasks, so you can focus on delivering quality work.</p>
                        </li>
                        <li>
                            <h5>Better collaboration</h5>
                            <p>With Microsoft Project, you can easily collaborate with team members, stakeholders, and other stakeholders. You can share files, communicate in real time, and get feedback on your work.</p>
                        </li>
                        <li>
                            <h5>Increased visibility</h5>
                            <p>Microsoft Project provides real-time insights into your project's progress, so you can identify potential risks, make informed decisions, and take corrective actions before it's too late.</p>
                        </li>
                        <li>
                            <h5>Customizable dashboards</h5>
                            <p>You can create custom dashboards that provide a real-time overview of your project's progress, including key performance indicators and other essential metrics.</p>
                        </li>
                        <li>
                            <h5>Seamless integration</h5>
                            <p>Microsoft Project seamlessly integrates with other Microsoft products, including Excel, PowerPoint, and Teams, making it easy to collaborate and share data across your organization.</p>
                        </li>
                        <!-- <li>
                            <h5>Integration with Microsoft Office</h5>
                            <p>Exchange integrates seamlessly with Microsoft Office, which means you can access your email and calendar directly from Outlook, Word, Excel, and other Office applications.</p>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-10" style="background-color: #f2f2f2;" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore plans</h3>
                    <h6>Plan, track, and collaborate like a pro with Microsoft Project.</h6>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of April 2023</small>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>Project Plan 1</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                9,420
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                863.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>An online project management solution to help keep your projects, resources, and teams organized and on track. </li>
                            <li>Plan projects, track status, and collaborate with others from virtually anywhere.
                            </li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU28"
                                aria-controls="staticBackdrop">
                                View details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative overflow-hidden">
                    <div class="">
                        <span class="popular-badge position-absolute text-center fw-bold">Most Popular</span>
                        <div class="mb-4">
                            <h4>Project Plan 3</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                28,260  
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                2,590.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>A complete online project management solution to help keep your projects, resources, and teams organized and on track.</li>
                            <li> Plan projects, track status, and collaborate with others from virtually anywhere.
                            </li>
                        </ul>
                      
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU26"
                                aria-controls="staticBackdrop">
                                View details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative overflow-hidden">
                    <div class="">
                        <div class="mb-4">
                            <h4>Project Plan 5</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                51,840
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                4,752
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>A flexible solution for project portfolio management and everyday work. </li>
                            <li>Includes the Project client for people who need full project management capabilities on their Windows desktops. </li>
                            <li>It supports project management online from virtually anywhere.
                            </li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU27"
                                aria-controls="staticBackdrop">
                                View details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center py-5">
    <h4 class="h5 mb-0">For Discounts and bulk enquiry, please email your query to <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9625603581" class="d-inline-block h2 mb-0 fw-bolder text-dark">96256 03581</a>
                    <div class="clearfix"></div>
                    <a href="/contact" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="vCPU26"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft Project Plan3 </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body position-relative">
            <div>
                <p>Get powerful project management and publishing in the cloud, plus keep projects, resources, and teams
                    organized and on track. </p>
                <p>Use easy and efficient planning and status tracking, plus scheduling and costing. </p>
                <p>Collaborate with others from virtually anywhere. </p>
                <p>Assign resources with resource management capabilities. </p>
                <p>Each subscription license allows for up to five concurrent installations of the Project Online
                    desktop app. </p>
                <p>Get started quickly with Project Plan 3 and have powerful project management capabilities to plan and
                    manage your organization’s projects from anywhere. </p>



                <div class="plansOffcanvas">
                    <h5 class="mb-0">Features included.</h5>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/visualization.png" alt="">
                            </div>
                            <div class="col">
                                <h6>View visualized timelines. </h6>
                                <p class="mb-0">Understand the relationships between tasks with help from highlighted
                                    task paths in a timeline view. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/Intelligent.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Simplify work with a visual experience. </h6>
                                <p class="mb-0">Get started quickly and work intuitively through a simple-to-use and
                                    coherent user experience shared across Microsoft 365. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/eDiscovery.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Get best-in-class templates. </h6>
                                <p class="mb-0">Use prebuilt templates from within Project or go to Office.com for
                                    access to best-in-class project plans. </p>

                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/Lifecycle-Management.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Visualize progress</h6>
                                <p class="mb-0">Visualize progress across projects, programs, and portfolios by
                                    connecting different projects within a single view. Choose the initiatives you want
                                    to see and add phases, milestones, and key dates. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/Engage.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Make informed decisions. </h6>
                                <p class="mb-0">Use baselines to help you track and compare actual progress to the
                                    original project plan. </p>
                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/business-report.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Create reports. </h6>
                                <p class="mb-0">Get insights, communicate information to stakeholders, and achieve
                                    results with help from powerful built-in reports like burndown and resource
                                    overview. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/protect _business.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Tailor your project management </h6>
                                <p class="mb-0">Leverage the Microsoft Power Platform to customize your project
                                    management needs to best suit your organization. </p>
                            </div>
                        </div>
                    </div>



                </div>

                <h5 class="mb-0 mt-4">System Requirements </h5>
                <div class="plansOffcanvas">
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Processor </h6>
                                <ul>
                                    <li>1 gigahertz (GHz) or faster x86- or x64-bit processor with SSE2. </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Operating System </h6>
                                <ul>
                                    <li>Same as Microsoft 365, see the Microsoft 365 and Office Resources page for more
                                        information. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Memory </h6>
                                <ul>
                                    <li>1 GB RAM (32-bit); 2 GB RAM (64-bit). </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Hard Disk Space </h6>
                                <ul>
                                    <li>3 GB available disk space. </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Display </h6>
                                <ul>
                                    <li>1024 x 768 resolution. </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Graphics </h6>
                                <ul>
                                    <li>Graphics hardware acceleration requires a DirectX 10 graphics card. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Multi-touch </h6>
                                <ul>
                                    <li>A touch-enabled device is required to use any multi-touch functionality.
                                        However, all features and functionality are always available by using a
                                        keyboard, mouse or other standard- or accessible-input device. Note that new
                                        touch features are optimized for use with Windows 8 or later. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Additional system requirements </h6>
                                <ul>
                                    <li>Internet functionality requires an internet connection. </li>
                                    <li>Microsoft account required. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="vCPU27"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft Project Plan5 </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body position-relative">
            <div>
                <p>Guide any project with a cloud-based project and portfolio management solution that’s perfect for
                    portfolio and resource managers, and solution administrators. </p>
                <p>Project Plan 5 includes all Project Plan 3 functionality, plus: </p>
                <ul>
                    <li> Demand management </li>
                    <li>Enterprise resource management</li>
                    <li>Portfolio analysis and optimization </li>
                </ul>
                <p>Get started quickly with Project Plan 5 and have powerful project management capabilities to plan,
                    prioritize, and manage your organization’s project and portfolio investments from almost anywhere.
                </p>

                <div class="plansOffcanvas">
                    <h5 class="mb-0">Features included.</h5>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/view.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Choose your view. </h6>
                                <p class="mb-0">Work on the same project with others using the project view you prefer
                                    whether it's grid, board, or timeline. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/single-view.png" alt="">
                            </div>
                            <div class="col">
                                <h6>single view </h6>
                                <p class="mb-0">Get a single view of all your resources to understand the capacity and
                                    availability to execute your portfolio. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/access-control.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Access anytime, anywhere </h6>
                                <p class="mb-0">Let teams view, edit, submit, and collaborate on projects, portfolio,
                                    and everyday work from anywhere. </p>

                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/apps.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Works with Office apps </h6>
                                <p class="mb-0">Enjoy rich connections and achieve more familiar apps like Word, Excel,
                                    and PowerPoint, plus Teams, OneDrive, and SharePoint in Microsoft 365. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/roadmap.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Follow roadmaps. </h6>
                                <p class="mb-0">Visualize progress across projects, programs, and portfolios by
                                    connecting different projects within a single view. Choose the initiatives you want
                                    to see and add phases, milestones, and key dates. </p>
                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/business-report.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Create reports. </h6>
                                <p class="mb-0">Gain actionable insights and information that can be communicated to
                                    stakeholders and shareholders with powerful built-in reports like burndown and
                                    resource overview. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/Microsoft-Teams.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Microsoft Teams </h6>
                                <p class="mb-0">Use Project and Microsoft Teams to collaborate on projects, including
                                    file sharing, chats, meetings, and more. </p>
                            </div>
                        </div>
                    </div>



                </div>

                <h5 class="mb-0 mt-4">System Requirements </h5>
                <div class="plansOffcanvas">
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Processor </h6>
                                <ul>
                                    <li>1 gigahertz (GHz) or faster x86- or x64-bit processor with SSE2 </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Operating System </h6>
                                <ul>
                                    <li>Same as Microsoft 365, see the Microsoft 365 and Office Resources page for more
                                        information. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Memory </h6>
                                <ul>
                                    <li>1 GB RAM (32-bit); 2 GB RAM (64-bit) </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Hard Disk Space </h6>
                                <ul>
                                    <li>3 GB available disk space </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Display </h6>
                                <ul>
                                    <li>1024 x 768 resolution. </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Graphics </h6>
                                <ul>
                                    <li>Graphics hardware acceleration requires a DirectX 10 graphics card. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Multi-touch </h6>
                                <ul>
                                    <li>A touch-enabled device is required to use any multi-touch functionality.
                                        However, all features and functionality are always available by using a
                                        keyboard, mouse or other standard- or accessible-input device. Note that new
                                        touch features are optimized for use with Windows 8 or later. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Additional system requirements </h6>
                                <ul>
                                    <li>Internet functionality requires an internet connection. </li>
                                    <li>Microsoft account required. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="vCPU28"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft Project Plan1 </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body position-relative">
            <div>
                <p>Easily manage projects with help from the simple, visual tools in Project Plan 1.</p>
                <p>Start quickly and take control of any project. </p>
                <p>Use easy and efficient planning and status tracking.</p>
                <p>Collaborate with others from virtually anywhere.</p>
                <p>Let people and teams quickly manage projects with help from the simple, straightforward Project Plan
                    1 and a seamless Microsoft 365 experience. </p>

                <div class="plansOffcanvas">
                    <h5 class="mb-0">Features included.</h5>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/visualization.png" alt="">
                            </div>
                            <div class="col">
                                <h6>See visualized timelines. </h6>
                                <p class="mb-0">Understand the relationships between tasks with help from highlighted
                                    task paths in a timeline view. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/Collaborate.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Collaborate and communicate easily. </h6>
                                <p class="mb-0">Use Project and Microsoft Teams to collaborate on projects, including
                                    file sharing, chats, meetings, and more </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/scheduling.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Simplify task scheduling. </h6>
                                <p class="mb-0">Use smart scheduling to easily organize tasks </p>

                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/view.png" alt="">
                            </div>
                            <div class="col">
                                <h6>Choose your view. </h6>
                                <p class="mb-0">Work with your team on the same project using the project view you
                                    prefer whether it's grid, board, or timeline. </p>
                            </div>
                        </div>
                    </div>




                </div>

                <h5 class="mb-0 mt-4">System Requirements </h5>
                <div class="plansOffcanvas">
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Processor </h6>
                                <ul>
                                    <li>1 gigahertz (GHz) or faster x86- or x64-bit processor with SSE2 </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Operating System </h6>
                                <ul>
                                    <li>Same as Microsoft 365, see the Microsoft 365 and Office Resources page for more
                                        information. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Memory </h6>
                                <ul>
                                    <li>1 GB RAM (32-bit); 2 GB RAM (64-bit) </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Hard Disk Space </h6>
                                <ul>
                                    <li>3 GB available disk space </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Display </h6>
                                <ul>
                                    <li>1024 x 768 resolution. </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Graphics </h6>
                                <ul>
                                    <li>Graphics hardware acceleration requires a DirectX 10 graphics card. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Multi-touch </h6>
                                <ul>
                                    <li>A touch-enabled device is required to use any multi-touch functionality.
                                        However, all features and functionality are always available by using a
                                        keyboard, mouse or other standard- or accessible-input device. Note that new
                                        touch features are optimized for use with Windows 8 or later. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Additional system requirements </h6>
                                <ul>
                                    <li>Internet functionality requires an internet connection. </li>
                                    <li>Microsoft account required. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
        </div>
    </div>