<section class="px-3 py-2 border-bottom bg-white">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 pb-0">
                  <li class="breadcrumb-item"><a routerLink="/admin/dashboard" class="text-dark">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Product Item Descriptions</li>
                </ol>
              </nav>
        </div>
    </div>
</section>
<section class="px-3 py-2">
    <div class="row justify-content-between align-items-center">
        <div class="col">
            <h3 class="fw-bold h5">Add Product Item Desc <span class="fw-light">| Product Item</span></h3>
        </div>
        <div class="col text-end">
            <!-- <button class="btn btn-sm btn-outline-dark">Refresh&nbsp;<i class="icofont-refresh"></i></button> -->
            <a href="" class="btn btn-sm btn-outline-dark">See all product items info</a>
        </div>
    </div>
</section>
<section class="px-3 py-2">
    <div class="row g-3">
        <div class="col-md-3">
            <form [formGroup]="myForm">
                <div class="bg-info p-2 shadow-sm mb-3 rounded-1">
                    <div class="form-floating">
                        <select class="form-select" id="ItemID" formControlName="ItemID"
                            aria-label="Floating label select example">
                            <option value="" selected>--Select Product Item--</option>
                            <option *ngFor="let product of ProdAddOutput" value="{{product.itemID}}">({{product.skuID}}) {{product.productTitle}} </option>
                        </select>
                        <label for="ItemID">Select Product Item&nbsp;<span class="text-danger">*</span></label>
                    </div>
                    
                </div>
            </form>
            
            <div class="list-group" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="list-group-item list-group-item-action active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Add Item Overview</button>
                <button class="list-group-item list-group-item-action" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Key Features & Benefits</button>
                    
                <button class="list-group-item list-group-item-action" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
                    type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Licensing & Overview</button>
                <button class="list-group-item list-group-item-action" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
                    type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Specifications</button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
                    tabindex="0">
                    <ckeditor [editor]="ItemOverviewEditor" [(ngModel)]="ItemOvervieweditorContent" data="" style="height: 300px;"></ckeditor>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                    tabindex="0">...2</div>
                <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab"
                    tabindex="0">...3</div>
                
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                    tabindex="0">...4</div>
            </div>
            <div class="text-end mt-3">
                <button class="btn btn-info" (click)="savedata()">Publish Data</button>
            </div>
        </div>
    </div>
</section>