:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px !important;
}
/*..Main Loader..*/
#loadingLoader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000b5;
    z-index: 99999;
}

    #loadingLoader > div {
        width: 115px;
        height: 120px;
        /*background-color: #fff;*/
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        /*padding-top: 9px;*/
    }

        #loadingLoader > div span {
            display: block;
            font-weight: 600;
        }