@media(max-width:768px){
    .waves {
        height:40px;
        min-height:40px;
      }
    #UCcarousel .carousel-item {
        height: 60vh;
        min-height: 250px;
        background: no-repeat center right;
        background-size: cover;
    }
    .captionRow {
        height: 60vh;
    }
    #UCcarousel .caption h2 {
        font-size: 30px;
        font-weight: 500;
    }
    .carousel-control-prev {
        right: 20%;
    }
    .py-10 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .offc365sctin{
        background-size: 58%;
    }
}
@media(max-width:576px){
    .btnu{
        padding: 12px 20px;
    }
}