<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Are you looking to streamline your business processes and improve productivity?</h1>
                <h5 class="mt-3">Our Buy Biz Apps assessment service can help.</h5>
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>Ensure seamless integration of your systems with Biz Apps</h3>
                <p>Biz Apps are applications designed to help businesses improve their operations, productivity, and efficiency.
                    The Microsoft Power Platform products, such as Power BI, Power Apps, Power Automate, and Power Virtual
                    Agents, contribute to "Biz Apps." 
                    
                    </p>
                    <p>These specially designed applications automate and streamline the processes involved in a company, such as
                        accounting and finance, customer relationship management (CRM), sales, marketing, and inventory
                        management. In addition, biz Apps can facilitate collaboration between employees, customers, and partners
                        and provide insights and analytics to help businesses make informed decisions.
                        </p>

                        <h4>Why should you use Biz Apps?</h4>
                        <p>Did you notice that, on average, CRM and ERP solutions account for most of the technology spending? As a
                            result, customers are setting aside more money than ever for cloud-based business apps, their CRM, and ERP
                            solutions.</p>
                            <p>With Biz Apps, We help you take advantage of the enormous opportunity so you can expand your business
                                more quickly.</p>
                                <p>Biz Apps allows you to quickly and easily develop, deploy, and manage web and mobile applications tailored to
                                    your needs. As a result, we enable you to scale your operations quickly and cost-effectively and make the most
                                    of your existing IT infrastructure. In addition, using Biz Apps will improve a company through increased
                                    automation or communication. This could be anything from automating everyday accounting tasks or
                                    enhancing communication between in-house and hybrid work teams.
                                    </p>
            </div>
            <div class="col-md-5">
                <img src="/assets/img/bizapp.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <h3 class="mb-5">Accelerate your Benefits with Biz Apps 
                </h3>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b1.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Improved product quality and performance</h6>
                            <p class="mb-0">Biz Apps make it easier for businesses to
                                automate and streamline their operations, resulting in faster processing of tasks, more efficient
                                use of resources, and improved productivity. 
                                </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b2.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Increased Productivity</h6>
                            <p class="mb-0">Process automation and streamlining can reduce overhead and labor
                                costs, lowering overall business expenses.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b3.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Enhanced Customer Experience</h6>
                            <p class="mb-0">Businesses can improve customer service through Biz Apps
                                by providing more detailed and accurate information, faster response times, and improving
                                communication between them and their customers. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b4.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Greater Precision</h6>
                            <p class="mb-0">Automating business processes eliminates human error and ensures
                                accuracy. 
                                </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/b5.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Security and Compliance</h6>
                            <p class="mb-0">Biz Apps can provide enhanced security measures to protect
                                sensitive data from unauthorized access and malicious attacks.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>