<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold">Terms and Conditions</h2>
                <h4>Collecting your information</h4>
                <h6>The Unified Cloud Pvt Ltd (Unify Cloud India) holds your personal information in accordance with this privacy statement and we will:</h6>
                <ul>
                    <li>Tell you when and for what purpose we will be collecting the information</li>
                    <li>Tell you what information is necessary to access Unify Cloud India’s products, solutions, and services, including payments and transactions</li>
                    <li>Not ask for or collect any personal or sensitive information about you unless it is necessary to meet legal, public interest or statistical requirements to complete the requested transaction</li>
                    <li>Take all reasonable steps to permanently remove personal identification from the information collected about you if it is no longer needed</li>
                </ul>
                <h4>Using your information</h4>
                <h6>When you provide Unify Cloud India with your personal information we will:</h6>
                <ul>
                    <li>Use the information (your name, email, contact number, social profiles) to help you inform about Unify Cloud India’s solutions, products, and services</li>
                    <li>Aggregate the data for analysis</li>
                    <li>Store your data on secured servers, in email databases, survey tools, event management databases and CRM</li>

                </ul>
                <h4>Disclosing your personal information</h4>
                <h6>We will not disclose your personal information to any other person or organisation unless one of the following reasons apply:</h6>
                <ul>
                    <li>You have given us your consent to do so</li>
                    <li>The information is needed to conduct a transaction between you and that person or organisation</li>
                    <li>We are required by law to do so</li>
                    <li>That person or organisation is providing a service to Unify Cloud India and is required to maintain the same or similar privacy legislation principles</li>
                </ul>
                <h4>Security of your information</h4>
                <h6>When handling your information, Unify Cloud India will:</h6>
                <ul>
                    <li>Take reasonable steps to ensure that all information we collect, use, or disclose is accurate, complete, up to date and securely stored</li>
                    <li>Monitor transmissions sent to or from Unify Cloud India for quality control and systems administration</li>
                    <li>Strive to protect your personal information from misuse, loss, and unauthorised access; however, we cannot guarantee security.</li>
                    <li>Operate secure servers to minimise the risk of unauthorised use of your credit card information</li>
                    <li>Provide a means of contacting us for accessing, correcting, or updating your information</li>
                </ul>
                <h4>Accessing, correcting, or updating your personal information</h4>
                <p>For more information on Unify Cloud India’s privacy policy or to request access to identifiable personal information, seek correction of such information, or complain about a breach contact Unify Cloud India’s CEO- Marketing at <a href="mailto:vivek@unifycloud.in">vivek@unifycloud.in</a>  with the subject line “privacy”.</p>
                <h4>Remarketing</h4>
                <p>At times, Unify Cloud India uses third-party vendor re-marketing tracking cookies, including the Google Adwords tracking cookie and various social media remarketing cookies. This means we will continue to show ads to you across the internet such as social media platforms or the Google Content Network. As always we respect your privacy and are not collecting any identifiable information through the use of Google’s, or any other third party, remarketing system.</p>
                <p>These third-party vendors will place cookies on web browsers in order to serve ads based on past visits to our website. This allows us to make special offers and continue to promote Unify Cloud India to those who have shown interest. If you have concerns, visitors can opt out of Google’s use of cookies by visiting Google’s Ads Settings.</p>
                <h4>Copyright</h4>
                <p>Unify Cloud India owns or licenses all content on this website and we assert our right to be recognized as the author of original material on this website.</p>
                <p>Unify Cloud India supports the sharing of information and the use of the website content for the purposes of private study, research, awareness & education, interest. However, you are not permitted to reproduce or reuse content on this website for commercial purposes.</p>
                <h4>Hosting and Access to Platform</h4>
                <p>We provide the network and web hosting of Azure  and have the right to modify or discontinue access to the Azure at any time. This right may be restricted or removed at our discretion without prior notice to you.</p>
                <h4>Content on Website</h4>
                <p>The design, and the way in which it may be presented on the website, is our sole responsibility. We are solely responsible for the content contained within the website, which we will be required to review before use. We may make changes and updates to the website without prior notification and will have no liability for any loss or damage arising from any alteration.</p>
                <h4>Registration, Orders and Prices</h4>
                <p>The prices of these services may be subject to change without notice, so please check the website regularly for current prices. We reserve the right to modify or remove any services at any time without prior notice. No offers, coupons or discounts are applicable to this service and their use is prohibited by law.</p>
                <h4>Shipping</h4>
                <p>We reserve the right to cancel any order within 24 hours of its arrival without charges or further notice if we reasonably believe that any product was mistakenly sent to you.</p>
                <h4>Termination</h4>
                <p>We will stop delivering services immediately if you use it to obtain any type of banned item, for any reason, or if you violate these conditions.</p>
                <h4>Delivery, Title and Risk</h4>
                <p>Some of the sites where these services can be accessed are provided by third parties which is not associated with and not controlled by the owner of the website. Therefore, you should read the contents of the specific site, its policies, and practices. Some web sites and services may require you to provide personal information which you may choose to change at any time.</p>
                <h4>Payment</h4>
                <p>Payment is due on presentation of invoice unless credit terms have been agreed in writing with Unify Cloud India. Unify Cloud India shall invoice Customer: on acceptance of the Customer’s order in respect of software; on completion of professional services or monthly in arrears in respect of recurring services unless otherwise agreed in writing and in advance in respect of maintenance and support services.</p>
                <ol>
                    <li>If payment is not made on the due date, Unify Cloud India will be entitled to charge the interest calculated
                        daily and any additional damages due to late payment by the consumer at Unify Cloud India’s discretion.</li>
                    <li>
                        While availing any of the payment method/s available on the Platform, we will not be responsible or assume any
                        liability, whatsoever in respect of any loss or damage arising directly or indirectly to you due to:
                        <ol>
                            <li>Lack of authorization for any transaction/s, or</li>
                            <li>Exceeding the limit mutually agreed by You and between “Bank/s”, or</li>
                            <li>Any payment issues arising out of the transaction, or</li>
                            <li>Decline of transaction for any other reason/s.</li>
                        </ol>
                
                    </li>
                <li>Before delivering your order to you, Seller may request you to provide supporting documents (including but not
                    limited to Govt. issued ID and address proof) to establish the ownership of the payment instrument used by you for
                    your purchase.</li>
                <li>You have specifically authorized Unify Cloud India or its service providers to collect, process, facilitate and
                    remit payments and/or the Transaction Price electronically or through Cash on Delivery to and from other Users in
                    respect of transactions through Payment Facility.</li>
                <li>Unify Cloud India reserves the right to refuse to process Transactions by Buyers with a prior history of
                    questionable charges including without limitation breach of any agreements by Buyer with Unify Cloud India or
                    breach/violation of any law or any charges imposed by Issuing Bank or breach of any policy.</li>
                <li>As required by applicable law, if the Customer makes a purchase of an amount equal to or above INR 50,000.00, the
                    Customer will be required to update the PAN number.</li>
                <li>All Valid Credit / Debit/ Cash Card/ and other payment instruments are processed using a Credit Card payment gateway
                    or appropriate payment system infrastructure and the same will also be governed by the terms and conditions agreed
                    to between the Buyer and the respective Issuing Bank and payment instrument issuing company.</li>
                <li>All online bank transfers from valid bank accounts are processed using the gateway provided by the respective
                    issuing bank which supports payment facility to provide these services to the users. All such online bank transfers
                    on payment facility are also governed by the terms and conditions agreed to between buyer and the respective issuing
                    bank.</li>
                
                </ol>

                <h4>Product specifications</h4>
                <p>You are welcome to look through our website and check out all the features that we offer but you should know that we do not provide product specifications or materials. This is to make sure that all products sold by our company are exactly what you expect from us. We give our products as is, with no guarantees. When you receive your product, if you notice a problem with your product, it is your responsibility to notify us as soon as possible and to fix the problem.</p>
                <h4>Children</h4>
                <p>This website is intended for people over the age of 18 years old. Parents, teachers, and care givers of children under the age of 18 should not use this website and should not submit any personal information about a child to this website. The use of this website by anyone under 18 years of age is expressly forbidden.</p>

                <h4>Unify Cloud India Liability</h4>
                <p>It is understood that those users (users of the Unify Cloud India services) and the website itself are solely responsible for and assume all risk of the goods, services, loss or damage of any nature or nature whatsoever associated with the activities carried out by users.</p>
                <p>The website user’s account, when you register on Unify Cloud India, you agree that we are the official providers of any services made available. These services may be accessed, utilized, and used exclusively through the web site at http://www.unifycloud.in. We do not provide direct service to external websites.</p>

                <h4>Rights of Unify Cloud India.</h4>
                <p>Subject to the Terms of Use, Unify Cloud India. hereby grants to you certain rights as the visitor: (i) to read, download and print any document (i.e. documents displayed or contained on any part of the https://unifycloud.in) by clicking the print icon or by entering your password on the page .</p>

                <h4>Changes to the Terms of Service</h4>
                <p>We may make changes to the Terms of Service at any time without notice. Any such changes will be effective upon posting on the website and the new terms will continue in effect for a period of 60 days unless we inform you otherwise. You may review, amend, or remove your information at any time from this electronic record by filling out the appropriate form.</p>
                <p>Your participation in this transaction does not confer a right to enforce or exercise any of these Terms of Service. Use of the Terms of Service If you use or access a service that we provide, then you agree to these Terms of Service, all of our policies, and your acceptance of the license that we have granted to the recipient of your use of the service.</p>
                <p>The “Conditions of Use” of this website are in writing and the parties agree to submit their electronic signature on this document. Therefore, if any amendment or modification is made to the “Conditions of Use”, it must be made by the Unify Cloud India.</p>
                <p>One can use these Terms and Conditions of Use only in its true and complete form and be free from all coercion, fraud, force, threats, or fraudulent conduct by the parties. The “Conditions of Use” shall be governed by the laws of India.</p>

                <h4>Disclaimer</h4>
                <p>Unify Cloud India distributes the information on this website as a general reference source.</p>
                <p>This website contains links to other websites operated by organisations other than Unify Cloud India. The other websites are outside of Unify Cloud India’s control and links are provided for your convenience.</p>
                <p>Despite our best efforts, Unify Cloud India makes no warranties that the information in this publication is free of infection by computer viruses or other contamination.</p>
                <p>Unify Cloud India disclaims all responsibility and all liability (including through negligence) for all expenses, losses, damages and costs you might incur as a result of the information on this website or any linked website being inaccurate or incomplete.</p>
                <h4>Acknowledgement and Acceptance of Terms of Use</h4>
                <p>The Terms of Use constitute a legally binding contract between Unify Cloud India. and you (the visitor). By agreeing to the Terms of Use, you are deemed to have read and agree to be bound by the Terms of Use in full.</p>
            </div>
        </div>
    </div>
</section>