<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Experience the future with OpenAI.</h1>
                <h5 class="mt-3">OpenAI is committed to safely and responsibly advancing AI technology, aiming to create a more positive future for all of us.</h5>
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <h4>The Ultimate AI Solution for Your Business Needs</h4>
             <p>Azure AI provides businesses a robust platform for developing more intelligent and efficient applications. In addition to automating tasks, optimizing processes, and providing insights, Azure AI allows organizations to create applications that use artificial intelligence (AI).</p>
             <p>The Azure AI platform offers a range of capabilities that enable businesses to build intelligent applications quickly and easily. This organization offers two types of AI services: pre-built AI services and custom AI development platforms.</p>
             <p>The Azure Cognitive Services are pre-built AI services enabling businesses to quickly and efficiently add AI functionality to their applications. Cognitive services are divided into five categories: vision, speech, language, decision, and web search. In each of these categories, there is a range of services that are offered.</p>
             <p>For example, the Vision category includes services enabling an application to recognize objects and faces in images. In the Speech category, applications are provided with services that assist them in identifying and interpreting spoken language.</p>
          </div>
          <div class="col-md-4"><img src="assets/img/ai.png" alt="" class="img-fluid"></div>
       </div>
    </div>
 </section>
 
 <section class="py-10">
    <div class="container">
       <div class="row">
          <div class="col-md-6 card">
             <div class="">
                 <div class="card-body">
                     <h4>Azure Machine Learning</h4>
                     <p>Azure Machine Learning is a platform that enables businesses to create custom AI models. Machine Learning allows organizations to develop models tailored specifically to their needs and can be used for various tasks, including predicting customer churn and recognizing objects in images.</p>
                     <p>In addition, Azure Machine Learning offers several features that facilitate the development and deployment of custom AI models. For example, businesses can use AutoML to create models without writing any code, and Azure Machine Learning pipelines can be used to deploy the models to production.</p>
                 </div>
             </div>
          </div>
          <div class="col-md-6 card">
             <div class="">
                 <div class="card-body">
                     <h4>Azure Bot Services</h4>
                     <p>Azure Bot Services is a platform for building and deploying chatbots. Businesses can easily and quickly create chatbots capable of understanding natural language and conversing with users using Bot Services. As part of Bot Services, many AI-powered capabilities, such as sentiment analysis and natural language understanding, allow chatbots to understand and naturally respond to user input.</p>
                 </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 
 <section class="py-10 light-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <h4>Unlock a New Level of Business Insight with Azure AI</h4>
             <p>The Azure AI Platform provides businesses comprehensive tools and services for developing and deploying artificial intelligence applications.</p>
             <p>The Azure AI platform includes a suite of pre-built AI services and a platform for developing custom AI solutions. Additionally, the platform offers a range of tools and services that enable businesses to automate AI development and deployment.</p>
             <p>As a result, the Azure AI platform is an excellent choice if you are looking for a powerful and easy-to-use platform for developing and deploying AI applications.</p>
             <h4>Explore the Azure Open AI Service Studio</h4>
             <p>Azure Open AI Service Studio is a user-friendly graphical interface for creating, managing, and monitoring AI models in the Microsoft Azure cloud. It provides a one-stop shop for building, training, and deploying AI models.</p>
             <p>With the Studio, users can quickly and easily create and manage AI models, track progress, and monitor performance. Additionally, users can deploy their models to Azure’s cloud computing services and have access to a wide range of AI services, such as Azure Cognitive Services and Azure Machine Learning.</p>
             <p>The Studio is designed to make data science and machine learning easier and more accessible to developers and data scientists of all skill levels.</p>
          </div>
          <div class="col-md-4"><img src="assets/img/first-ai.png" alt="" class="mt-3 img-fluid"></div>
       </div>
    </div>
 </section>
 
 <section class="py-5">
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-10 text-center mt-5">
         <h3 class="mb-5">The Key Benefits & Capabilities</h3>
         <div class="shadow-sm p-3 mb-3 border bg-white">
            <div class="row d-flex align-items-center">
               <div class="col-auto"><img src="assets/img/icons/user-friendly.png" alt=""></div>
               <div class="col text-start">
                  <h6>User-Friendly</h6>
                  <p class="mb-0">Azure Open AI provides developers an easy-to-use platform for creating, training and deploying AI applications. In addition to its intuitive user interface, it offers easy-to-follow tutorials that make it ideal for developers of all skill levels.</p>
               </div>
            </div>
         </div>
         <div class="shadow-sm p-3 mb-3 border bg-white">
            <div class="row d-flex align-items-center">
               <div class="col-auto"><img src="assets/img/icons/incredibly-scalable.png" alt=""></div>
               <div class="col text-start">
                  <h6>Incredibly scalable</h6>
                  <p class="mb-0">Azure Open AI is highly scalable and supports a variety of AI models and applications. It enables developers to deploy AI models with just a few clicks, and the platform can host millions of users simultaneously.</p>
               </div>
            </div>
         </div>
         <div class="shadow-sm p-3 mb-3 border bg-white">
            <div class="row d-flex align-items-center">
               <div class="col-auto"><img src="assets/img/icons/cost-effective.png" alt=""></div>
               <div class="col text-start">
                  <h6>Cost-Effective</h6>
                  <p class="mb-0">Azure Open AI is an affordable, cost-effective solution for developing and deploying AI applications. Streamlining the development process eliminates the need for expensive hardware and software investments.</p>
               </div>
            </div>
         </div>
         <div class="shadow-sm p-3 mb-3 border bg-white">
            <div class="row d-flex align-items-center">
               <div class="col-auto"><img src="assets/img/icons/security.png" alt=""></div>
               <div class="col text-start">
                  <h6>Security</h6>
                  <p class="mb-0">Azure Open AI provides a secure and reliable platform for hosting AI applications. In addition, users can protect their personal information using advanced security features such as encryption, authentication, and authorization.</p>
               </div>
            </div>
         </div>
         <div class="shadow-sm p-3 mb-3 border bg-white">
            <div class="row d-flex align-items-center">
               <div class="col-auto"><img src="assets/img/icons/support.png" alt=""></div>
               <div class="col text-start">
                  <h6>Support</h6>
                  <p class="mb-0">Azure Open AI offers comprehensive support for developers and users. Users can also access resources and tutorials to help them make the most of the platform.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</section>
<section class="py-10 light-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h4>Make Smarter Decisions with Azure AI</h4>
             <p>Azure AI is revolutionizing the way businesses operate and grow. With powerful AI capabilities, companies can create more innovative and efficient solutions, drive innovation, and optimize operations. Azure AI enables companies to use data, machine learning, and artificial intelligence to develop more intelligent products, services, and customer experiences. As a result, businesses can leverage Azure AI to gain a competitive edge and unlock new opportunities.</p>
          </div>
       </div>
    </div>
 </section>
 <section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <!-- <h6>
                    <p>Fill out the form to be connected to one of our experts.</p>
                </h6> -->
                <app-enquiryform></app-enquiryform>
            </div>
        </div>
    </div>
</div>
</div>