<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Modernize Your Business with Our App and DBA Assessment</h1>
                <h5 class="mt-3">In today's fast-paced business environment, staying ahead of the curve and keeping your systems up-to-date is crucial. Our App and DBA Assessment can help you do just that.</h5>
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>Accelerate your Cloud Migration with Azure 
                </h3>
                <p>Modernization of Apps and DBA is a cloud-based IT automation platform designed to help businesses 
                    streamline their IT operations. Our platform offers an array of features to help protect businesses from cyber 
                    threats, secure their data, and ensure regulatory compliance. Modernization of Apps and DBA provides a 
                    comprehensive suite of features tailored to the needs of businesses of all sizes. This includes features such as 
                    cloud security monitoring, cloud access management, and cloud compliance auditing. 
                    </p>
                    <p><strong>With the Modernization of Apps and DBA, you can:</strong></p>
                    <ul class="prdftrList">
                        <li>Automate and manage the lifecycle of your IT infrastructure </li>
                        <li>Manage, monitor, and secure your cloud environment</li>
                        <li>Reduce costs and optimize performance </li>
                        <li>Quickly provision and deploy applications </li>
                        <li>Simplify operations with a unified view of your IT operations</li>
                    </ul>
                    <p>Modernization of Apps and DBA help you deliver consistent, reliable customer service. From provisioning to monitoring, patching, and scaling, our assessment platform enables you to ensure that your IT operations run smoothly and efficiently. We also offer many services to help you get the most out of your business platform. Our experts can help you get started, provide ongoing training and support, and even develop custom solutions to meet your unique needs. 
                        </p>
                        <p>This platform provides various benefits to businesses, such as increased security and compliance, reduced risk of data breaches, and cost savings. It also offers efficient and secure cloud usage, reduced operational costs, and improved visibility into cloud infrastructure.  </p>
            </div>
            <div class="col-md-5">
                <img src="/assets/img/bizapp.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <h3 class="mb-5">Explore our Capabilities 
                </h3>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/d1.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Fast and Easy Migration Estimates</h6>
                            <p class="mb-0">In a nutshell, automation simplifies and accelerates analytics to mere minutes so you can devote more time to 
                                strategy and planning.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/d2.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Modernize Guidance</h6>
                            <p class="mb-0">Static code analysis provides information about the code blocks and lines of code, the replacement code, and 
                                the effort involved. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/d3.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Cost Optimization and Downtime</h6>
                            <p class="mb-0">Maintains automated cost optimization through dynamic scaling to maximize resource utilization and minimize downtime </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/d4.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Secure & Compliment Migrations</h6>
                            <p class="mb-0">Generates security recommendations & incorporates policies to maintain compliance
                                </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/d5.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Multiple Language Support </h6>
                            <p class="mb-0">Covering over 70% of the most popular coding languages including .Net, Python, PHP and Java. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/d6.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Database Migration 
                            </h6>
                            <p class="mb-0">You can migrate a variety of database types, including SQL Server, Oracle, Linux, MySQL, Sybase, PostgreSQL, 
                                and SAP.</p>
                        </div>
                    </div>
                </div>

                <p>You can migrate a variety of database types, including SQL Server, Oracle, Linux, MySQL, Sybase, PostgreSQL, 
                    and SAP.</p>
                    <p>We provide you with an excellent choice for businesses of all sizes looking to ensure the security of their cloud 
                        data and maintain compliance with regulatory requirements. In addition to providing a comprehensive 
                        package of features and benefits, it also helps businesses comply with applicable regulations and protect their 
                        data
                        </p>
            </div>
        </div>
    </div>
</section>
<section class="py-10" style="background-color: #0899c3;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h5">Static Code Analysis</h3>
                    <img src="/assets/img/icons/big-data2.png" alt="">
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h5">Cost Optimization</h3>
                    <img src="/assets/img/icons/gear.png" alt="">
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h5">Application Migration</h3>
                    <img src="/assets/img/icons/migrating.png" alt="">
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h5">Increased Security</h3>
                    <img src="/assets/img/icons/secure-data.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>