<section class="py-5" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="bcmslrcntnt pt-mb-0 pt-lg-0 pt-3">
                    <h4 class="h3 fw-bold">Become a Seller</h4>
                    <p class="">Welcome to the Become a Seller page for cloud services! As a seller on our platform, you will have the opportunity to provide cloud-based solutions and services to a wide range of customers.</p>
                    <p class="">By becoming a seller on our platform, you can tap into this growing market and offer your expertise to businesses that are looking to take advantage of the benefits of cloud computing.</p>

                    <h5>What Can You Sell?</h5>
                    <p><strong>As a seller on our platform, you can offer a wide range of cloud-based services, including:</strong></p>
                    <ul class="ofcPkgList">
                        <li>
                            <strong>Infrastructure as a Service (IaaS):</strong> You can provide virtualized computing resources, such as servers, storage, and networking, that businesses can use to build their own IT infrastructure.
                        </li>
                        <li><strong>Platform as a Service (PaaS):</strong> You can offer a platform on which businesses can build and deploy their own applications.</li>
                        <li><strong>Software as a Service (SaaS):</strong> You can provide software applications that businesses can use over the internet, without the need for them to install or manage any software.</li>
                        <li><strong>Backup and Disaster Recovery:</strong> You can offer cloud-based backup and disaster recovery solutions that help businesses protect their data and recover from unexpected events.</li>
                        <li><strong>Cloud Security:</strong> You can provide security solutions that help businesses protect their data and applications from cyber threats.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pe-md-5 bg-white p-3 shadow rounded">
                    <app-become-seller-form></app-become-seller-form>
                    
                </div>
            </div>
            
            <div class="col-md-4 d-none">
                <div>
                    <img src="assets/img/seller.png" class="img-fluid" alt="">
                </div>
            </div>
            
        </div>
    </div>
</section>