<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Analytics for every organisation</h6>
                <h1 class="fw-bold">Customize report sharing</h1>
                <p>The PowerBI Robot automatically takes screenshots of Microsoft Power BI dashboards and reports and sends them to unlimited recipients. You can tell PowerBI Robots when and where you would like your BI data delivered, and they will do so promptly.</p>
                <div class="d-flex align-items-center flex-wrap">
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                    <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/power-bi#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital 
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+ 
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent 
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft 
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, 
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd 
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center mb-5">
                <div>
                    <h4 class="h2 fw-bold">Automate Power BI reports</h4>
                    <p>PowerBI Portal is a web tool that allows users to embed any number of Power BI reports and dashboards on a portal with their organization’s layout that can be shared with whomever they want. PowerBI Portal also optimizes Azure data consumption, resulting in tremendous savings for companies who rely on Power BI for their daily reporting needs.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 border-bottom border-end">
                <div class="p-3">
                    <h5>Seamless Integration with Existing Systems</h5>
                    <p>Power BI effortlessly connects with numerous data sources, such as Excel, and SQL
                        databases, cloud-based applications like Salesforce, and big data platforms like Hadoop.
                        This compatibility ensures that organizations can leverage their existing data infrastructure
                        without the need for costly and time-consuming data migration projects.
                        </p>
                </div>
            </div>
            <div class="col-md-3 border-bottom border-end">
                <div class="p-3">
                    <h5>User-friendly Interface</h5>
                    <p>A prominent characteristic of Power BI is its user-friendly drag-and-drop interface, enabling
                        individuals with minimal or no technical skills to produce captivating visuals and reports
                        effortlessly. Power BI also includes pre-built templates and an extensive library of
                        visualizations, allowing users to create professional-looking reports with minimal effort.
                        </p>
                </div>
            </div>
            <div class="col-md-3 border-bottom border-end">
                <div class="p-3">
                    <h5>Advanced-Data Visualization</h5>
                    <p>Power BI's data visualization capabilities are among the best in the industry. With a wide
                        range of charts, graphs, and maps, users can easily create interactive and dynamic
                        visualizations that help uncover hidden patterns and trends in their data. Power BI's
                        customization options also allow organizations to tailor visualizations to match their
                        branding, ensuring a consistent look and feel across all reports.
                        </p>
                </div>
            </div>
            <div class="col-md-3 border-bottom">
                <div class="p-3">
                    <h5>Real-time Data Analysis</h5>
                    <p>With Power BI, organizations can unlock the power of real-time data analysis, enabling them
                        to make data-driven decisions as soon as new information becomes available. Power BI's
                        real-time data capabilities can benefit businesses that require up-to-the-minute information,
                        such as those in the financial, retail, or manufacturing sectors.</p>
                </div>
            </div>
            <div class="col-md-3 border-end">
                <div class="p-3">
                    <h5>Collaboration and Sharing</h5>
                    <p>Power BI's cloud-based architecture makes it easy for teams to collaborate on reports and
                        share insights with stakeholders. Users can securely share information with colleagues,
                        embed visualizations in webpages, or even publish them on the web for public consumption.
                        Power BI's integration with Microsoft Teams and other collaboration tools also ensures that
                        users can seamlessly share insights and collaborate on data-driven projects.
                        </p>
                </div>
            </div>
            <div class="col-md-3 border-end">
                <div class="p-3">
                    <h5>Scalability and Performance</h5>
                    <p>Power BI is designed to handle large volumes of data and deliver fast performance, thanks
                        to its in-memory technology and data compression capabilities. So as your organization
                        grows and your data needs evolve, Power BI can scale to meet those demands without
                        compromising performance or usability.</p>
                </div>
            </div>
            <div class="col-md-3 border-end">
                <div class="p-3">
                    <h5>Robust Security and Compliance</h5>
                    <p>Power BI offers a range of security and compliance features to ensure that your data is
                        always protected. These include data encryption, role-based access control, and the ability
                        to implement row-level security, ensuring that users only see the data they're authorized to
                        view. Power BI also complies with various industry standards and regulations, such as
                        GDPR and HIPAA.
                        </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="p-3">
                    <h5>Cost-effective Solution
                    </h5>
                    <p>Compared to other business intelligence solutions on the market, Power BI offers a
                        cost-effective and flexible pricing model that can cater to organizations of all sizes. Power
                        BI's cloud-based architecture also eliminates the need for expensive hardware and IT
                        maintenance, reducing the total cost of ownership.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>


<section class="py-10" style="background-color: #f2f2f2;" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore Power BI plans</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of December 2023</small>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>Power BI Pro</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                9,420
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                863.50 
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>A cloud-based business analytics service that enables anyone to visualize and analyze data with incredible speed, efficiency, and understanding.</li>
                            <li>
                                Power BI Pro provides extended data source support, data capacity, team collaboration, and admin capabilities.
                            </li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#paplan10" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative overflow-hidden">
                    <div class="">
                        <span class="popular-badge position-absolute text-center fw-bold">Most Popular</span>
                        <div class="mb-4">
                            <h4>Premium Per User</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                18,840
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,727
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Per user license that includes all Power BI Pro features plus other advanced Premium capabilities</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#paplan9" aria-controls="staticBackdrop">
                                View details 
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>Premium P1</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                47,07,360
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                4,31,508
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Power BI capacity for your organization's needs, unlocking unlimited content
                                distribution and all premium features.</li>
                            <li>P1 can utilize up to 8 virtual cores.</li>
                            <li>You must purchase a Power BI per-user license separately for users who publish content or use collaboration features.</li>
                            <li>
                                Eligible for autoscale add-on via Azure subscription.
                            </li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#paplan8" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mt-2 g-3">
            <div class="col-md-8">
                <h5 class="display-6">Explore add-ons for Power BI Premium per capacity</h5>
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div class="">
                        <div class="mb-4">
                            <h4>Premium Per User Add-On</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price" style="display: block;">
                                9,420
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                863.50
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Per user add-on license for Power BI Pro that unlocks advanced Premium capabilities
                            </li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center py-5">
    <h4 class="h5 mb-0">For Discounts and bulk enquiry, please email your query to <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9717347546" class="d-inline-block h2 mb-0 fw-bolder text-dark">97173 47546</a>
                    <div class="clearfix"></div>
                    <a href="#" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="paplan8"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Power BI Pro Premium P1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
            <ul class="offCanvaslist">
                <li>Power BI capacity for your organization's needs, unlocking unlimited content distribution and all premium features.</li>
                <li>P1 can utilize up to 8 virtual cores.</li>
                <li>You will need to separately purchase Power BI per user license for users who publish content or use collaboration features.</li>
                <li>Eligible for auto scale add-on via Azure subscription.</li>
            </ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/common-data.png" alt="">
                        </div>
                        <div class="col">
							<h6>Advanced AI</h6>
                            <p class="mb-0">Use artificial intelligence (AI) with dataflows.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/backup-and-restore.png" alt="">
                        </div>
                        <div class="col">
							<h6>Backup and Restore</h6>
                            <p class="mb-0">Backup and restore data using XMLA endpoints.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/data-flow.png" alt="">
                        </div>
                        <div class="col">
							<h6>Dataflows</h6>
                            <p class="mb-0">Perform in-storage computations Optimize the use of dataflows Use incremental refresh with dataflows Reference other dataflows.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/compatibility.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Automatically add compute capability when your capacity is overloaded </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/manage-data-storage.png" alt="">
                        </div>
                        <div class="col">
							<h6>Storage</h6>
                            <p class="mb-0">Manage data storage</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/insights.png" alt="">
                        </div>
                        <div class="col">
							<h6>Insights</h6>
                            <p class="mb-0">Explore and find insights such as anomalies and trends in your reports </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/virtual-network.png" alt="">
                        </div>
                        <div class="col">
							<h6>Virtual network data gateway</h6>
                            <p class="mb-0">Connect from Microsoft Cloud to Azure using a virtual network (VNet).</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/self-service.png" alt="">
                        </div>
                        <div class="col">
							<h6>Datamarts</h6>
                            <p class="mb-0">Self-service solution enabling users to store and explore data that's loaded in a fully managed database.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="paplan9"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Power BI Premium Per User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
			<p class="mb-0">Organizations can use Power BI Premium Per User to license Premium features on a per-user basis. Premium Per User (PPU) includes all Power BI Pro license capabilities, and includes features such as XMLA endpoints, AI, and other capabilities only available to Premium subscribers.</p>
            <ul class="offCanvaslist">
                <li>Premium Per User is the lowest entry-point for Power BI Premium features. It's built upon the Premium platform with built-in mechanisms ensuring that PPU users can use the platform’s ability to scale. PPU is designed to support enterprise workloads including Power BI items with size limits equivalent to that of a P3.</li>
				<li>Your entire PPU tenant has the same 100-TB storage limit that is applied to a Premium capacity.</li>
				<li>PPU model refresh parallelism limits depend on the number of licenses your organization owns. The lowest PPU model refresh parallelism limit is 40, and the highest is 160.</li>
				<li>If your PPU trial expires, you and your users can still access the workspace, but content that requires the license is unavailable. You must then either move the workspace to a Premium capacity or turn off the requirement.</li>
				<li>The export API for PPU is available for paginated reports, with a limit of one call every 5 minutes, per user. Power BI reports aren't supported.</li>
            </ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/common-data.png" alt="">
                        </div>
                        <div class="col">
							<h6>Advanced AI</h6>
                            <p class="mb-0">Use artificial intelligence (AI) with dataflows.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/backup-and-restore.png" alt="">
                        </div>
                        <div class="col">
							<h6>Backup and Restore</h6>
                            <p class="mb-0">Backup and restore data using XMLA endpoints.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/data-flow.png" alt="">
                        </div>
                        <div class="col">
							<h6>Dataflows</h6>
                            <p class="mb-0">Perform in-storage computations Optimize the use of dataflows Use incremental refresh with dataflows Reference other dataflows.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/compatibility.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Automatically add compute capability when your capacity is overloaded </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/manage-data-storage.png" alt="">
                        </div>
                        <div class="col">
							<h6>Storage</h6>
                            <p class="mb-0">Manage data storage</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="paplan10"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Power BI Pro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
			<p class="mb-0">Microsoft Power BI is a collection of tools used to import, aggregate and present data in the form of immersive and easy-to-digest reports and visuals.</p>
            <ul class="offCanvaslist">
                <li>Self-service BI in the cloud.</li>
				<li>Creating, editing, and sharing reports and dashboards among users.</li>
				<li>Collaboration in personal and team workspaces.</li>
				<li>10 GB of storage per user.</li>
            </ul>
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/data-management.png" alt="">
                        </div>
                        <div class="col">
							<h6>Data Management</h6>
                            <p class="mb-0">Ingesting various data structures, including relational data, big data, IoT data, streaming data. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/analytics.png" alt="">
                        </div>
                        <div class="col">
							<h6>Analytics</h6>
                            <p class="mb-0">AI-powered data modeling with AutoML, Cognitive Services, Azure ML (Power BI Premium).</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/reports.png" alt="">
                        </div>
                        <div class="col">
							<h6>Reporting</h6>
                            <p class="mb-0">Distributing reports preconfigured by analysts across the company.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/visualization.png" alt="">
                        </div>
                        <div class="col">
							<h6>Visualization</h6>
                            <p class="mb-0">Presenting a comprehensive visual snapshot of business-critical information in a single location. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/security.png" alt="">
                        </div>
                        <div class="col">
							<h6>Security</h6>
                            <p class="mb-0">For data in transit and at rest with Microsoft-managed encryption keys or the ‘bring your own key’ approach.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>