<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Empowering Sustainability for a Better Future</h1>
                <h5 class="mt-3">With an increasing awareness of the environmental impact of human activity, sustainability has become a crucial
                    consideration for individuals and businesses alike. The concept of sustainability involves fulfilling current needs
                    while ensuring that future generations can fulfill their own needs without any negative impact.
                    </h5>
                    <p>In other words, it is about balancing economic, social, and environmental factors to ensure a sustainable future.
                        One way that businesses can assess their sustainability is through sustainability assessments. As a result of these
                        assessments, organizations can evaluate their environmental impact and identify areas where they can improve.
                        </p>
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
        <div class="row align-items-center g-3">
            <div class="col-md-8">
                <h4>The Importance of Sustainability Assessments for Businesses </h4>
                <p>UnifyCloud's Sustainability Assessment is a tool that helps businesses evaluate their sustainability and identify
                    areas where they can improve. The assessment focuses on the environmental impact of a business's cloud
                    infrastructure, including energy usage, carbon emissions, and resource consumption.</p>
                    <p>We use a data-driven approach to provide businesses with a comprehensive analysis of their cloud infrastructure's
                        sustainability. The assessment includes a detailed report identifying areas where the organization can improve to
                        reduce environmental impact. It also contains recommendations for optimizing cloud resource usage, reducing
                        energy consumption, and minimizing waste.</p>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/cybersec.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="mb-1">The Assessment Insights 
                </h3>
                <h6 class="mb-5">We offer several types of sustainability assessments for your businesses. These include: </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border-end">
                <div class="h-100 p-4">
                    <h5>Carbon Footprint Assessments</h5>
                    <p>Carbon footprint assessments measure the amount of greenhouse gas emissions a business produces. This
                        assessment includes emissions from energy usage, transportation, and waste disposal. Assessing a company's
                        carbon footprint can assist them in identifying areas where it can reduce emissions and become more
                        environmentally friendly.</p>
                </div>
            </div>
            <div class="col-md-4 border-end">
                <div class="h-100 p-4">
                    <h5>Life Cycle Assessments</h5>
                    <p>Life cycle assessments evaluate the environmental consequences of a product or service throughout its entire
                        lifecycle, from the extraction of raw materials to its disposal. This assessment considers all aspects and details of
                        the process.</p>
                        <p>Manufacturing, transportation, use, and disposal are all considered. Life cycle assessments can help businesses to
                            identify areas where they can reduce the environmental impact of their products or services. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="h-100 p-4">
                    <h5>Environmental Impact Assessments</h5>
                    <p>Environmental impact assessments evaluate the potential impact of a business's activities on the environment. This
                        assessment includes the effects on air and water quality and natural resources. A comprehensive environmental
                        impact assessment can assist companies in identifying and mitigating potential ecological risks.
                        </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="light-bg py-5">
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <h3 class="mb-5">Explore the benefits of Sustainability Assessment</h3>
                <div class="shadow p-3 mb-4">
                    Identify areas of potential improvement in an organization's IT infrastructure and sustainability profile.
                </div>
                <div class="shadow p-3 mb-4">
                    Quickly identify and address potential risks while reducing environmental impact. 
                </div>
                <div class="shadow p-3 mb-4">
                    Gain a comprehensive view of an organization's IT infrastructure and cloud utilization. 
                </div>
                <div class="shadow p-3 mb-4">
                    Make better decisions about IT services and cloud usage.
                </div>
                <div class="shadow p-3 mb-4">
                    Visualize energy consumption and carbon emissions. 
                </div>
                <div class="shadow p-3 mb-4">
                    Reduce operational costs and become more competitive.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Implementing Sustainability Practices in Your Business</h5>
                <p class="fw-bold">Conducting a sustainability assessment is just the first step in implementing sustainable practices in your business.
                    Businesses should make sustainability a core component of their operations and culture to make a meaningful
                    impact. It includes:
                    </p>

                    <h6>Setting Sustainability Goals
                    </h6>
                    <p>Setting sustainability goals can help businesses focus efforts and measure progress, including reducing carbon
                        emissions, conserving resources, or increasing the use of sustainable materials.
                            </p>
                            <h6>Engaging Employees and Stakeholders
                            </h6>
                            <p>Engaging employees and stakeholders in sustainability initiatives can help create a sustainability culture within the
                                business. This process may include training on sustainable practices, encouraging employee input and ideas, and
                                engaging stakeholders in decision-making.</p>

                                <h6>Implementing Sustainable Practices
                                </h6>
                                <p>Implementing sustainable practices can help businesses to reduce their environmental impact and save money. It
                                    includes reducing energy usage, minimizing waste, and using sustainable materials.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>