<section class="offc365sctin" style="background-color: #eeeeec;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6><img src="/assets/img/logos/azure.png" alt="" height="30"> Empower your business with Azure</h6>
                <h1 class="fw-bold">Innovate faster with Azure's cloud services</h1>
                <p>Azure is a cloud computing platform offered by Microsoft that provides a wide range of services to help individuals and businesses build, deploy, and manage applications and services in the cloud.</p>
                <div class="d-flex align-items-center flex-wrap">
                    <!-- <a href="/product-services/exchange#Getstarted" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</a> -->
                        <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                            Started</button>
                    <!-- <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a> -->
                </div>
                <!-- <a href="/product-services/azure#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a> -->
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Unlock the Power of Azure </h2>
                <h5 class="my-3">Let us help you find the right cloud computing solution for your business.  </h5>
                <p>Azure is a comprehensive cloud solution that provides access to the latest technologies, enables you to build and deploy applications, and allows you to store and manage data. </p>
                <p>As part of Azure, you can create and manage virtual machines, build and deploy apps, store and manage data, and much more. Regardless of your business, our platform can help you achieve your goals. Additionally, Azure allows you to scale up and down easily and quickly based on your needs. </p>
                <p>Our platform allows you to adapt to changing market conditions with agility and flexibility. Our secure and reliable cloud platform ensures that your data is always protected. Our platform gives you access to the latest technologies and tools to stay ahead of the competition. </p>
                <p>Azure allows you to develop, deploy, and manage applications quickly and securely. You can rely on us to provide innovative cloud computing solutions tailored to your business needs. </p>
                <p>Please <a routerLink="../../lets-talk">contact</a> us if you want to learn more about Azure and how it can benefit your organization. </p>
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-4">
                <div class="">
                    <h5 class="mb-1">Experience the Benefits of Azure</h5>
                    <h2 class="my-3 h2">Unlock Your Business's Potential </h2>
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="">
                    <ul class="azuredtllist">
                        <li>
                            <div class="azuredtllist-title">
                                <img src="/assets/img/icons/savings.png" alt="">
                                <h5>Cost Savings</h5>
                            </div>
                            <div class="azuredtllist-cntnt">
                                Businesses can save money in the long run by migrating to the cloud due to its pay-as-you-go model and reduced hardware and software costs.
                            </div>
                        </li>
                        <li>
                            <div class="azuredtllist-title">
                                <img src="/assets/img/icons/scalability.png" alt="">
                                <h5>Scalability</h5>
                            </div>
                            <div class="azuredtllist-cntnt">
                                Microsoft Azure allows businesses to scale their cloud computing infrastructure rapidly and efficiently. 
                            </div>
                        </li>
                        <li>
                            <div class="azuredtllist-title">
                                <img src="/assets/img/icons/shield.png" alt="">
                                <h5>Reliability</h5>
                            </div>
                            <div class="azuredtllist-cntnt">
                                Azure offers 99.9% uptime with its state-of-the-art data centers, ensuring businesses can depend on cloud services. 
                            </div>
                        </li>
                        <li>
                            <div class="azuredtllist-title">
                                <img src="/assets/img/icons/cyber-security2.png" alt="">
                                <h5>Security</h5>
                            </div>
                            <div class="azuredtllist-cntnt">
                                Azure is a secure platform that protects data and applications through multi-factor authentication and encryption. 
                            </div>
                        </li>
                        <li>
                            <div class="azuredtllist-title">
                                <img src="/assets/img/icons/responsive.png" alt="">
                                <h5>Mobility</h5>
                            </div>
                            <div class="azuredtllist-cntnt">
                                Azure allows businesses to access their applications from anywhere using any device, increasing productivity and efficiency. 
                            </div>
                        </li>
                        <li>
                            <div class="azuredtllist-title">
                                <img src="/assets/img/icons/cloud-network.png" alt="">
                                <h5>Flexible Deployment Options</h5>
                            </div>
                            <div class="azuredtllist-cntnt">
                                The Azure platform supports various deployment options, such as public, private, and hybrid, to enable businesses to choose the deployment option that meets their specific requirements. 
                            </div>
                        </li>
                        <li>
                            <div class="azuredtllist-title">
                                <img src="/assets/img/icons/bar-chart.png" alt="">
                                <h5>Business Insights</h5>
                            </div>
                            <div class="azuredtllist-cntnt">
                                Microsoft Azure provides businesses with advanced analytics and intelligence capabilities. 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="mb-md-3 h3">Innovate with Azure and Make Your Business Thrive </h4>
                <p>Azure is an excellent choice for businesses seeking cloud computing capabilities. There are many advantages to using Azure, including its scalability, agility, and security. Azure offers extensive services, such as virtual machines, containers, databases, storage, and web applications.  </p>
                <p>Businesses can benefit from these services by reducing costs, improving efficiency, and improving customer service. Azure enables you to deploy applications quickly and easily, manage resources, and scale up and down as necessary.  </p>
                <p>A cloud-based platform such as Azure offers enhanced security, allowing businesses to protect their data and applications. It is possible for organizations to utilize Azure to its full potential and to enjoy many benefits with appropriate guidance and support. </p>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/azureHome.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="h3 mb-4">Cost-Effective Solutions with CloudAtlas on Azure </h4>
                <p><strong>CloudAtlas for Azure is a robust cloud-based platform that allows businesses to quickly and securely deploy, manage and scale cloud-based applications. CloudAtlas for Azure offers advanced features such as automated deployment, self-healing clusters, multi-region disaster recovery, and cloud-native integration for businesses seeking a scalable and reliable cloud platform. In addition, CloudAtlas for Azure offers the following benefits:</strong></p>

                <div class="shadow-sm p-3 mb-3">
                    Automated deployment: CloudAtlas for Azure streamlines application deployment, enabling businesses to start using their applications within minutes rather than days. 
                </div>
                <div class="shadow-sm p-3 mb-3">
                    Self-healing clusters: CloudAtlas for Azure automatically detects and replaces failed nodes, ensuring high availability. 
                </div>
                <div class="shadow-sm p-3 mb-3">
                    Multi-region disaster recovery: CloudAtlas for Azure offers a multi-region disaster recovery capability. 
                </div>
                <div class="shadow-sm p-3 mb-3">
                    Cloud-native integration: CloudAtlas for Azure integrates seamlessly with cloud-native applications, providing businesses with a single platform to manage their applications. 
                </div>
                <div class="shadow-sm p-3 mb-5">
                    Security: CloudAtlas for Azure offers robust security features, such as encryption and access control, protecting applications and data from unauthorized access. 
                </div>
                <p>By leveraging CloudAtlas for Azure, businesses can quickly and securely deploy, manage, and scale cloud-based applications. In addition to its advanced features, CloudAtlas for Azure provides businesses the reliability and scalability they require to succeed in the cloud. </p>
            </div>
        </div>
    </div>
</section>
<section class="light-bg py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mb-5">
                    <h5>Frequently Asked Questions (FAQs)</h5>
                    <h2 class="h2 fw-bold">Save time and find answers quickly with our FAQ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                
                <div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item" *ngFor="let faqs of faq; let i = index">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" aria-controls="collapseOne">
                                    {{ faqs.Ques }} 
                                </button>
                            </h2>
                            <div [id]="'collapse' + i" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ faqs.Ans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Start your Azure Cloud journey today.</h3>
                <h6>Trusted, scalable, intelligent cloud platform transforming enterprises worldwide.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>