<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Protect your business with our expert cyber security assessment service.</h1>
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>Integrated Security across People, Processes, and Technologies</h3>
                <p>As a cloud-based security solution, cybersecurity provides comprehensive network protection against cyber
                    threats and data breaches. This security solution protects businesses from malicious cyber-attacks, unauthorized
                    access, and data loss. 
                    </p>
                    <p>We use artificial intelligence, machine learning, and threat detection capabilities to enhance our cybersecurity
                        capabilities. This technology assists organizations in protecting their networks, systems, data, and applications
                        from malicious interpretations. 
                        </p>
                        <p>Cybersecurity provides extensive security features, including anti-malware, firewalls, intrusion prevention systems,
                            and vulnerability management. Moreover, it provides data protection, compliance and governance, and identity
                            and access management services. As a result, maintaining network security and industry regulations is possible.</p>
            </div>
            <div class="col-md-5">
                <img src="/assets/img/cybersec.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="mb-4">Cybersecurity Services Tailored to Your Needs</h3>
                <p><strong>We offer a comprehensive assessment of cybersecurity solutions, risk management policies, and processes as part
                    of our cybersecurity solution. A three-phase approach to cybersecurity is employed:</strong></p>

                    <p>An analysis of current cybersecurity, risk management strategies, and operational procedures, including an
                        analysis of security maturity and controls 
                        </p>
                        <p>A comprehensive zero-trust model, readiness evaluations, and conventional control-based maturity
                            assessments are included. 
                            </p>
            </div>
        </div>
        <div class="row g-3 justify-content-center">
            <div class="col-md-4">
                <div class="light-bg p-4 shadow-sm rounded border h-100">
                    <p>The Zero Trust model requires that all
                        requests be authenticated, authorized,
                        and encrypted before granting access.
                        Additionally, it utilizes rich intelligence
                        and analytics to detect and respond to
                        anomalies in real time. 
                        </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="light-bg p-4 shadow-sm rounded border h-100">
                    <p>We have 43 questions to analyze your
                        perspective across Zero Trust's six pillars
                        (Identities, Endpoints, Applications, Data,
                        Infrastructure & Networks). Each
                        comment indicates your maturity level
                        for each pillar, from "Traditional" to
                        "Advanced" to "Optimal," and suggests
                        ways to improve.  
                        </p>
                </div>
            </div>
        </div>
        <p class="mt-4 fw-bold"><i>Using Azure and Microsoft secure scores and technological analytics, you can develop an actionable
            improvement plan that includes periodic updates to address threats in real time and track your
            cybersecurity capability over time, evolving your security measures to safeguard your business by
            conducting an in-depth security analysis. </i>
            </p>
    </div>
</section>

<section class="light-bg py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-5 text-center">Our Promise to Customers</h3>
                
                <div class="row row-cols-5 mb-4">
                    <div class="col text-center">
                        <div>
                            <img src="/assets/img/icons/internet.png" alt="">
                            <h6 class="mt-2">Enhance trust in cybersecurity</h6>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div>
                            <img src="/assets/img/icons/computer.png" alt="">
                            <h6 class="mt-2">Improves security Posture</h6>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div>
                            <img src="/assets/img/icons/crisis-management.png" alt="">
                            <h6 class="mt-2">Risk identification and mitigation</h6>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div>
                            <img src="/assets/img/icons/value-chain.png" alt="">
                            <h6 class="mt-2">Cost Optimization </h6>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div>
                            <img src="/assets/img/icons/cyber-security.png" alt="">
                            <h6 class="mt-2">Threat Intelligence</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <h3 class="mb-5">Explore our Key Benefits</h3>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/threatdtctn.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Threat Detection & Response</h6>
                            <p class="mb-0">Cybersecurity offers organizations the most accurate indications of misconfigured, malfunctioning, or missing cybersecurity tools. Additionally, it provides recommendations for providing comprehensive cybersecurity protection.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/kb2.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Recommendations</h6>
                            <p class="mb-0">This Cybersecurity capability reveals the security gaps in each security domain and provides constant mitigation recommendations and steps to improve securing and monitoring Cybersecurity implementation, effectiveness, maturity, and resilience. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/kb3.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Risk Management</h6>
                            <p class="mb-0">It is essential to take into account the company's risk appetite as well as its risk tolerance. This tool  provides a more effective integration of risk management actions across the enterprise.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/kb4.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Capability Management</h6>
                            <p class="mb-0">Cybersecurity offers timely monitoring and management of security postures with continuous refresh rates and detects and responds to threats quickly and effectively.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/kb5.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Heat Maps</h6>
                            <p class="mb-0">Using the heatmap, you can get a holistic view of the risks and severity of
                                vulnerabilities. As a result, cybersecurity threats or vulnerabilities are easily detected, analyzed, and remedied, providing enhanced precision in risk assessment and mitigation. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/kb6.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Anti-Malware Filtering</h6>
                            <p class="mb-0">This feature helps businesses protect their servers and networks against malware threats. The solution uses advanced threat intelligence and mitigation techniques to detect and stop malicious activity. Furthermore, it provides real-time monitoring of network traffic and blocks access to malicious websites. </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="py-10" style="background-color: #0899c3;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h4">Step 1</h3>
                    <img src="/assets/img/icons/big-data.png" alt="">
                    <p class="lead text-white">Gather precise data from your IT infrastructure</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h4">Step 2</h3>
                    <img src="/assets/img/icons/api.png" alt="">
                    <p class="lead text-white">Identifies security gaps and provides detailed alerts and mitigation recommendation</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h4">Step 3</h3>
                    <img src="/assets/img/icons/compliance.png" alt="">
                    <p class="lead text-white">Adapt your approach based on the organization's size the threat level, and the priority risk assessment analyze the most significant threats and impacts and prioritize the recommended changes</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div>
                    <h3 class="text-white h4">Step 4</h3>
                    <img src="/assets/img/icons/security.png" alt="">
                    <p class="lead text-white">Make your workplace more secure</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>