<form>
    <div class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Company</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Company Registration ID</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Address Line 1</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Address Line 2</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Domain Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Special Qualification</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">City</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3 col-6">
            <label for="inputEmail4" class="form-label">State</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-3 col-6">
            <label for="inputEmail4" class="form-label">Zip/PostalCode</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>

    </div>
    <div class="border-top mt-3 pt-3 mb-3">
        <h5 class="fw-bold">Customer Details</h5>
    </div>
    <div class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">First Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Middle Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Last Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Customer Email ID</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Phone No.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
    <div class="text-center py-3">
        <button class="ucBtn btn btn-primary">SUBMIT</button>
    </div>
</form>