<section>
    <div id="UCcarousel" class="carousel slide" data-bs-ride="carousel">
        <!--<div class="carousel-indicators">
            <button type="button" data-bs-target="#UCcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#UCcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#UCcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>-->
        <div class="carousel-inner">
            <div class="carousel-item active boat" data-bs-interval="10000">
                <div class="container">
                    <div class="caption row captionRow d-flex align-items-center">
                        <div class="col-md-5">
                            <h5 class="animated fadeInLeft text-white">
                                Accelerate Your Business Growth with Azure
                            </h5>
                            <h2 class="text-white py-2">Streamline Your Business Operations with Azure</h2>
                            <p class="animated fadeInRight text-white mt-2">Azure grants access to an extensive range of offerings, encompassing virtual devices, data storage, network connections, database management, and additional features. Subscribe for more</p>
                            <div class="d-flex align-items-center flex-wrap">
                                <a routerLink="/product-services/azure" class="animated fadeInUp ucBtn btn btn-primary">Get Started</a>
                                <a routerLink="/product-services/azure" class="animated fadeInUp btn btn-outline-light ms-2 btnu">know more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item sea" data-bs-interval="20000">
                <div class="container">
                    <div class="caption row captionRow d-flex align-items-center">
                        <div class="col-md-5">
                            <h5 class="animated fadeInLeft text-white">
                                Empower Your Analytics with Power BI
                            </h5>
                            <h2 class="text-white py-2">Harness Your Data's Full Potential with Power BI  </h2>
                            <p class="animated fadeInRight text-white mt-2">With Power BI, you can easily connect to a wide range of data sources, create stunning visualizations, and share your insights with others.</p>
                            <div class="d-flex align-items-center flex-wrap">
                                <a routerLink="/product-services/power-bi" class="animated fadeInUp ucBtn btn btn-primary">Get Started</a>
                                <a href="/product-services/power-bi#plan" class="animated fadeInUp btn btn-outline-light ms-2 btnu">View Pricing Plan</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item river" data-bs-interval="30000">
                <div class="container">
                    <div class="caption row captionRow d-flex align-items-center">
                        <div class="col-md-5">
                            <h5 class="animated fadeInLeft text-white">
                                Work Smarter, Not Harder with Office 365
                            </h5>
                            <h2 class="text-white py-2">The Ultimate Solution for Your Business</h2>
                            <p class="animated fadeInRight text-white mt-2">Office 365 is a suite of powerful productivity tools that helps you get more done in less time.</p>
                            <div class="d-flex align-items-center flex-wrap">
                                <a routerLink="/product-services/office-365" class="animated fadeInUp ucBtn btn btn-primary">Get Started</a>
                                <a href="/product-services/office-365#plan" class="animated fadeInUp btn btn-outline-light ms-2 btnu">View Pricing Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#UCcarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#UCcarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="homeTitle">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="homeTBox bg-white position-relative">
                    <p class="mb-0 h5">
                        We help businesses thrive by delivering innovative technology solutions through seamless collaboration and excellence at work.
                    </p>
                    <span class="light-color-shape"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h6 class="secSubTtle">About UnifyCloud</h6>
                <h1 class="mb-3 fw-light h2">Take your business to new heights with our cloud services</h1>
                <p class="lead">
                    We provide services, solutions, and expertise to enable you to overcome
                    cloud challenges and achieve the promise of the cloud
                </p>
                <p>UnifyCloud, Pvt Ltd is a renowned information technology and cloud solutions provider in Noida, India. We focus on Cybersecurity, Compliance, and Cost management. Developed by a dedicated team of former Microsoft architects, developers, and Cybersecurity professionals, our in-depth experience in global and complex enterprises has allowed us to continually provide innovative and secure solutions, earning us recognition and awards from the industry. As such, we ranked #353 in the U.S. 2015 Inc. 500 and are Microsoft Gold Partners and Cloud Solution Providers.</p>
                <a href="/about-us" class="ucBtn btn btn-primary">Explore more</a>
            </div>
            <div class="col-md-4 offset-md-1 order-first order-md-last pb-4 pb-md-0">
                <img src="assets/img/building.png" class="img-fluid" alt="about unifycloud" />
            </div>
        </div>
    </div>
</section>
<section class="awrdSctn position-relative">
    <img src="assets/img/home5-curve-bottom.png" class="position-absolute start-0 bottom-0 w-100" style="z-index: -1;" alt="curve-bottom" />
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6 offset-md-3 text-center">
                <h4 class="fw-light h2 text-white mb-4">Awards & Achievements</h4>
                <p style="color: #59c7ef;">
                    CloudAtlas, a platform developed by UnifyCloud, facilitates migration to Microsoft Cloud through rapid adoption, secure deployment, and effective management of workloads and custom applications in the cloud.
                    </p>
                    <p style="color: #59c7ef;">It is UnifyCloud's privilege to be a Microsoft Gold Partner. In the last three years, we have received Microsoft Partner of the Year honors for our extensive experience and background with Microsoft.</p>
                <!-- <p class="text-white">UnifyCloud is a Microsoft Gold Partner and Google Cloud Partner. Our extensive background and experience with Microsoft has helped us receive Microsoft Partner of the Year honors the last three years.</p> -->
            </div>
        </div>
        <div class="row justify-content-center g-3">
            <div class="col-md-3">
                <div class="bg-light shadow-sm py-3 px-5 border rounded">
                    <img src="assets/img/logos/mp2022.jpg" style="max-height: 60px;" alt="Microsoft Partner Award" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light shadow-sm py-3 px-5 border rounded">
                    <img src="assets/img/logos/mspgold.jpg" style="max-height: 60px;" alt="Microsoft Partner Award" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light shadow-sm py-3 px-5 border rounded">
                    <img src="assets/img/logos/ms-csp.jpg" style="max-height: 60px;" alt="Microsoft Partner Award" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-4 pb-4 pb-md-0">
                <img src="assets/img/moving.png" class="img-fluid" alt="moving" />
            </div>
            <div class="col-md-8">
                <h6>
                    We Are Migration
                    Experts
                </h6>
                <h4 class="mb-3 h2 fw-light">Our cloud solutions help clients and partners accelerate cloud migration</h4>
                <div class="d-md-flex">
                    <div class="bg-white shadow-sm me-0 me-md-2 p-3">
                        <div class="row mb-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/migration.png" style="height:50px;" alt="Migration" />
                            </div>
                            <div class="col">
                                <h6>An organization looking for answers to your cloud migration questions?</h6>
                            </div>
                        </div>
                        <p>We can help by demystifying cloud migration and help you understand your options, develop a cloud migration strategy, and help you execute that plan.</p>
                        <a href="#" class="ucBtn btn btn-primary">Explore more</a>
                    </div>
                    <div class="bg-white shadow-sm ms-md-2 ms-0 mt-3 mt-md-0 p-3">
                        <div class="row mb-2">
                            <div class="col-auto">
                                <img src="assets/img/icons/migration2.png" style="height:50px;" alt="Migration" />
                            </div>
                            <div class="col">
                                <h6>A systems integrator seeking a way to transform your business?</h6>
                            </div>
                        </div>
                        <p>See how our tools can take your business to the next level by automating manual, time-consuming, and expensive processes and unleashing your resources to grow your business.</p>
                        <a href="#" class="ucBtn btn btn-primary">Explore more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="py-10 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>Our Cloud Solutions</h6>
                <h4 class="mb-3 h2 fw-light">Push your business technology into the cloud and get back to focusing on your core competencies.</h4>
            </div>
        </div>
        <app-product-list></app-product-list>
    </div>
</section>
<section class="py-5 light-bg">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h6>Our Customers</h6>
                <h4 class="mb-3 h2 fw-light">These Customers Made the Shift with UnifyCloud</h4>
                <p>UnifyCloud has a proven history of helping companies in the cloud; from targeting and accessing, targeting and migrating, and monitoring and reporting on your subscriptions; we've got you covered.</p>
            </div>
            <div class="col-md-5 text-md-end pb-4 pb-md-0">
                <a href="/our-customers" class="ucBtn btn btn-primary">Explore more</a>
            </div>
        </div>
        <app-customerlist></app-customerlist>
        
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a routerLink="/lets-talk" class="btn btn-outline-primary">Take Advantage of our Expertise</a>
            </div>
        </div>
    </div>
</section>
<section class="testimonialSectn py-5 d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-2 text-md-end text-center">
                <div class="mb-5">
                    <h6 class="mb-0">Testimonial</h6>
                    <h4 class="h2 fw-light">Discover what our customers <br />Have to say about us.</h4>
                </div>
            </div>
            <div class="col-md-4 text-center text-md-start">
                <div>
                    <p>We host agencies and enterprise clients of all sizes. Dedicated plans can be tailored to meet specific requirements. </p>
                    <!-- <a href="#" class="btn btn-outline-primary">More Success Stories</a> -->
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel testimnl owl-theme" id="testimnl">
                    <div>
                        <div class="">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <img src="assets/img/icons/user.png" alt="Alternate Text" aria-label="testimonial" />
                                </div>
                                <div class="col">
                                    <h5 class="mb-0 h6">Mr. Anil Tiwari</h5>
                                    <p class="mb-0">Project Manager - Leading firm in the Healthcare sector </p>
                                </div>
                            </div>
                            <div class="dm-feedback-comment mt-4 mb-3">
                                <p><i class="icofont-quote-left"></i>To manage the IT infrastructure of our Healthcare sector effectively, we needed a
                                    secure and reliable solution. UnifyCloud provides an easy-to-use platform for managing our networks, storage, and applications. UnifyCloud is a highly cost-effective alternative to managing our infrastructure, and their...
                                    </p>
                                   
                            </div>
                            <!-- <img src="assets/img/logos/lucky-brand.png" alt="Alternate Text" /> -->
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <img src="assets/img/icons/user.png" alt="user" />
                                </div>
                                <div class="col">
                                    <h5 class="mb-0 h6">Mr. Ravindra Kumar</h5>
                                    <p class="mb-0">Project Manager - Leading firm in the Banking/Investment Sector</p>
                                </div>
                            </div>
                            <div class="dm-feedback-comment mt-4 mb-3">
                                <p><i class="icofont-quote-left"></i>My company recently implemented a cloud-based solution using UnifyCloud. The UnifyCloud platform made it easy for our team to begin taking advantage of cloud-based technologies' scalability and cost savings. They were knowledgeable and professional and provided excellent customer service. The cloud-based solution offered by UnifyCloud was strai...</p>
                                    
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <img src="assets/img/icons/user.png" alt="user" />
                                </div>
                                <div class="col">
                                    <h5 class="mb-0 h6">Mr. Dinesh Gaikwad</h5>
                                    <p class="mb-0">Project Manager - Leading firm in the organic Food Products sector </p>
                                </div>
                            </div>
                            <div class="dm-feedback-comment mt-4 mb-3">
                                <p><i class="icofont-quote-left"></i>I am incredibly impressed as a user of UnifyCloud's cloud solutions for my organic food products business. In addition to being robust, reliable, and secure, their solutions are also cost-effective. With their cloud storage services, they have helped me reduce my storage costs while simultaneously a...</p>
                            </div>
                            <!-- <img src="assets/img/logos/open-bank.png" alt="Alternate Text" /> -->
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <img src="assets/img/icons/user.png" alt="user" />
                                </div>
                                <div class="col">
                                    <h5 class="mb-0 h6">Mr. Jaspal Singh Ranghar</h5>
                                    <p class="mb-0">Project Manager - Relience Ind.</p>
                                </div>
                            </div>
                            <div class="dm-feedback-comment mt-4 mb-3">
                                <p><i class="icofont-quote-left"></i>I am incredibly impressed as a user of UnifyCloud's cloud solutions for my organic food products business. In addition to being robust, reliable, and secure, their solutions are also cost-effective. With their cloud storage services, they have helped me reduce my storage costs while simultaneously a...</p>
                            </div>
                            <!-- <img src="assets/img/logos/open-bank.png" alt="Alternate Text" /> -->

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-5">
    <div class="container">
        <div class="custom-plan-box position-relative zindex-1">
            <img src="assets/img/flower.png" alt="flower" class="position-absolute flower-shape zindex--1 soft-light">
            <img src="assets/img/paper-pen.png" alt="paper pen" class="position-absolute paper-pen zindex--1 d-none d-lg-block">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="custom-plan-content text-center">
                        <h3 class="text-white mb-3">Empower your digital transformation.</h3>
                        <p class="mb-30 text-white">Contact us to learn how our cloud solutions can help your business grow and thrive.</p>
                        <a routerLink="/lets-talk" class="template-btn rs-primary-btn">Contact Sales</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>