<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Buy OneDrive today and enjoy hassle-free storage and file sharing</h6>
                <h1 class="fw-bold">Invest in peace of mind with OneDrive's secure, reliable cloud storage.</h1>
                <p>OneDrive allows you to store, share, and access your files from anywhere, on any device. So whether you're working on a project, sharing family photos, or collaborating with coworkers, OneDrive makes it easy to access and share your files securely.</p>
                <div class="d-flex align-items-center flex-wrap">
                    <!-- <a href="/product-services/exchange#Getstarted" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</a> -->
                        <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                            Started</button>
                    <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/one-drive#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital 
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+ 
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent 
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft 
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, 
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd 
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 text-md-end">
                <div>
                    <h4 class="display-6">Access your files from anywhere with OneDrive's cross-device compatibility</h4>
                    <p>Seamlessly integrate with Microsoft Office and boost your productivity with OneDrive.</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ofcPkg ps-md-5">
                    <ul class="ofcPkgList">
                        <li>
                            <h5>Ample Storage Space</h5>
                            <p>With a OneDrive license, you'll get 1TB of storage, giving you plenty of space to store all your important files, photos, and videos.
                            </p>
                        </li>
                        <li>
                            <h5>Access from Anywhere</h5>
                            <p>OneDrive is available on all devices, including desktops, laptops, tablets, and smartphones, so that you can access your files from anywhere.</p>
                        </li>
                        <li>
                            <h5>Seamless Integration with Microsoft Office</h5>
                            <p>OneDrive is fully integrated with Microsoft Office, making saving and accessing your documents, spreadsheets, and presentations easy.</p>
                        </li>
                        <li>
                            <h5>Sharing and Collaboration</h5>
                            <p>OneDrive makes it easy to share files and collaborate with others. You can control who can access your files and collaborate in real time on documents.</p>
                        </li>
                        <li>
                            <h5>Enhanced Security</h5>
                            <p>OneDrive uses encryption to keep your files safe and secure and offers additional security features like two-factor authentication and virus scanning.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10" style="background-color: #f2f2f2;" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore plans</h3>
                    <h6>Upgrade your storage with OneDrive and never run out of space again.</h6>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of December 2023</small>
                </div>
            </div>
        </div>
        <div class="row g-3 justify-content-center">
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative h-100">
                    <div class="">
                        <div class="mb-4">
                            <h4>OneDrive for Business (Plan 1)</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                4,740
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                434.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>OneDrive for Business is an online companion to Microsoft Word, Excel, PowerPoint, and OneNote, enabling users to edit documents directly from a Web browser.</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#onplan1" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative overflow-hidden">
                    <div class="">
                        <span class="popular-badge position-absolute text-center fw-bold">Most Popular</span>
                        <div class="mb-4">
                            <h4>OneDrive for business (Plan 2)</h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                9,420
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                863.5
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>Provides personal cloud storage, offline access, and sharing along with convenient online companions to Microsoft Word, Excel, PowerPoint, and OneNote to edit documents directly from your Web browser lightly.</li>
                            <li>It also includes compliance and information protection for your files, including legal hold, rights management, and data loss prevention. </li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#eoplan2" aria-controls="staticBackdrop">
                                View details
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="text-center py-5">
    <h4 class="h5 mb-0">For Discounts and bulk enquiry, please email your query to <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>

<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9717347546" class="d-inline-block h2 mb-0 fw-bolder text-dark">97173 47546</a>
                    <div class="clearfix"></div>
                    <a href="/contact" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section>
  
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="onplan1"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft One Drive Plan1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>            
		<ul class="offCanvaslist">
                <li>Access and protect your business and schoolwork with this intelligent file app. Share and collaborate from anywhere, on any device. </li>
				<li>Back up and protect your files with OneDrive. You can easily recover files from accidental deletes or malicious attacks and administrators can manage security policies to help keep your information safe. </li>
				<li>Create, view, edit, and share files on the go with the OneDrive mobile app. Easily capture whiteboards and scan work receipts, business cards, and other paper documents for safekeeping.</li>
				<li>Work faster and smarter with anyone inside or outside your organization. Securely share files and work together in real time using Word, Excel, and PowerPoint across web, mobile, and desktop.</li>
				<li>Easily store, access, and discover your individual and shared work files in Microsoft 365, including Microsoft Teams, from all your devices. Your offline edits will automatically sync next time you connect.</li>
            </ul>
			
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/document-libraries.png" alt="">
                        </div>
                        <div class="col">
							<h6>Power a cohesive file experience </h6>
                            <p class="mb-0">Easily add shared files from Teams or SharePoint to OneDrive, upload files up to 100GB, sync libraries, and more.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/most-secure.png" alt="">
                        </div>
                        <div class="col">
							<h6>Use visibility and controls for security</h6>
                            <p class="mb-0">Enhance admin capabilities with sync reports, apply sensitivity labels, and manage migration.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/onedrive.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Protect your files with One Drive Get relentless security for your files, balanced with a simple, powerful collaboration experience.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/activities.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Simplify day-to-day activities with OneDrive. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/document-processing.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Share and work together on all your files.</p>
                        </div>
                    </div>
                </div>
                
            </div>
			
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>

	
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="eoplan2"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft One Drive Plan2 </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">
        <div>
			<ul class="offCanvaslist">
                <li>The plan offers you unlimited cloud storage per user. This is in sharp contrast to the 1 TB storage provided under Plan 1</li>
				<li>You can be assured of advanced prevention options to safeguard your data. This can be used to identify, monitor, and protect sensitive information.</li>
				<li>The in-place holds an option that helps you protect the deletion and editing of the documents.</li>
				<li>Data Loss Prevention opportunities to identify, monitor and protect your sensitive information.</li>
				<li>In place holders for security files protection for deletion and editing.</li>
            </ul>
			
            <div class="plansOffcanvas">
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/unlimited-storage.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">The plan offers you unlimited cloud storage per user </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/share-link.png" alt="">
                        </div>
                        <div class="col">
							<h6>Enhance collaboration in Teams.</h6>
                            <p class="mb-0">Work better together. New integrations allow you to create sharable links, grant expiring access, and follow configured policies. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/upload-file.png" alt="">
                        </div>
                        <div class="col">
							<h6>Power a cohesive file experience </h6>
                            <p class="mb-0">Power a cohesive file experience Easily add shared files from Teams or SharePoint to OneDrive, upload files up to 100GB, sync libraries, and more. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/most-secure.png" alt="">
                        </div>
                        <div class="col">
							<h6>Use visibility and controls for security.</h6>
                            <p class="mb-0">Enhance admin capabilities with sync reports, apply sensitivity labels, and manage migration. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/onedrive.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Protect your files with One Drive Get relentless security for your files, balanced with a simple, powerful collaboration experience. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/activities.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Simplify day-to-day activities with OneDrive. </p>
                        </div>
                    </div>
                </div>
                <div class="bg-light shadow border p-2 mb-3">
                    <div class="row align-items-center gx-2">
                        <div class="col-auto">
                            <img src="/assets/img/icons/share.png" alt="">
                        </div>
                        <div class="col">
                            <p class="mb-0">Share and work together on all your files.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
    </div>
</div>