<div class="row cstmrLogos g-0">
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/BergerABAM.png" alt="BergerABAM" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/Bowen-Logo.png" alt="Bowen" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/CareStarLogo.png" alt="CareStarLogo" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/Cargotech.png" alt="Cargotech" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/first-federal.png" alt="first-federal" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-end">
        <img src="assets/img/customers/freighthandlers.png" alt="freighthandlers" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/general-RV-center.png" alt="general-RV-center" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/Gill_logo_small.png" alt="Gill_logo_small" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/harsch.gif" alt="harsch" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/hilmar-logo.png" alt="hilmar" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/hunter-logo.png" alt="hunter" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-end">
        <img src="assets/img/customers/iivilogo.png" alt="iivilogo" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/Invacare_Logo.png" alt="Invacare_Logo" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/InnerWorkings.png" alt="InnerWorkings" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/kuka-logo.png" alt="kuka" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/Messer.png" alt="Messer" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/mri-logo.png" alt="mri" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-end">
        <img src="assets/img/customers/NEPC-Logo-square.jpg" alt="NEPC" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/pima-federal-logo.png" alt="pima-federal" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/RLI.png" alt="RLI" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/spartan.png" alt="spartan" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/stras.png" alt="stras" />
    </div>
    <div class="col-md-2 col-6 border-top border-start">
        <img src="assets/img/customers/SubaruIndianaLogo.png" alt="SubaruIndianaLogo"/>
    </div>
    <div class="col-md-2 col-6 border-top border-start border-end border-bottom">
        <img src="assets/img/customers/targus.png" alt="targus" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-bottom">
        <img src="assets/img/customers/therma.png" alt="therma" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-bottom">
        <img src="assets/img/customers/thompson-shore-logo.png" alt="thompson" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-bottom">
        <img src="assets/img/customers/tiara.png" alt="tiara" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-bottom">
        <img src="assets/img/customers/tube-city.png" alt="tube" />
    </div>
    <div class="col-md-2 col-6 border-top border-start border-bottom border-end">
        <img src="assets/img/customers/UNFI.png" alt="UNFI" />
    </div>
</div>