.cldSrcDropDOwn{
    left: 0;
    right: 0;
}

.cldSrcDropDOwn a img{
    height: 30px;
}
.cldSrcDropDOwn a{
    color: #3a3a3a;
    line-height: 21px;
}
/* ............. */
.avatar-l {
    height: 2rem;
    width: 2.0rem;
}
.avatar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.avatar img {
    -o-object-fit: cover;
    object-fit: cover;
}
.avatar img, .avatar .avatar-name {
    width: 100%;
    height: 100%;
}
.avatar img {
    display: block;
}
.profileSection .navbar .dropdown-menu.dropdown-menu-end.navbar-dropdown-caret {
    left: auto;
    right: -0.5625rem;
}
.profileSection .navbar-top .dropdown-menu {
    margin-top: .5rem;
}
.profileSection .navbar .dropdown-menu.dropdown-menu-end.navbar-dropdown-caret:after {
    right: .9rem;
    left: auto;
}
.profileSection  .navbar .dropdown-menu.navbar-dropdown-caret:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 1.5rem;
    height: 1.5rem;
    background: #000;
    top: -10px;
    left: 1.5rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    background: inherit;
    border-top-left-radius: .25rem;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #cbd0dd;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}
.profileSection  .dropdown-profile {
    min-width: 18.3125rem;
}
.avatar-xl {
    height: 3rem;
    width: 3rem;
}
.profileSection .dropdown-menu{
    font-size: 0.8rem;
    border-radius: 0.375rem;
    border-color: #cbd0dd;
    color: #525b75;
    box-shadow: 0px 2px 4px -2px rgba(36, 40, 46, 0.08);
}
.PrdItemSubMnuBox{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #292929;
    padding: 30px 0;
    transition: 0.2s;
}
.sbmenBtns a {
    display: block;
    background-color: #3b3b3b;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
    transition: 0.2s;
}
.sbmenBtns a:hover{
    background-color: #15a1dc;
}
.submenrghtItms a{
    color: #fff;
}
.submenrghtItms a img{
    height: 30px;
}
.submenrghtItms h6{
    color: #848484;
}
.clsBtn{
    position: absolute;
    bottom: -55px;
    margin: auto;
    left: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #292929;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.crtDtlbox a{
    display: block;
    padding: 5px;
    position: relative;
}
.crtDtlbox a img{
    height: 30px;
}
.crtDtlbox a span{
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
}
.sbmnubg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000085;
    z-index: -1;
}