<section class="py-5 light-bg">
    <div class="container">
        <div class="row justify-content-center g-3">
            <div class="col-md-12">
                <div class="row g-3">
                    <div class="col-md-7">
                        <h2 class="h4">UnifyCloud has achieved numerous awards, affiliations and specializations<i class="icofont-long-arrow-right"></i></h2>
                        <!-- <h6 class="my-4">CloudAtlas capabilities underpin many journeys to Azure</h6> -->

                        <div [ngClass]="{ShowMore: IsOpen}" style="max-height: 200px; overflow-y: hidden;">
                            <ul class="achlist">
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Continuous Improvement
                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Infrastructure Assessment
                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        D365 / AVD / AVS / SAP / IoT / Workplace Modernization / Sustainability / Security
                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e4.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Rapid Assessment for Quick Win Migrations
                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e5.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Application Assessment, Migration and Modernization
                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e6.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Data Estate Assessment, Migration and Modernization
                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e7.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Dependency Analysis / Migration Wave Planning

                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e8.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        FinOps / Cost Control / Security, Governance, Risk and Compliance

                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e9.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Automated Landing Zones

                                    </div>
                                </li>
                                <li>
                                    <div class="achlistImg shadow">
                                        <div>
                                            <img src="/assets/img/icons/e10.png" alt="">
                                        </div>
                                    </div>
                                    <div class="achlistCntnt">
                                        Azure and M365 Optimization

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2">
                            <button *ngIf="!IsOpen" class="btn btn-link" (click)="showmore()">show more</button>
                            <button *ngIf="IsOpen" class="btn btn-link" (click)="showless()">show less</button>
                        </div>
                        <div class="border rounded overflow-hidden mt-3 bg-dark bg-opacity-25">
                            <div class="row d-flex align-items-center justify-content-center">
                                <div class="col-md-5 text-end">
                                    <h3 class="h2 fw-bold">Unifycloud has achieved</h3>
                                    <h5>numerous awards, affiliations and specializations</h5>
                                </div>
                                <div class="col-md-7">
                                    <img src="/assets/img/award2.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="rounded shadow p-3 bg-white mb-4">
                            <h4 class="mb-3">Let’s Talk</h4>
                            <app-enquiryform></app-enquiryform>
                        </div>
                        <div class="rounded shadow p-3 bg-white">
                            <a href="tel:9717347546" class="d-inline-block h2 fw-bolder text-dark">97173 47546</a>
                    <h5>10am - 4pm IST</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="py-4">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-auto">
                <h3 class="h2 fw-bold">Unifycloud has achieved</h3>
                <h5>numerous awards, affiliations and specializations</h5>
            </div>
            <div class="col-md-5">
                <img src="/assets/img/award2.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section> -->