<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Elevate Your Infrastructure with Our Assessment Service</h1>
                <h5 class="mt-3">Our Infra Assessment Service includes a comprehensive analysis of your IT infrastructure, including hardware, software, networks, security, and data management.</h5>
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>The Infrastructure Assessment evaluates an organization's cloud infrastructure to identify potential risks or
                    vulnerabilities. Our assessment covers all aspects of the cloud environment, including security, reliability,
                    performance, scalability, and cost. Additionally, the assessment includes recommendations for improving the
                    organization's cloud infrastructure. Moreover, it provides an overview of the organization's current cloud
                    infrastructure, highlighting any areas of concern that require attention. Finally, the assessment offers
                    organizations a roadmap for optimizing their cloud infrastructure.</p>

                    <h4>How infrastructure assessment contributes to successful cloud migrations?</h4>
                    <p>Any migration to the cloud must start with an infrastructure assessment. Identifying all infrastructure components
                        and their use is necessary to identify cloud readiness, compatibility, and interdependencies among infrastructure,
                        apps, databases, and workloads. This data is gathered over time to identify network infrastructure and evaluate its
                        use. The time needed to become cloud-ready is determined in addition to assessing the cloud readiness of these
                        detected client computers, virtual machines, physical servers, apps, and databases. Finally, the collected data is
                        used to develop a strategy and plan to serve as a road map for migrating to the cloud. 
                        </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/cybersec.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="mb-5">The Assessment Insights 
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 border-end border-bottom">
                <div class="h-100 p-4">
                    <h5>Identify your server, application, and security landscape</h5>
                    <p>Shorten your timeframes and modernize your servers, data centers, and service landscapes with cloud-based
                        dashboards and application automation. Boost your business's performance with the high-level outcome</p>
                </div>
            </div>
            <div class="col-md-4 border-end border-bottom">
                <div class="h-100 p-4">
                    <h5>Deeper insights into the underlying IaaS, PaaS, and SaaS</h5>
                    <p>Gain insight into deploying and managing modern workloads, such as SQL Server, in the cloud environment, and
                        assist with creating and deploying servers on IaaS. In addition, it analyzes applications suitable for migration to
                        PaaS architecture, or that can be retired in favor of SaaS applications.</p>
                </div>
            </div>
            <div class="col-md-4 border-bottom">
                <div class="h-100 p-4">
                    <h5>Assess potential ROI for your business</h5>
                    <p>Analyze your business scenarios, risks, costs, and benefits of moving your applications to a modern platform. Then,
                        evaluate the impact and ROI of modernization on your business.</p>
                </div>
            </div>
            <div class="col-md-4 border-end">
                <div class="h-100 p-4">
                    <h5>Lift & Shift </h5>
                    <p>As a comprehensive migration solution, it facilitates the migration of businesses from their existing physical, virtual, or cloud-based infrastructures to a new cloud-based environment. This solution includes cost analysis, automated planning, configuration, security, and management of migration processes. As a result, it offers business transition to the cloud with minimal disruption, cost, and risk.</p>
                </div>
            </div>
            <div class="col-md-4 border-end">
                <div class="h-100 p-4">
                    <h5>SQL Sizing </h5>
                    <p>This provides a single platform for customers to store, manage and analyze their data. It provides scalability and flexibility to accommodate a range of workloads. Additionally, SQL Sizing can process large volumes of data quickly and efficiently. As part of its comprehensive feature set, it includes automatic data loading, automated indexing, query optimization, and scalability. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="h-100 p-4">
                    <h5>App Sizing</h5>
                    <p>Cloud environments require a significant amount of computing resources to run an application. You can use App Sizing to determine the computing resources you need. This includes choosing the number of CPUs, memory, storage, and network bandwidth required to host the application. App sizing helps you plan for your application's future needs while efficiently allocating resources and improving application performance. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light-bg py-5">
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <h3 class="mb-5">Key Benefits of Infrastructure Assessment </h3>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/i1.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Infrastructure Management</h6>
                            <p class="mb-0">Identifies the potential issues in your IT infrastructure, such as hardware and software configuration errors, resource bottlenecks, and security vulnerabilities, by examining components such as servers, storage, networks, applications, and services. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/i2.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Performance Analysis</h6>
                            <p class="mb-0">Assess the performance of your IT infrastructure to identify areas for improvement and areas that may pose a risk. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/i3.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Cost Optimization Strategies</h6>
                            <p class="mb-0">This helps to identify strategies for reducing IT costs, such as consolidating hardware, reducing energy consumption, and leveraging cloud services. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/i4.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Security Enhancement</h6>
                            <p class="mb-0">Assess the security of your IT infrastructure, including firewalls, intrusion detection systems, authentication systems, and other security measures. This feature offers faster and better threat detection and automatically deploys security updates across all cloud-connected resources and machines. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/i5.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Consistent Compliance</h6>
                            <p class="mb-0">This platform provides built-in features to help businesses manage and meet compliance requirements more effectively. </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/i6.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Rightsizing</h6>
                            <p class="mb-0">Rightsizing allows you to optimize your cloud infrastructure for cost efficiency. This helps us analyze your cloud environment for over-provisioning or under-provisioning resources and then take corrective action to make the cloud environment more cost-efficient. The features can also help you identify idle resources, which can be deleted or scaled down to reduce costs.</p>
                        </div>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 border bg-white">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="/assets/img/icons/i7.jpg" alt="">
                        </div>
                        <div class="col text-start">
                            <h6>Cybersecurity</h6>
                            <p class="mb-0">We offer a Cybersecurity feature that assists organizations in protecting their cloud environments from cyber threats and ensuring compliance with industry regulations. The platform provides visibility into cloud infrastructure and applications, automates security and compliance controls, and assists organizations in detecting and responding to potential security threats. It also offers automated policy enforcement, real-time monitoring, reporting, and alerting. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-10" style="background-color: #0899c3;">
    <div class="container">
        
    </div>
</section>
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>