<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Buy Windows 365 Business</h6>
                <h1 class="fw-bold">Are you seeking an efficient and reliable solution to manage your business?</h1>
                <p>Look no further than Windows 365 Business, the comprehensive suite of productivity tools designed to streamline your workflow and enhance your business's productivity.</p>
                <div class="d-flex align-items-center flex-wrap">
                    <!-- <a href="/product-services/exchange#Getstarted" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</a> -->
                        <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                            Started</button>
                    <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/window-365-business-ahb#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting,
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 text-md-end">
                <div>
                    <h4 class="display-6">Flexible subscription plans to fit your business needs</h4>
                    <p>Windows 365 AHB (Azure Hybrid Benefit) is a revolutionary cloud computing solution that allows businesses to harness the power of the cloud while maximizing cost savings. Discover the key benefits of Windows 365 AHB and learn how it can streamline your organization's IT operations, enhance productivity, and reduce costs. </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ofcPkg ps-md-5">
                    <ul class="ofcPkgList">
                        <li>
                            <h5>Optimize Your Cloud Investment</h5>
                            <h6>Maximise Savings with Azure Hybrid Benefit </h6>
                            <p>By leveraging your existing on-premises Windows Server and SQL Server licenses, you can reduce the cost of running your workloads in the cloud using Windows 365 AHB. As a result, you can save up to 40% on virtual machines and up to 55% on SQL Server instances, optimizing your cloud investment and maximizing your cost efficiency. 
                            </p>
                        </li>
                        <li>
                            <h5>Seamless Integration and Migration</h5>
                            <h6>Streamline Your Transition to the Cloud </h6>
                            <p>Windows 365 AHB simplifies migrating your existing workloads to the cloud by offering seamless integration with your on-premises infrastructure. This tool ensures a smooth transition, minimizing downtime and disruption while allowing you to take advantage of the cloud's scalability, flexibility, and security. </p>
                        </li>
                        <li>
                            <h5>Enhanced Security and Compliance</h5>
                            <h6>Protect Your Data and Meet Industry Standards </h6>
                            <p>Windows 365 AHB incorporates advanced security features, such as encryption, multi-factor authentication (MFA), and threat protection, to safeguard your data and applications. Moreover, Windows 365 AHB complies with industry standards, ensuring your organization meets security and compliance requirements. </p>
                        </li>
                        <li>
                            <h5>Simplified IT Management </h5>
                            <h6>Centralize Your IT Operations</h6>
                            <p>Windows 365 AHB streamlines your IT management by providing a centralized platform for managing your cloud and on-premises infrastructure. As a result, your IT team can focus on more strategic tasks rather than managing multiple environments. </p>
                        </li>
                        <li>
                            <h5>Scalability and Customization</h5>
                            <h6>Tailor Your Cloud Experience to Your Needs </h6>
                            <p>Windows 365 AHB offers a range of subscription plans and configurations, allowing you to scale your cloud resources according to your organization's unique requirements. Choose from various packages that include different processing power, storage, and memory levels to ensure optimal performance for your workloads. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10" style="background-color: #f2f2f2;" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore Windows 365 Business (AHB) plans</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of April 2023</small>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-12 crm-pricing-switch-wrapper ">
                <span class="title">Included Features</span>
                <ul class="prdftrList">
                    <li>This discounted Windows 365 Business subscription gives you up to 300 licenses for Cloud PCs in your organization.</li>
                    <li>With the Windows Hybrid Benefit, customers with the Windows 11 Pro or Windows 10 Pro operating system licensed on their primary work devices qualify for discounted pricing on the Business edition.</li>
                    <li>Securely stream your Windows experience - including your personalized apps, content, and settings - from the Microsoft cloud to any device with your Windows 365 Cloud PC.</li>
                </ul>
                
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 4 GB, 64 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                3,07,800
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                28,025
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                                <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU8"
                                    aria-controls="staticBackdrop">
                                    View details </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 4 GB, 128 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                3,40,848
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                31,034
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                                <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU7"
                                    aria-controls="staticBackdrop">
                                    View details
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 4 GB, 256 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                4,39,992
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                40,061
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                                <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU9"
                                    aria-controls="staticBackdrop">
                                    View details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 8 GB, 128 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                4,51,008
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                41,064
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                                <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU10"
                                    aria-controls="staticBackdrop">
                                    View details </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 8 GB, 256 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                5,49,504
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                50,032
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                                <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU11"
                                    aria-controls="staticBackdrop">
                                    View details </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>4 vCPU, 16 GB, 128 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                7,25,760
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                66,080
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>4 vCPU, 16 GB, 256 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                8,24,256
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                75,048
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>4 vCPU, 16 GB, 512 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                11,10,024
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,01,067
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>8 vCPU, 32 GB, 128 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                13,52,376
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,23,133
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>8 vCPU, 32 GB, 256 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                14,50,872
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,32,101
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>8 vCPU, 32 GB, 512 GB<br><span class="mt-1 d-block" style="font-size: 0.5em;">(with Windows Hybrid Benefit)</span></h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                17,36,640
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,58,120
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<div class="text-center py-5">
    <h4 class="h5 mb-0">For Discounts and bulk enquiry, please email your query to <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>

<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9717347546" class="d-inline-block h2 mb-0 fw-bolder text-dark">97173 47546</a>
                    <div class="clearfix"></div>
                    <a href="/contact" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section>
  
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="vCPU8"
aria-labelledby="staticBackdropLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Windows 365 Business 2 vCPU, 4 GB, 64 GB (with Windows Hybrid Benefit)</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body position-relative">
    <div>
       <ul>
        <li>Maximize Savings with Azure Hybrid Benefit </li>
        <li>By leveraging your existing on-premises Windows Server and SQL Server licenses, you can reduce the cost of running your workloads in the cloud using Windows 365 AHB. As a result, you can save up to 40% on virtual machines and up to 55% on SQL Server instances, optimizing your cloud investment and maximizing your cost efficiency. </li>
        <li>This entitled for Azure Hybrid Benefits. </li>
        <li>Streamline Your Transition to the Cloud.</li>
        <li>Windows 365 AHB simplifies migrating your existing workloads to the cloud by offering seamless integration with your on-premises infrastructure. This tool ensures a smooth transition, minimizing downtime and disruption while allowing you to take advantage of the cloud's scalability, flexibility, and security. </li>
        <li>Protect Your Data and Meet Industry Standards </li>
        <li>Windows 365 AHB incorporates advanced security features, such as encryption, multi-factor authentication (MFA), and threat protection, to safeguard your data and applications. Moreover, Windows 365 AHB complies with industry standards, ensuring your organization meets security and compliance requirements. </li>
       </ul>
      <h5>Manage online. </h5>
        <ul class="offCanvaslist">
            <li>Customers can purchase directly from windows365.com, set up their account without a domain, and provision and manage their Cloud PCs directly from windows365.microsoft.com</li>  
        </ul>
        <h5>Add up to 300 users. </h5>
        <ul class="offCanvaslist">
            <li>Windows 365 Business is for customers who want to deploy Cloud PCs for 300 users or fewer across their organization.  </li>  
        </ul>

        <div class="plansOffcanvas">
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/work-from-home.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Work anywhere</h6>
                        <p class="mb-0">Pick up where you left off with your secure, personalized Windows experience on any device. </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/management.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Simplify management</h6>
                        <p class="mb-0">Conveniently access and manage Cloud PCs anytime through Windows365.com.  </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/Access-resource.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Access all your resources </h6>
                        <p class="mb-0">Use popular business apps, custom and line-of-business apps, and all your data and content.  </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/Increase_productivity.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Increase productivity</h6>
                        <p class="mb-0">Allow employees to work when and where they choose with Windows in the cloud streamed to any device. </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/Minimize_risk.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Minimize risk</h6>
                        <p class="mb-0">Reduce security risks by storing and securing information in the cloud, not on devices.  </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/Manage_costs.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Manage costs </h6>
                        <p class="mb-0">Stay within budget without compromising your business with fixed, per-user pricing. </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/started_fast.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Get started fast </h6>
                        <p class="mb-0">Quickly and effortlessly set up Cloud PCs for your employees. </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/Streamline_IT.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Streamline IT  </h6>
                        <p class="mb-0">Enjoy all the benefits of desktop virtualization without the typical costs or required IT expertise.  </p>
                    </div>
                </div>
            </div>
            <div class="bg-light shadow border p-2 mb-3">
                <div class="row align-items-center gx-2">
                    <div class="col-auto">
                        <img src="./assets/img/icons/your_needs.png" alt="">
                    </div>
                    <div class="col">
                        <h6>Scale for your needs </h6>
                        <p class="mb-0">Choose from a variety of performance options to suit businesses of any size.   </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
</div>
</div>