
<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Reimagine productivity with Microsoft 365</h6>
                <h1 class="fw-bold">A reliable Microsoft 365 alternative</h1>
                <p>Work anywhere, anytime, on any device. Microsoft 365 is ready when you are.</p>
                <div class="d-flex align-items-center flex-wrap">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get Started</a>
                    <a routerLink="/lets-talk" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/microsoft-365-for-home#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft 365 Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital 
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+ 
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent 
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft 
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting, 
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd 
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 text-md-end">
                <div>
                    <h4 class="display-6">Microsoft 365 – Your office anywhere, anytime</h4>
                    <p>Microsoft 365 is ready when you are. Office when and where you need it. All the popular desktop applications like Word, Excel, and Powerpoint plus a host of web-enabled communication & collaboration tools such as Yammer and OneDrive.</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ofcPkg ps-md-5">
                    <!-- <div class="border p-3 shadow-sm bg-light">
                        <div class="row g-2">
                            <div class="col-auto">
                                <img src="/assets/img/icons/cloud-computing.png" alt="">
                            </div>
                            <div class="col">
                                <h4 class="h5 mb-0">Hybrid and multi-cloud application platform</h4>
                                <p class="mb-0">Modernise your legacy applications with consistent platform across all your deployments</p>
                            </div>
                        </div>
                    </div> -->
                    <ul class="ofcPkgList">
                        <li>
                            <p>Microsoft 365 is a powerful suite of productivity tools perfect for personal and professional use. With a subscription to Microsoft 365, you can access a range of powerful software applications, including Word, Excel, PowerPoint, Outlook, OneNote, and more.</p>
                        </li>
                        <li>
                            <p>Microsoft 365 subscription gives you access to the latest versions of all Microsoft Office applications, which means you'll always have access to the most up-to-date features and tools. It may be especially beneficial for businesses that depend heavily on Microsoft Office tools.</p>
                        </li>
                        <li>
                            <p>Microsoft 365 subscription gives you access to cloud-based versions of many Office applications. As long as you are connected to the internet, you can access your documents and files from anywhere, on any device. Working on the go and collaborating with remote teams can be highly convenient for people who need to work on the go.</p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hm7-pricing-section py-5" style="background-color: #f2f2f2;">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore Microsoft 365 plans</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of December 2023</small>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-end text-lg-end">
                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                    <a routerLink="/product-services/microsoft-365-for-home" class="btn btn-info fw-bold fs-6">For Home</a>
                    <a routerLink="/product-services/microsoft-365" class="btn btn-primary fw-bold fs-6">For Business</a>
                </div>
            </div>
        </div>
        <div class="row g-3 justify-content-center mb-4">
            <div class="col-md">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative h-100 overflow-hidden">
                    <div class="">
                        <!-- <span class="popular-badge position-absolute text-center fw-bold">Best value for 2–6 people</span> -->
                        <div class="mb-4">
                            <h4>Microsoft 365 Family
                            </h4>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                6,199
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>For one to six people.
                            </li>
                            <li>Use up to five devices simultaneously.</li>
                            <li>Works on PC, Mac, iPhone, iPad, and Android phones and tablets.</li>
                            <li>Up to 6 TB of cloud storage (1 TB per person).</li>
                            <li>Additional features in the Family Safety mobile app.</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU24"
                                aria-controls="staticBackdrop">
                                view more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative h-100">
                    <div class="">
                        <div class="mb-4">
                            <h4>Microsoft 365 Personal
                            </h4>
                            <h6>Insider Risk Management</h6>
                            <span class="pricing-label d-block mt-4">From only</span>
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                4,899
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                517
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                        </div>
                        <ul class="prdftrList">
                            <li>For one person.</li>
                            <li>Use up to five devices simultaneously. </li>
                            <li>Works on PC, Mac, iPhone, iPad, and Android phones and tablets.</li>
                            <li>1 TB of cloud storage.</li>
                        </ul>
                         
                        <div *ngIf="!isChecked" class="text-center mb-2">
                            <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                            <strong></strong>
                        </div>
                        <div class="buynowbox">
                            <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#vCPU25"
                                aria-controls="staticBackdrop">
                                view more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h4>Difference between Office 365 and  Microsoft 365</h4>
                <ul class="ofcPkgList">
                    <li>Microsoft 365 is aimed at mid-size businesses, while 0365 is for individuals.</li>
                    <li>Microsoft 365 (M365) and Office 365 (O365) are cloud-based suites that offer Microsoft Office applications, but M365 offers additional features and functionality.</li>
                    <li>M365 includes O365, Windows 10 +, Enterprise Mobility + Security (EMS), and other security and management tools.</li>
                    <li>The Microsoft Office 365 product line is designed for individuals and small groups seeking a collaborative environment. In contrast, Microsoft Office 365 is intended for mid-sized and large businesses looking for a complete and secure package of business productivity tools.</li>
                    <li>There is a simple difference between M365 and O365 in that M365 includes the Windows 10 license, whereas O365 does not.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/ms-office.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<div class="text-center py-5">
    <h4 class="h5 mb-0">for bulk buying enquiry please email us at <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>
<!-- <section class="light-bg py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mb-5">
                    <h5>Frequently Asked Questions (FAQs)</h5>
                    <h2 class="h2 fw-bold">Save time and find answers quickly with our FAQ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                
                <div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item" *ngFor="let faqs of faq; let i = index">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" aria-controls="collapseOne">
                                    {{ faqs.Ques }} 
                                </button>
                            </h2>
                            <div [id]="'collapse' + i" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ faqs.Ans }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9717347546" class="d-inline-block h2 mb-0 fw-bolder text-dark">97173 47546</a>
                    <div class="clearfix"></div>

                    <a href="#" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="vCPU25"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft 365 Personal – Home </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body position-relative">
            <div>
                <p>Microsoft 365 Personal includes 1 TB of cloud storage, advanced security features, and innovative
                    apps all in one plan. </p>
                <ul>
                    <li>For one person </li>
                    <li>Use on up to 5 devices simultaneously. </li>
                    <li>Works on PC, Mac, iPhone, iPad, and Android phones and tablets </li>
                    <li>1 TB (1000 GB) of cloud storage </li>
                    <li>Word, Excel, PowerPoint, and OneNote with offline access and premium features </li>
                    <li>Microsoft Defender* advanced security for your personal data and devices </li>
                    <li>OneDrive ransomware protection for your files and photos </li>
                    <li>Outlook ad-free secure email </li>
                    <li>Microsoft Editor advanced spelling, grammar, and writing assistance. </li>
                    <li>Clipchamp* video editor with premium filters and effects </li>
                    <li>Premium, customizable templates </li>
                    <li>Expanded content library of high-quality photos, icons, fonts, videos, and audio. </li>
                </ul>

                <div class="row">
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft_word.png" alt="">
                        <p>Word</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft_exel.png" alt="">
                        <p>Exel</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft_powerpoint.png" alt="">
                        <p>PowerPoint</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/Microsoft_Defende.png" alt="">
                        <p>Defender</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft onedrive.png" alt="">
                        <p>Onedrive</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/outlook.png" alt="">
                        <p>Outlook</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/onenote.png" alt="">
                        <p>OneNote</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/clikchamp.png" alt="">
                        <p>ClipChamp</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/family-safty.png" alt="">
                        <p>Microsoft Family Safety</p>
                    </div>
                    <h6>Contact support via chat or email to get help when you need it. </h6>
                </div>

                <div class="plansOffcanvas">
                    <h5 class="mb-0">Features included.</h5>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>benefits of Microsoft 365</h6>
                                <p class="mb-0">Share all the benefits of Microsoft 365 with up to five other people.
                                    Sharing means that each person has the flexibility to use their own apps and cloud
                                    storage on multiple PCs, Macs, iPhones, iPads, and Android phones and tablets. (iOS
                                    and Android require separate app download.) </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Powerful productivity apps </h6>
                                <p class="mb-0">Word, Excel, and PowerPoint are included for every user. Collaborate in
                                    real-time or work offline, and get design, writing, and speaking suggestions in each
                                    app. Plus access an extended collection of royalty-free creative content, including
                                    templates, stock photos, icons, and fonts. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Up to 6 TB of cloud storage (1 TB per person) </h6>
                                <p class="mb-0">Each person can save photos and files in OneDrive protected with
                                    built-in ransomware detection and recovery across devices. **** Plus, every user can
                                    protect their most important files with two-step identity verification in their own
                                    individual Personal Vault folders. </p>

                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>safety</h6>
                                <p class="mb-0">Develop stronger safety habits and protect loved ones. Get premium
                                    features like location alerts, drive safety reports, and drive history with the
                                    Microsoft Family Safety app.** Location permissions must be active to receive
                                    alerts. (Drive safety available in US, AU, BE, BR, CA, CH, CH, DE, ES, GB, IT, MX,
                                    PL.) </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Data and device protection </h6>
                                <p class="mb-0">Easily manage your digital security and stay ahead of online threats
                                    with advanced protection for your data and devices with Microsoft Defender. </p>
                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Outlook</h6>
                                <p class="mb-0">Every person can use Outlook for email, calendars, to-do lists, and
                                    contacts with built-in security tools that keep your information protected. (The
                                    security features apply to customers who have an @outlook.com, @hotmail.com,
                                    @live.com, or @msn.com email address.) </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">

                                <p class="mb-0">Advanced spelling, grammar, and writing assistance. Write with
                                    confidence across documents, email, and the web with features that help strengthen
                                    your and your family’s spelling, grammar, and style with Microsoft Editor </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>All-day video calling </h6>
                                <p class="mb-0">Every person can enjoy all day video calling and meet, chat, and plan
                                    together in one app with Microsoft Teams. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Video editors</h6>
                                <p class="mb-0">Video editor with premium filters and effects Create and edit beautiful
                                    videos with ease using Clipchamp’s***** robust tools, intuitive controls, templates,
                                    and an extensive stock library. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Applications are always up to date. </h6>
                                <p class="mb-0">With a Microsoft 365 Family subscription, every user gets innovative new
                                    features and updates as soon as they are released, so everyone is always working
                                    with the latest and the greatest. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Access (PC only) </h6>
                                <p class="mb-0">Easily create and manage databases for projects, large or small. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Microsoft support </h6>
                                <p class="mb-0">Microsoft 365 has your back with readily available technical support
                                    through chat or by phone </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Publisher (PC only) </h6>
                                <p class="mb-0">Create everything from simple greeting cards and labels to professional
                                    newsletters and posters. </p>
                            </div>
                        </div>
                    </div>


                </div>

                <h5 class="mb-0 mt-4">System Requirements </h5>
                <div class="plansOffcanvas">
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Processor </h6>
                                <ul>
                                    <li>Windows: 1.6 gigahertz (GHz) or faster, 2-core </li>
                                    <li>macOS: Intel processor</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Operating System </h6>
                                <ul>
                                    <li>Windows: Windows 11, Windows 10 SAC, Windows 8.1, Windows Server 2019, or
                                        Windows Server 2016. Please note Microsoft 365 Apps for enterprise is not
                                        supported on any Windows 10 LTSC client products. Microsoft 365 Apps for
                                        enterprise is supported on Windows Server 2019 and on Windows Server 2016
                                        through October 2025</li>
                                    <li>macOS: Office for Mac is supported on the three most recent versions of macOS.
                                        When a new version of macOS is released, the Office for Mac Operating System
                                        requirement becomes the then-current three most recent versions: the new
                                        version of macOS and the previous versions. </li>
                                    <li>Product functionality and feature availability may vary on older systems. For
                                        the best experience, use the latest version of any operating system specified
                                        above. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Memory </h6>
                                <ul>
                                    <li>Windows: 4GB RAM; 2 GB RAM (32-bit) </li>
                                    <li>macOS: 4 GB RAM </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Hard Disk Space </h6>
                                <ul>
                                    <li>Windows: 4.0 GB of available disk space </li>
                                    <li>macOS: 10 GB of available disk space. HFS+ hard disk format (also known as macOS
                                        Extended or APFS) </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Display </h6>
                                <ul>
                                    <li>Windows: 1280 x 768 screen resolution </li>
                                    <li>macOS: 1280 x 800 screen resolution </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Graphics </h6>
                                <ul>
                                    <li>Windows: Graphics hardware acceleration requires DirectX 9 or later, with WDDM
                                        2.0 or higher for Windows 10 (or WDDM 1.3 or higher for Windows 10 Fall Creators
                                        Update). Skype for Business requires DirectX 9 or later, 128 MB graphics memory,
                                        and 32 bits per pixel capable format. </li>
                                    <li>macOS: No graphics requirements </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Multi-touch </h6>
                                <ul>
                                    <li>A touch-enabled device is required to use any multi-touch functionality. But,
                                        all features and functionality are always available by using a keyboard, mouse,
                                        or other standard or accessible input device. Note that touch features are
                                        optimized for use with Windows 10 or Windows 8.1. </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Additional system requirements </h6>
                                <ul>
                                    <li>Product functionality and graphics may vary based on your system configuration.
                                        Some features may require additional or advanced hardware or server
                                        connectivity. </li>
                                    <li>Microsoft account and/or organizational account is required for licensing and to
                                        access services. </li>
                                    <li>Internet functionality requires an internet connection. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="vCPU24"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">Microsoft 365 Family - Home </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body position-relative">
            <div>
                <p>Microsoft 365 Family includes up to 6 TB of cloud storage (1 TB per person), advanced security
                    features, and innovative apps for you and your family, all in one plan. </p>
                <ul>
                    <li>For one to six people to share </li>
                    <li>Each person can use on up to 5 devices simultaneously. </li>
                    <li>Works on Windows, Mac, iPhone, iPad, and Android phones and tablets </li>
                    <li>Up to 6 TB of cloud storage (1 TB per person) </li>
                    <li>Word, Excel, PowerPoint, and OneNote with offline access and premium features </li>
                    <li>Microsoft Defender* advanced security for your personal data and devices </li>
                    <li>OneDrive ransomware protection for your files and photos </li>
                    <li>Outlook ad-free secure email </li>
                    <li>Microsoft Editor advanced spelling, grammar, and writing assistance. </li>
                    <li>Clipchamp* video editor with premium filters & effects</li>
                    <li>Additional features in the Microsoft Family Safety mobile app </li>
                    <li>Premium, customizable templates </li>
                    <li>Expanded content library of high-quality photos, icons, fonts, videos, and audio. </li>
                </ul>

                <div class="row">
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft_word.png" alt="">
                        <p>Word</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft_exel.png" alt="">
                        <p>Exel</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft_powerpoint.png" alt="">
                        <p>PowerPoint</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/Microsoft_Defende.png" alt="">
                        <p>Defender</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/microsoft onedrive.png" alt="">
                        <p>Onedrive</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/outlook.png" alt="">
                        <p>Outlook</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/onenote.png" alt="">
                        <p>OneNote</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/clikchamp.png" alt="">
                        <p>ClipChamp</p>
                    </div>
                    <div class="col-4">
                        <img src="/assets/img/icons/family-safty.png" alt="">
                        <p>Microsoft Family Safety</p>
                    </div>
                </div>

                <div class="plansOffcanvas">
                    <h5 class="mb-0">Features included.</h5>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>benefits of Microsoft 365</h6>
                                <p class="mb-0">Share all the benefits of Microsoft 365 with up to five other people.
                                    Sharing means that each person has the flexibility to use their own apps and cloud
                                    storage on multiple PCs, Macs, iPhones, iPads, and Android phones and tablets. (iOS
                                    and Android require separate app download.) </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Powerful productivity apps </h6>
                                <p class="mb-0">Word, Excel, and PowerPoint are included for every user. Collaborate in
                                    real-time or work offline, and get design, writing, and speaking suggestions in each
                                    app. Plus access an extended collection of royalty-free creative content, including
                                    templates, stock photos, icons, and fonts. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Up to 6 TB of cloud storage (1 TB per person) </h6>
                                <p class="mb-0">Each person can save photos and files in OneDrive protected with
                                    built-in ransomware detection and recovery across devices. **** Plus, every user can
                                    protect their most important files with two-step identity verification in their own
                                    individual Personal Vault folders. </p>

                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>safety</h6>
                                <p class="mb-0">Develop stronger safety habits and protect loved ones. Get premium
                                    features like location alerts, drive safety reports, and drive history with the
                                    Microsoft Family Safety app.** Location permissions must be active to receive
                                    alerts. (Drive safety available in US, AU, BE, BR, CA, CH, CH, DE, ES, GB, IT, MX,
                                    PL.) </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Data and device protection </h6>
                                <p class="mb-0">Easily manage your digital security and stay ahead of online threats
                                    with advanced protection for your data and devices with Microsoft Defender. </p>
                            </div>
                        </div>
                    </div>

                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Outlook</h6>
                                <p class="mb-0">Every person can use Outlook for email, calendars, to-do lists, and
                                    contacts with built-in security tools that keep your information protected. (The
                                    security features apply to customers who have an @outlook.com, @hotmail.com,
                                    @live.com, or @msn.com email address.) </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">

                                <p class="mb-0">Advanced spelling, grammar, and writing assistance. Write with
                                    confidence across documents, email, and the web with features that help strengthen
                                    your and your family’s spelling, grammar, and style with Microsoft Editor </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>All-day video calling </h6>
                                <p class="mb-0">Every person can enjoy all day video calling and meet, chat, and plan
                                    together in one app with Microsoft Teams. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Video editors</h6>
                                <p class="mb-0">Video editor with premium filters and effects Create and edit beautiful
                                    videos with ease using Clipchamp’s***** robust tools, intuitive controls, templates,
                                    and an extensive stock library. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Applications are always up to date. </h6>
                                <p class="mb-0">With a Microsoft 365 Family subscription, every user gets innovative new
                                    features and updates as soon as they are released, so everyone is always working
                                    with the latest and the greatest. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Access (PC only) </h6>
                                <p class="mb-0">Easily create and manage databases for projects, large or small. </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Microsoft support </h6>
                                <p class="mb-0">Microsoft 365 has your back with readily available technical support
                                    through chat or by phone </p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mb-3">
                        <div class="row align-items-center gx-2">

                            <div class="col">
                                <h6>Publisher (PC only) </h6>
                                <p class="mb-0">Create everything from simple greeting cards and labels to professional
                                    newsletters and posters. </p>
                            </div>
                        </div>
                    </div>


                </div>

                <h5 class="mb-0 mt-4">System Requirements </h5>
                <div class="plansOffcanvas">
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Processor </h6>
                                <ul>
                                    <li>Windows: 1.6 gigahertz (GHz) or faster, 2-core </li>
                                    <li>macOS: Intel processor</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Operating System </h6>
                                <ul>
                                    <li>Windows: Windows 11, Windows 10 SAC, Windows 8.1, Windows Server 2019, or
                                        Windows Server 2016. Please note Microsoft 365 Apps for enterprise is not
                                        supported on any Windows 10 LTSC client products. Microsoft 365 Apps for
                                        enterprise is supported on Windows Server 2019 and on Windows Server 2016
                                        through October 2025</li>
                                    <li>macOS: Office for Mac is supported on the three most recent versions of macOS.
                                        When a new version of macOS is released, the Office for Mac Operating System
                                        requirement becomes the then-current three most recent versions: the new
                                        version of macOS and the previous versions. </li>
                                    <li>Product functionality and feature availability may vary on older systems. For
                                        the best experience, use the latest version of any operating system specified
                                        above. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Memory </h6>
                                <ul>
                                    <li>Windows: 4GB RAM; 2 GB RAM (32-bit) </li>
                                    <li>macOS: 4 GB RAM </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Hard Disk Space </h6>
                                <ul>
                                    <li>Windows: 4.0 GB of available disk space </li>
                                    <li>macOS: 10 GB of available disk space. HFS+ hard disk format (also known as macOS
                                        Extended or APFS) </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Required Display </h6>
                                <ul>
                                    <li>Windows: 1280 x 768 screen resolution </li>
                                    <li>macOS: 1280 x 800 screen resolution </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Graphics </h6>
                                <ul>
                                    <li>Windows: Graphics hardware acceleration requires DirectX 9 or later, with WDDM
                                        2.0 or higher for Windows 10 (or WDDM 1.3 or higher for Windows 10 Fall Creators
                                        Update). Skype for Business requires DirectX 9 or later, 128 MB graphics memory,
                                        and 32 bits per pixel capable format. </li>
                                    <li>macOS: No graphics requirements </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Multi-touch </h6>
                                <ul>
                                    <li>A touch-enabled device is required to use any multi-touch functionality. But,
                                        all features and functionality are always available by using a keyboard, mouse,
                                        or other standard or accessible input device. Note that touch features are
                                        optimized for use with Windows 10 or Windows 8.1. </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="bg-light shadow border p-2 mt-2 mb-3">
                        <div class="row align-items-center gx-2">
                            <div class="col">
                                <h6>Additional system requirements </h6>
                                <ul>
                                    <li>Product functionality and graphics may vary based on your system configuration.
                                        Some features may require additional or advanced hardware or server
                                        connectivity. </li>
                                    <li>Microsoft account and/or organizational account is required for licensing and to
                                        access services. </li>
                                    <li>Internet functionality requires an internet connection. </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a href="" data-bs-toggle="modal" data-bs-target="#buySrcModal" class="offcanvasBtn">Buy Now</a>
        </div>
    </div>