<section class="offc365sctin">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h6>Buy Windows 365 Business</h6>
                <h1 class="fw-bold">Are you seeking an efficient and reliable solution to manage your business?</h1>
                <p>Look no further than Windows 365 Business, the comprehensive suite of productivity tools designed to streamline your workflow and enhance your business's productivity</p>
                <div class="d-flex align-items-center flex-wrap">
                    <!-- <a href="/product-services/exchange#Getstarted" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</a> -->
                        <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                            Started</button>
                    <a routerLink="../../contact" class="animated fadeInUp btn btn-outline-light ms-2 btnu">Contact Sales</a>
                </div>
                <a href="/product-services/window-365-business#plan" class="text-dark d-inline-block mt-3"><strong><u>Compare
                            pricing plan</u></strong></a>
            </div>
        </div>
    </div>
    <!-- <img src="/assets/img/officeIntro.jpg" class="offIntro" alt=""> -->
    <!-- wave animation start -->
    <div class="wavOffice">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe" />
            </g>
        </svg>
    </div>
    <!-- wave animation end -->
</section>
<section class="py-5" style="background-color: #F6F4FE;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="fw-bold h3">Microsoft Partner India – Trusted Gold Partner</h2>
                <p>Unified Cloud Pvt Ltd is a Born-in-the-Cloud company that assists organizations in achieving digital
                    transformation by leveraging the Cloud. We are a strong team of 200+ employees, helping 1000+
                    customers in their cloud journey over the past 12+ years and having one of India's most prominent
                    teams of certified and experienced Azure engineers. We are Microsoft Gold Partner and Microsoft
                    Certified Migration, Managed Services, and DevOps, providing solutions around Cloud Consulting,
                    Migration, DevOps, Open AI, and Analytics with a presence in Noida and Gurgaon. Unified Cloud Pvt Ltd
                    (Unify Cloud) also won Microsoft Partner of the Year -2019, 2020, and 2022 Awards.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-5 text-md-end">
                <div>
                    <h4 class="display-6">Flexible subscription plans to fit your business needs</h4>
                    <p>Keep outdated tools from holding your business back. Upgrade to Windows 365 Business today and experience the power of productivity at your fingertips </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="ofcPkg ps-md-5">
                    <ul class="ofcPkgList">
                        <li>
                            <h5>Accessibility and Flexibility</h5>
                            <h6>Work Anywhere, Anytime</h6>
                            <p>Windows 365 allows you to access your Cloud PC from any device with an internet connection. So whether you're using a laptop, tablet, or smartphone, you can continue working seamlessly, regardless of your physical location.
                            </p>
                        </li>
                        <li>
                            <h5>Enhanced Security</h5>
                            <h6>Protect Your Data and Applications</h6>
                            <p>You can protect your data and applications with Windows 365 by storing them securely in the cloud, eliminating the risk of data breaches and unauthorized access. In addition, the platform incorporates Microsoft's robust security measures, including Multi-Factor Authentication (MFA) and advanced threat protection, ensuring your information is always safe.</p>
                        </li>
                        <li>
                            <h5>Scalability and Performance</h5>
                            <h6>Tailor Your Cloud PC to Your Needs</h6>
                            <p>Windows 365 allows you to scale your Cloud PC's resources according to your requirements. Choose from various plans with different processing power, storage, and memory levels to ensure optimal performance for your specific needs.</p>
                        </li>
                        <li>
                            <h5>Simplified IT Management</h5>
                            <h6>Streamline Your IT Operations</h6>
                            <p>Managing devices and applications becomes a breeze with Windows 365. The platform centralizes IT management, making deploying, updating, and monitoring your Cloud PCs easy. This tool reduces the complexity of managing multiple devices and software, allowing your IT team to focus on more critical tasks.</p>
                        </li>
                        <li>
                            <h5>Cost Efficiency</h5>
                            <h6>Save on Hardware and Maintenance Costs</h6>
                            <p>Windows 365 eliminates the need for expensive hardware upgrades and reduces maintenance costs. In addition, shifting to a cloud-based infrastructure allows you to allocate resources more efficiently and avoid the upfront costs associated with traditional PC setups.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-10" style="background-color: #f2f2f2;" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="hm7-title mb-5">
                    <h3 class="fw-bold">Explore Windows 365 Business plans</h3>
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="isChecked" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                        <label class="form-check-label fw-bold" for="flexSwitchCheckChecked">Yearly Plan</label>
                    </div>
                    <small>Current prices effective for the month of April 2023</small>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-12 crm-pricing-switch-wrapper ">
                <span class="title">Included Features</span>
                <p>Windows 365 Business gives you up to 300 licenses for Cloud PCs in your organization.<br>Securely stream your Windows experience - including your personalized apps, content, and settings - from the Microsoft cloud to any device with your Windows 365 Cloud PC.</p>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 4 GB, 64 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                3,51,864
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                32,037
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 4 GB, 128 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                3,84,912
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                35,046
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 4 GB, 256 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                4,83,408
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                44,014
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 8 GB, 128 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                4,94,424
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                45,017
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>2 vCPU, 8 GB, 256 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                5,93,568
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                54,044
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>4 vCPU, 16 GB, 128 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                7,69,176
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                70,033
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>4 vCPU, 16 GB, 256 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                8,68,320
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                79,060
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>4 vCPU, 16 GB, 512 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                11,54,088
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,05,079
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>8 vCPU, 32 GB, 128 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                13,95,792
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,27,086
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>8 vCPU, 32 GB, 256 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                14,94,936
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,36,113
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                            
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm p-3 pricing-column position-relative">
                    <div>
                        <div class="mb-4">
                            <h5><span class="m-0" style="font-size: 0.5em;">Windows 365 Business</span><br>8 vCPU, 32 GB, 512 GB</h5>
                            <span class="pricing-label d-block mt-4">From only</span>
                            
                            <h4 *ngIf="isChecked" class="h2 mt-2 yearly-price">
                                17,80,704
                                <span>/yr</span>
                            </h4>
                            <h4 *ngIf="!isChecked" class="h2 mt-2 monthly-price">
                                1,62,132
                                <span>/mo</span>
                            </h4>
                            <small>GST extra as applicable</small>
                             
                            <div *ngIf="!isChecked" class="text-center mb-2">
                                <small><strong><i>This plan will be billed annually and user can opt for emi option from their card provider</i></strong></small>
                                <strong></strong>
                            </div>
                            <div class="buynowbox">
                                <button class="ucBtn btn btn-primary buynow1" data-bs-toggle="modal" data-bs-target="#buySrcModal">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<div class="text-center py-5">
    <h4 class="h5 mb-0">For Discounts and bulk enquiry, please email your query to <a href="mailto:cspleads@unifycloud.in">cspleads@unifycloud.in</a></h4>
</div>

<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    <a href="tel:9717347546" class="d-inline-block h2 mb-0 fw-bolder text-dark">97173 47546</a>
                    <div class="clearfix"></div>
                    <a href="/lets-talk" class="text-dark fw-bold">Help me choose</a>
                </div>
            </div>
        </div>
    </div>
</section>
  
<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>