<section class="contctBg">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="mb-5">
                    <h6 class="text-white">Contact Us</h6>
                    <h5 class="fw-light h3 text-white">Reach out to one of our global contacts to learn how UnifyCloud and its CloudAtlas platform can automate and accelerate digital transformation</h5>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <div class="bg-white p-3 shadow-sm">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="assets/img/icons/setting.png" style="height: 80px;" />
                        </div>
                        <div class="col">
                            <h6>For Escalation</h6>
                            <p class="mb-0">Visit : www.unifycloud.in</p>
                            <p class="mb-0">Email : vivek@unifycloud.com</p>
                            <p class="mb-0">Call : +91 9990 6161 46</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-white p-3 shadow-sm">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="assets/img/icons/setting.png" style="height: 80px;" />
                        </div>
                        <div class="col">
                            <h6>Contact Support Team</h6>
                            <p class="mb-0">Mail us : cspvenkat@unifycloud.in</p>
                            <p class="mb-0">Call us : +91 9990 6161 46</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="bg-white p-3 shadow-sm">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="assets/img/icons/web-development.png" style="height: 80px;" />
                        </div>
                        <div class="col">
                            <h6>Contact Sales Team</h6>
                            <p class="mb-0">Mail us : isr@unifycloud.in</p>
                            <p class="mb-0">Call us : 97173 47546</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="bg-white p-3 shadow-sm">
                    <div class="row d-flex align-items-center">
                        <div class="col-auto">
                            <img src="assets/img/icons/office-building.png" style="height: 80px;" />
                        </div>
                        <div class="col">
                            <h6>Reach Us</h6>
                            <p class="mb-0">C-40, Sector- 58, Noida.</p>
                            <p class="mb-0">Uttar Pradesh - 201301 INDIA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-5 pt-3" style="background-color: #f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <h6>Have a more general question?</h6>
                    <h4 class="h4 fw-light">Fill out the form below and we’ll have the right person get back in touch with you.</h4>
                </div>
            </div>
            <div class="col text-md-end">
                <div class="mb-4 mb-md-0">
                    <a href="tel:9717347546" class="d-inline-block h1 fw-bolder text-dark">97173 47546</a>
                    <h5>10am - 4pm IST</h5>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-7 d-none">
                <div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Full Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email ID</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Phone No.</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Phone No.</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Concern</label>
                              </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="ucBtn btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                
                <div class="bg-white p-3 shadow-sm">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52904.5814165317!2d77.3070199576977!3d28.595185688915187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce593505ca473%3A0x34d4d612ec6d0402!2sThe%20Unified%20Cloud%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1677930295035!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>