.enqLeftDiv{

}
/*...Scroll Bar......*/
.enqLeftDiv::-webkit-scrollbar {
    width: 8px;
}

.enqLeftDiv::-webkit-scrollbar-track {
    background: #e8e8e8;
}

.enqLeftDiv::-webkit-scrollbar-thumb {
    background: #c8c6c6;
}

.enqLeftDiv::-webkit-scrollbar-thumb:hover {
        background: #5ac3e8;
    }
/*...End Scrollbar....*/
.enqItems h5{
    font-size: 16px;
    margin-bottom: 2px;

}
.enqItems h6{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}
.enqItems span{
    top: 20px;
    background-color: rgb(13, 202, 240);
    font-weight: 400;
    color: #000;
}
.enqItems a{
    cursor: pointer;
}
.enqSeen h5{
    color: #9f9f9f;
}
.enqSeen h6{
    color: #9f9f9f;
}
.enqSeen span{
    background-color: #979494;
}