<section class="py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-9 text-center text-md-start">
                <h1 class="mb-0 ">Streamline Migration with 6R Wave Planning Assessment </h1>
                
            </div>
            <div class="col-md-3 text-md-end text-center">
                <a href="/lets-talk" class="ucBtn btn btn-primary">Get Started <i class="icofont-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="py-10 light-bg">
    <div class="container">
        <div class="row align-items-center g-3">
            <div class="col-md-8">
                <p>Migration 6R Wave Planning Assessment is a cloud migration tool developed by UnifyCloud that
                    comprehensively assesses an organization's IT environment to determine the best cloud migration strategy.
                    This assessment uses a 6R wave planning methodology to analyze an organization's applications and data
                    sources and categorize them based on their suitability for migration to the cloud. This planning methodology
                    is a proven approach used in numerous cloud migration projects.</p>
                    <p>The Migration 6R Wave Planning Assessment provides a detailed analysis of an organization's IT environment,
                        including applications, data sources, and infrastructure. The tool identifies dependencies between applications
                        and data sources and recommends addressing them during migration. This information is critical for ensuring
                        a smooth and successful migration to the cloud. </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/img/cybersec.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="mb-1">Features of our Migration 6R Wave Planning Assessment
                </h3>
                <h6 class="mb-5">The Migration 6R Wave Planning Assessment has several aspects that make it an indispensable tool for cloud
                    migration. These features include: 
                    </h6>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <div class="shadow p-3">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icons/r1.jpg" alt="r1">
                        </div>
                        <div class="col">
                            <h5>Comprehensive Assessment</h5>
                            <p>The tool comprehensively assesses an organization's IT
                                environment to identify applications and data sources suitable for migration to the cloud. The
                                assessment also identifies dependencies between applications and data sources and provides
                                recommendations for addressing them.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="shadow p-3">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icons/r2.jpg" alt="r1">
                        </div>
                        <div class="col">
                            <h5>Application Portfolio Analysis</h5>
                            <p>Migration 6R Wave Planning Assessment analyses an
                                organization's application portfolio in-depth, determining which applications are best suited
                                for the cloud and which should remain on-premises. It also identifies the most appropriate
                                cloud service for each application based on performance, security, and cost factors. 
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="shadow p-3">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icons/r3.jpg" alt="r1">
                        </div>
                        <div class="col">
                            <h5>Infrastructure Analysis</h5>
                            <p>This assessment provides a detailed analysis of an organization's
                                infrastructure, identifying opportunities for optimization and cost savings. It also provides
                                recommendations for each application's most appropriate cloud infrastructure based on
                                workload, performance, and availability factors. 
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="shadow p-3">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icons/r4.jpg" alt="r1">
                        </div>
                        <div class="col">
                            <h5>Categorization of Applications and Data Sources</h5>
                            <p>The assessment tool categorizes
                                applications and data sources based on their suitability for migration to the cloud using the 6R
                                wave planning methodology. It is possible to rehost, refactor, revise, rebuild, or replace
                                applications and data sources. 
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="shadow p-3">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icons/r1.jpg" alt="r1">
                        </div>
                        <div class="col">
                            <h5>Migration Strategy Recommendations</h5>
                            <p>Based on the assessment, we recommend the best
                                migration strategy for each application and data source. The recommendations consider
                                factors such as cost, complexity, and business requirements. 
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="shadow p-3">
                    <div class="row">
                        <div class="col-auto">
                            <img src="/assets/img/icons/r1.jpg" alt="r1">
                        </div>
                        <div class="col">
                            <h5> Risk Assessment and Mitigation</h5>
                            <p>In light of the risk assessment results, we provide
                                recommendations for mitigating any risks that may arise during migration. This information is
                                critical for ensuring a smooth and successful migration to the cloud.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row g-3 justify-content-center">
            <div class="col-md-6">
                <h4>Benefits of UnifyCloud’s Migration 6R Wave Planning Assessment 
                </h4>
                <p><strong>1. Cost Savings:</strong> Migration 6R Wave Planning Assessment helps businesses identify opportunities for cost
                    savings by optimizing their cloud migration strategy. It allows organizations to avoid costly mistakes, such as
                    over-provisioning resources, underutilizing cloud services, and failing to manage cloud costs properly. 
                    </p>
                    <p><strong>2. Risk Reduction:</strong> Cloud migration risks, such as data loss, security breaches, and downtime, can be mitigated
                        with UnifyCloud's Migration 6R Wave Planning Assessment. It provides a comprehensive risk assessment that
                        identifies potential security and compliance issues and recommends mitigating them. 
                        </p>
                        <p><strong>3. Faster Time to Value:</strong> Migration to the cloud is faster and easier with Migration 6R Wave Planning
                            Assessment. It provides a detailed roadmap for the migration process, including timelines and milestones, to
                            ensure the migration is completed on time and within budget. </p>
            </div>
        </div>
    </div>
</section>

<section class="light-bg py-5">
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-md-10 text-center mt-5">
                <h3 class="mb-5">How to get started with Migration 6R Wave Planning Assessment 
                </h3>
                <h6>Getting started with Migration 6R Wave Planning Assessment is easy. But first, contact us to schedule an
                    assessment of your IT environment. 
                    </h6>
                    <p><i>The assessment will provide a detailed report on the following: </i></p>
                <div class="shadow p-3 mb-4">
                    Comprehensive assessment of your existing IT environment
                </div>
                <div class="shadow p-3 mb-4">
                    Design an optimal migration plan
                </div>
                <div class="shadow p-3 mb-4">
                    Identification and assessment of potential risks and costs 

                </div>
                <div class="shadow p-3 mb-4">
                    Recommendations for mitigating risks and reducing costs 

                </div>
                <div class="shadow p-3 mb-4">
                    Integration of user requirements and business objectives into the plan 
                </div>
                <div class="shadow p-3 mb-4">
                    Customizable migration waves for rapid and reliable migration
                </div>
                <div class="shadow p-3 mb-4">
                    Automation of the migration process
                </div>
                <div class="shadow p-3 mb-4">
                    Monitoring and reporting of migration progress
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5" style="background-color: gainsboro;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h3>Not sure which plan is right for you?</h3>
                <h6>Take a short assessment to find your perfect match.</h6>
            </div>
            <div class="col-md-5 text-md-end">
                <div>
                    
                    <button data-bs-toggle="modal" data-bs-target="#buySrcModal" class="animated fadeInUp ucBtn btn btn-primary">Get
                        Started</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="buySrcModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ready to get started</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- <h6>
                        <p>Fill out the form to be connected to one of our experts.</p>
                    </h6> -->
                    <app-enquiryform></app-enquiryform>
                </div>
            </div>
        </div>
    </div>
</div>