<section class="py-10 light-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-bold">
                    Cancellation and Refund Policy
                </h2>
                <p>Thank you for shopping at The Unified Cloud Pvt Ltd – (Unify Cloud India) – www.unifycloud.in </p>
                <p>If, for any reason, you are not completely satisfied with the purchase, we invite you to review our policy on refunds and cancellations. The following terms are applicable for any products that you purchased from us.</p>
                <h4>Definitions</h4>
                <h6>For the purposes of this Return and Refund Policy: –</h6>
                <ul>
                    <li>Company (referred to as either “the Company”, “We”, “Us” or “Our” in this Agreement) refers to The Unified Cloud Private Limited – C 40 Sector 58, Noida , 201301 India.</li>
                    <li>Goods refer to the items offered for sale on the Service.</li>
                    <li>Orders mean a request by you to purchase goods from us.</li>
                    <li>Service refers to the Website.</li>
                    <li>Website refers to www.unifycloud.in by Unify Cloud India </li>
                    <li>You mean the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
                </ul>
                <h4>Your Order Cancellation Rights</h4>
                <p>You are entitled to cancel Your Order within 7 days with a reliable reason.</p>
                <p><strong>The deadline for cancelling an order is 7 days from the date on which you placed the order for digital goods. In order to exercise your right of cancellation, you must inform us of your decision by means of a clear statement. You can inform us of your decision by:</strong></p>
                <ul>
                    <li>By email:  <a href="mailto:cspvenkat@unifycloud.in">cspvenkat@unifycloud.in</a> with a copy to <a href="mailto:vivek@unifycloud.in">vivek@unifycloud.in</a>  </li>
                    <li>Or, by visiting this page on our website: <a routerLink="/contact">https://www.unifycloud.in/contact</a> </li>
                </ul>

                <h4>Conditions for Cancellations</h4>
                <h6>For the digital goods to be eligible for a cancellation, please make sure that:</h6>
                <ul>
                    <li>The digital goods were purchased in the last 7 days.</li>
                    <li>You have proper proof of purchase and invoices.</li>
                    <li>A valid reason for cancellation.</li>
                </ul>
                <p>We reserve the right to refuse cancellation of any order that does not meet the above conditions in our sole discretion.</p>
                <h4>Refunds</h4>
                <p>We will reimburse the amount within 30 days from the day we receive the cancellation of the subscription or services. We will deduct the applicable charges on the basis of services used by you and then reimburse the remaining amount.</p>
                <p>We will send you an email to notify you that we have received your cancellation request. We will also notify you of the approval or rejection of your refund.</p>
                <ol>
                    <li>In case of late/missing refund, please follow the procedure as follows: –
                        <ol>
                            <li>If you haven’t received a refund yet, first check your bank account/ the method you have used to pay the billing amount.</li>
                            <li>Next, contact your bank or service provider. There is often some processing time before a refund is posted.</li>
                            <li>If you’ve done all of this and you still have not received your refund yet, please contact us at <a href="mailto:cspvenkat@unifycloud.in">cspvenkat@unifycloud.in</a>.</li>

                        </ol>
                    </li>
                    <li>Refund shall be subject to Buyer complying with these terms and other policies if any agreed and signed between the parties in pursuance thereof.</li>

                </ol>

                <h4>Changes to this Policy</h4>
                <p>Unify Cloud India may at any time, without notice to you and its sole discretion, amend this policy periodically. You are expected to check this policy from time to time, or before making a purchase for updates.</p>
                <h4>Contact Us
                </h4>
                <h6>If you have any questions about our Cancellations and Refunds Policy, please contact us:</h6>
                <ul>
                    <li>By email:  <a href="mailto:cspvenkat@unifycloud.in"></a> with a copy to <a href="mailto:vivek@unifycloud.in"></a>  </li>
                    <li>Or, by visiting this page on our website: <a routerLink="/contact">https://www.unifycloud.in/contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>